<% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
<div class="col-md-4 <%= 'hide' if index > 2 %>">
  <div class="product-wrapper">
    <div class="product-wrapper-inner product-tile">
      <span class="label <%= product_type_class(product) %>"><%= product.curriculum.try(:name) || 'General' %></span>
        <div class="product-title-wrapper">
          <h5 class="product-title margin-top margin-bottom--s"><%= truncate(product.name, length: 50) %></h5>
        </div>
      <p class="product-description">
        <%= truncate_html(product.short_description, length: 130) %>
      </p>
    </div>
    <%= link_to 'Launch Product', spree.launch_product_path(product), class: 'btn btn-primary' %>
  </div>
</div>
