<div class="row">
  <div class="col-xs-12 col-lg-5">
    <h4>Recent Resources</h4>
  </div>

  <div class="col-xs-7 col-lg-4">
    <%= link_to new_account_coupon_code_path, class: 'btn btn-sm btn-default btn-block margin-bottom--xl hide js-product-key', id: 'new-coupon-code-btn', remote: true do %>
      Product Key
    <% end %>
  </div>

  <div class="col-xs-5 col-lg-3">
    <div class="dropdown dropdown-ol <%= 'open' if Curriculum.visibles.map(&:id).include? params[:curriculum_id].to_i %>">
      <button class="btn btn-default btn-sm btn-block dropdown-toggle dropdown-ol-btn margin-bottom--xl" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Refine
        <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
      </button>
      <ul class="dropdown-menu dropdown-ol-menu">
        <% Curriculum.visibles.where.not(name: "Science").each do |curriculum| %>
          <li class="dropdown-ol-item <%= ('active' if params[:curriculum_id] == curriculum.id.to_s)%> ">
            <%= link_to curriculum.name, "#{account_products_url}?curriculum_id=#{curriculum.id}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% products.each do |product| %>
  <%= link_to account_launch_product_url(product.id), class: 'card-link' do %>
    <div class="card <%= card_type_class(product) %>">
      <div class="card-meta"><%= product.curriculum.try(:name) %></div>
      <h4 class="card-title"><%= product.name %></h4>
      <% if product.free? %>
        <span class="card-delete free-product-delete-btn"><i class="mi md-18">clear</i></span>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if products.total_count < 4 %>
  <div class="well text-center">
    <h4 class="bh5 margin-bottom--reset">You have <%= products.total_count %> resources</h4>
    <h4 class="bh5 margin-bottom--reset">Explore more in the <%= link_to "shop", "/store" %></h4>
  </div>
<% end %>
