<div class="swiper-container swiper-container--media-left margin-bottom--l">
  <div class="swiper-wrapper">
    <% @recommendations.each do |recommendation| %>
      <div class="swiper-slide">
        <div class="card card-media card-<%= recommendation.subject.downcase %> card--media-left">
          <div class="card-image <%# if contain image is checked add class card-image--contain %>" style="background-image: url('<%= recommendation.image_url %>')"></div>
          <div class="card-media--content">
            <div class="card-meta"><%= recommendation.subject %></div>
            <h4 class="card-title"><%= recommendation.title %></h4>
            <p><%= truncate(recommendation.sub_header, length: 75, escape: false) rescue '' %></p>
            <%= link_to recommendation.call_to_action_button_text, account_recommendation_path(recommendation), class: 'btn btn-primary', target: recommendation.call_to_action_button_target %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="swiper-pagination-wrapper">
    <div class="swiper-button-prev">
      <i class="mi md-24">chevron_left</i>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next">
      <i class="mi md-24">chevron_right</i>
    </div>
  </div>
</div>

<script>
 var mySwiper = new Swiper ('.swiper-container', {
   direction: 'horizontal',
   loop: true,
   autoplay: 5000,
   autoHeight: true,
   pagination: '.swiper-pagination',
   paginationClickable: true,
   nextButton: '.swiper-button-next',
   prevButton: '.swiper-button-prev'
 });
</script>
