<h4 class="recommends-title js-recommends">What's new?</h4>

<% @whats_news.each do |whats_new| %>
  <div>Title: <%= whats_new.title %></div>
  <div>CTA Text: <%= whats_new.call_to_action_button_text %></div>
  <div>CTA Link: <%= whats_new.call_to_action_button_link %></div>
  <div>CTA Target: <%= whats_new.call_to_action_button_target %></div>
  <div>User title: <%= whats_new.user_title %></div>
  <div>Subject: <%= whats_new.subject %></div>
  <div>Real link in call to action: <%= link_to whats_new.call_to_action_button_text, account_whats_new_path(whats_new), class: 'btn btn-link', target: whats_new.call_to_action_button_target %></div>
<% end %>