<div class="wrapper account-page">
  <div class="content sidebar-right">
    <%= render partial: 'notifications', locals: { notifications: @notifications } %>
    <div class="products">
      <%= render 'my_products' %>
    </div>
    <div class="row">
      <div class="recommends col-md-6">
        <%= render 'recommends' %>
      </div>
      <div class="twitter-feed-container col-md-6">
        <%= render 'account/twitter' %>
      </div>
    </div>
  </div>
  <div class="fixed-sidebar right page-has-subnav">
    <div class="recent-history">
      <%= render 'recent_activities' %>
    </div>
  </div>
</div>
