<div class="wrapper account-page">

  <%= render partial: 'notifications', locals: { notifications: @notifications } %>

  <div class="row">
    <div class="col-sm-12">
      <h2>My Resources</h2>
    </div>
  </div>

  <div class="row">
    <% if @my_products.length == 0 %>
      <div class="col-sm-12">
        <div class="jumbotron">
          <h2>You haven’t checked out any products yet!</h2>
          <%= link_to 'Visit Store', account_shop_of_interest_path, class: 'btn btn-default' %>
        </div>
      </div>
    <% else %>
      <div class="my-products-container">
        <div class="js-my-products" style="width: 321px; height: 269px; position: absolute; bottom: 0; z-index: 0;"></div>
        <%= render 'my_products' %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="recommends col-md-7">
      <%= render 'recommends' %>
    </div>
    <% if code = current_spree_user.twitter_list_code %>
      <div class="twitter-feed-container col-md-5">
        <%= render partial: 'twitter', locals: { code: code } %>
      </div>
    <% end %>
  </div>

</div>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function(){
      var url = "/account/save_grade_option";
      $("#grade_option").change(function(e){
        $.ajax({
          url: url,
          type: 'POST',
          data: { grade_option: $(this).val() }
        });
      });

      <% unless current_spree_user.tour_showed_dashboard? %>
        $.get('/account/tour/dashboard');
      <% end %>
    });
  <% end %>
<% end %>
