<h2>Profile Information</h2>
<%= form_for(spree_current_user, as: :spree_user, url: '/account/save_profile') do |f| %>
  <% if current_spree_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_spree_user.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
        <% current_spree_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>First name</label>
        <%= f.text_field :first_name, class: 'form-control', tabindex: 1 %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Last name</label>
        <%= f.text_field :last_name, class: 'form-control', tabindex: 2 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Email Address</label>
        <%= f.text_field :email, class: 'form-control', tabindex: 3 %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Phone Number</label>
        <%= f.text_field :phone, class: 'form-control', tabindex: 4, placeholder: '123-123-1234' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Current Password</label>
        <%= password_field_tag :current_password, nil, class: 'form-control', tabindex: 5 %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Password</label>
        <%= f.password_field :password, class: 'form-control', tabindex: 6 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Zip Code</label>
        <%= f.text_field :zip_code, class: 'form-control', tabindex: 7 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Subject(s) you are interested in</label>
        <%= f.collection_select :interested_subjects, Curriculum.visibles, :id, :name, { include_hidden: false, multiple: true }, { class: 'form-control', tabindex: 7, multiple: 'multiple' } %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <div class="checkbox">
          <label>
            <%= f.check_box :allow_communication, tabindex: 8 %> Newsletter and Updates
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Select your Role</label>
        <div class="select-container dark-select block margin-bottom--reset">
          <span>Please select your role</span>
          <%= f.select :title, options_for_select(USER_TITLES, f.object.title), { prompt: 'Please select your role' }, { class: 'form-control', tabindex: 9 } %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Title</label>
        <%= f.text_field :manual_title, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row hide" id='phone-field'>
    <div class="col-sm-6">
      <label>Phone</label>
      <%= f.text_field :phone, class: 'form-control', placeholder: '123-123-1234' %>
    </div>
  </div>

  <%= render partial: 'spree/shared/custom_field_values_form', locals: { f: f }  %>

  <div class="school-district-details collapse">
    <h2>Let's get some specifics about your school</h2>

    <div id="schoolDistrictSelect">
      <p>Is this a school or a district?</p>
      <div class="form-group">
        <div class="radio">
          <% f.object.school_district ||= SchoolDistrict.new(place_type: 'school') %>
          <%= f.fields_for :school_district do |school_district_form| %>
            <label>
              <%= school_district_form.radio_button :place_type, 'school' %>
              This is a School
            </label>
            <label>
              <%= school_district_form.radio_button :place_type, 'district' %>
              This is Multiple Schools/District
            </label>
          <% end %>
        </div>
      </div>
    </div>

    <%= f.hidden_field :school_district_id %>

  <% us_country = Spree::Country.find_by(iso: 'US') %>

  <% selected_country_id = current_spree_user.school_district.try(:country).try(:id) || us_country.id %>
  <% selected_country = Spree::Country.find_by(id: selected_country_id) %>

    <div class="row">
      <div class="col-md-6">
        <label>Country</label>
        <div class="form-group school-district select-container dark-select block">
          <span><%= current_spree_user.school_district.try(:country) ? current_spree_user.school_district.country.name : 'Select a Country' %></span>
          <%= f.fields_for :school_district do |school_district_form| %>
            <%= school_district_form.collection_select :country_id, country_list, :id, :name, { prompt: true } , { class: 'form-control' } %>
          <% end %>
        </div>
      </div>
    </div>

  <% us_selected = (selected_country_id.to_i == us_country.id) %>

  <div id="state-input-wrapper" class="row <%= 'hide' if !us_selected %>">
      <div class="col-md-6">
        <label>State</label>
        <div class="form-group school-district select-container dark-select block">
          <span><%= current_spree_user.school_district.try(:state) ? current_spree_user.school_district.state.name : 'Select a State' %></span>
          <%= f.fields_for :school_district do |school_district_form| %>
            <%= school_district_form.collection_select :state_id, us_country.states, :id, :name, { prompt: true  } , { class: 'form-control', disabled: !us_selected } %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>City</label>
        <div class="form-group">
          <%= f.fields_for :school_district do |school_district_form| %>
            <%= school_district_form.text_field :city, class: 'form-control' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row collapse <%= 'in' if current_spree_user.school_district.try(:place_type) == 'district' %> fade" id="rowDistrictSelect">
      <div class="col-md-6 col-xs-5">
        <div class="form-group">
          <label>Select a District</label>
          <%= f.hidden_field :district_id, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-6 col-xs-7">
          <p class="district-not-found none">
            <%= mi.info.md_18 %> It looks like we don't have a match for that name. Please try again or help us by <a href="#" class="add-district-link">adding your district</a>.
          </p>
        </div>
    </div>

    <div class="row collapse <%= 'in' if current_spree_user.school_district.try(:place_type) == 'school' %> fade" id="rowSchoolSelect">
      <div class="col-md-6 col-xs-5">
        <div class="form-group">
          <label>Select a School</label>
          <%= f.hidden_field :school_id, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-6 col-xs-7">
        <p class="school-not-found none">
          <%= mi.info.md_18 %> It looks like we don't have a match for that name. Please try again or help us by <a href="#" class="add-school-link">adding your school</a>.
        </p>
      </div>
    </div>

    <div class="input-group add-district-field collapse fade" id="rowAddDistrict">
      <%= f.fields_for :school_district do |school_district_form| %>
        <%= school_district_form.text_field :name, class: 'form-control school-district-control', placeholder: 'New District Name' %>
      <% end %>
      <span class="input-group-btn">
        <button type="button" class="btn btn-danger" id="closeAddDistrict"><i class="mi">close</i></button>
      </span>
    </div>

    <div class="input-group add-school-field collapse fade" id="rowAddSchool">
      <%= f.fields_for :school_district do |school_district_form| %>
        <%= school_district_form.text_field :name, class: 'form-control school-district-control', placeholder: 'New School Name' %>
      <% end %>
      <span class="input-group-btn">
        <button type="button" class="btn btn-danger" id="closeAddSchool"><i class="mi">close</i></button>
      </span>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-3">
      <button class="btn btn-success btn-block" tabindex="15">Save</button>
    </div>
    <div class="col-sm-3">
      <button href="#" class="btn btn-link" tabindex="16">Cancel</button>
    </div>
  </div>
  <script type="text/javascript">
    window.us_country_id = '<%= us_country.id %>';
  </script>
<% end %>
<script type="text/javascript">
//<![CDATA[
  (function($){
    $(".school-district-input-toggle").click(function(){
      $('.school-district-control').removeClass('hidden');
      $(".school-district-input-toggle").addClass('hidden');
      $("select[name='user[school_district_id]']").val(null);
    });
    $("select[name='user[school_district_id]']").change(function(){
      var value = $(this).val();
      if(value) {
        $('.school-district-control').addClass('hidden');
        $(".school-district-input-toggle").removeClass('hidden');
      }
    });
    $("#user_title").change(function(e){
      toggleSchoolDistrict();
    });

    function toggleSchoolDistrict() {
      if(shouldShowDistrict($('#user_title').val())) {
        $(".school-district-input").removeClass('hide');
      } else {
        $(".school-district-input").addClass('hide');
      }
    }

    $('#user_interested_subjects').select2();
    toggleSchoolDistrict();
  })(jQuery);
//]]>
</script>
