<h2>Profile Information</h2>
<%= form_for(spree_current_user, url: '/account/save_profile') do |f| %>
  <% if current_spree_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_spree_user.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
        <% current_spree_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>First name</label>
        <%= f.text_field :first_name, class: 'form-control', tabindex: 1 %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Last name</label>
        <%= f.text_field :last_name, class: 'form-control', tabindex: 2 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Email Address</label>
        <%= f.text_field :email, class: 'form-control', tabindex: 3 %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Phone Number</label>
        <%= f.text_field :phone, class: 'form-control', tabindex: 4 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Current Password</label>
        <%= password_field_tag :current_password, nil, class: 'form-control', tabindex: 5 %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Password</label>
        <%= f.password_field :password, class: 'form-control', tabindex: 6 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Subjects you are interested in</label>
        <%= f.collection_select :interested_subjects, Curriculum.visibles, :id, :name, { include_hidden: false, multiple: true }, { class: 'form-control', tabindex: 7, multiple: 'multiple' } %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <div class="checkbox">
          <label>
            <%= f.check_box :allow_communication, tabindex: 8 %> Newsletter and Updates
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Select your Role</label>
        <div class="select-container dark-select block margin-bottom-reset">
          <span>Please select your role</span>
          <%= f.select :title, options_for_select(USER_TITLES, f.object.title), { prompt: 'Please select your role' }, { class: 'form-control', tabindex: 9 } %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 school-district-input">
      <div class="form-group">
        <label>Select School District</label>
        <div class="select-container dark-select block margin-bottom-reset">
          <span>Select your district</span>
          <%= f.collection_select :school_district_id, SchoolDistrict.for_selection.all, :id, :name, { include_blank: t(:district_not_listed), prompt: 'Please select your district' }, { class: 'form-control', tabindex: 10, disabled: (f.object.school_district_id.present? ? true : false) } %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 school-district-input school-district-control <%= 'hidden' if current_spree_user.school_district_id.present? %>">
      <div class="form-group">
        <label>District State</label>
        <div class="select-container dark-select block margin-bottom-reset">
          Select your district state
          <% f.object.school_district ||= SchoolDistrict.new(place_type: 'school') %>
          <%= f.fields_for :school_district do |school_district_form| %>
            <%= school_district_form.collection_select :state_id, Spree::Country.find_by(iso: 'US').states, :id, :name, { prompt: true } , { class: 'form-control', tabindex: 11 } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 school-district-input">
      <label>Add District Name</label>
      <div class="input-group">
        <% f.object.school_district ||= SchoolDistrict.new(place_type: 'school') %>
        <%= f.fields_for :school_district do |school_district_form| %>
          <%= school_district_form.text_field :name, class: "form-control school-district-control #{'hidden' if current_spree_user.school_district_id.present?}", placeholder: 'New District Name', tabindex: 12 %>
        <% end %>
        <span class="input-group-btn">
          <button class="btn btn-primary margin-right-reset">
            <i class="fa fa-plus"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 school-district-input school-district-control <%= 'hidden' if current_spree_user.school_district_id.present? %>">
      <div class="form-group">
        <label>Is this a school or a district?</label>
        <div class="form-inline">
          <%= f.fields_for :school_district do |school_district_form| %>
            <div class="radio">
              <label>
                <%= school_district_form.radio_button :place_type, 'school', tabindex: 13 %>
                School
              </label>
            </div>
            <div class="radio">
              <label>
                <%= school_district_form.radio_button :place_type, 'district' %>
                District
              </label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-3">
      <button class="btn btn-success btn-block" tabindex="15">Save</button>
    </div>
    <div class="col-sm-3">
      <button href="#" class="btn btn-link" tabindex="16">Cancel</button>
    </div>
  </div>
<% end %>
<script type="text/javascript">
//<![CDATA[
  (function($){
    $(".school-district-input-toggle").click(function(){
      $('.school-district-control').removeClass('hidden');
      $(".school-district-input-toggle").addClass('hidden');
      $("select[name='user[school_district_id]']").val(null);
    });
    $("select[name='user[school_district_id]']").change(function(){
      var value = $(this).val();
      if(value) {
        $('.school-district-control').addClass('hidden');
        $(".school-district-input-toggle").removeClass('hidden');
      }
    });
    $("#user_title").change(function(e){
      toggleSchoolDistrict();
    });

    function toggleSchoolDistrict() {
      if(shouldShowDistrict($('#user_title').val())) {
        $(".school-district-input").removeClass('hide');
      } else {
        $(".school-district-input").addClass('hide');
      }
    }

    $('#user_interested_subjects').select2();
    toggleSchoolDistrict();
  })(jQuery);
//]]>
</script>
