<% content_for :page_title do %>
  <%= Spree.t(:new_product_key) %>
<% end %>

<%= form_for [:admin, @coupon_code] do |f| %>
  <fieldset>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label>Key</label>
          <%= f.text_field :code, class: 'form-control', placeholder: 'Leave this field blank for auto generated' %>
        </div>
        <div class="form-group">
          <label>School/District</label>
          <%= f.text_field :school_district_id, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label>Upload list of schools</label>
          <%= f.file_field :schools_xls %>
          <%= f.hidden_field :school_lists %>
        </div>
        <div class="form-group">
          <label>Products</label>
          <%= f.text_field :product_ids, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label>Total Quantity</label>
          <%= f.text_field :total_quantity, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label>Would you like to sync the assets to an existing order?</label>
          <%= f.select :sync_specified_order, [['Yes', 1], ['No', 0]], { prompt: 'Choose Option' }, class: 'form-control' %>
        </div>
        <div class="form-group hide" id="sf_order_id_field">
          <label>SF Order ID (sync assets to the specify order, Optional)</label>
          <%= f.text_field :sf_order_id, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t(:create), 'save' %>
    </div>
  </fieldset>
<% end %>

<script type="text/javascript">
  $(function(){
     $("#coupon_code_product_ids").select2({
        placeholder: "Select product",
        multiple: true,
        ajax: {
          url: '/storeapi/products',
          datatype: 'json',
          data: function (term, page) {
            return {
              per_page: 50,
              page: page,
              without_children: true,
              q: {
                name_cont: term
              },
              token: Spree.api_key
            };
          },
          results: function (data, page) {
            var more = page < data.pages;
            return {
              results: data['products'],
              more: more
            };
          }
        },
        formatResult: function (product) {
          return product.name + ' - ' + product.internal_name;
        },
        formatSelection: function (product) {
          return product.name + ' - ' + product.internal_name;
        }
     });

     $("#coupon_code_school_district_id").select2({
        placeholder: "Select school/district",
        multiple: false,
        ajax: {
          url: '/store/admin/school_districts',
          datatype: 'json',
          data: function (term, page) {
            return {
              per_page: 50,
              page: page,
              without_children: true,
              q: term,
              token: Spree.api_key
            };
          },
          results: function (data, page) {
            var more = page < data.pages;
            return {
              results: data['school_districts'],
              more: more
            };
          }
        },
        formatResult: function (product) {
          return product.name;
        },
        formatSelection: function (product) {
          return product.name;
        }
     });

    $('#coupon_code_sync_specified_order').change(function(){
      if($(this).val() == '1') {
        $('#sf_order_id_field').removeClass('hide');
      } else {
        $('#sf_order_id_field').addClass('hide');
      }
    });
  });
</script>
