<% content_for :page_title do %>
  <%= Spree.t(:new_product_key) %>
<% end %>

<%= form_for @admin_new_coupon_code_form, url: spree.admin_coupon_codes_path, as: :coupon_code do |f| %>
  <fieldset>
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <label>Key</label>
          <%= f.text_field :code, class: 'form-control', placeholder: 'Leave this field blank for auto generated' %>
        </div>
        <div class="form-group">
          <label>Admin Email</label>
          <%= f.text_field :admin_email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label>School/District</label>
          <%= f.text_field :school_district_id, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label>Upload list of schools</label>
          <%= f.file_field :schools_xls %>
          <%= f.hidden_field :school_lists %>
        </div>
        <div class="form-group">
          <label>Total Quantity</label>
          <%= f.text_field :total_quantity, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label>Products</label>
          <%= f.text_field :product_ids, class: 'form-control' %>
        </div>

        <div class="form-group">
          <label>Would you like to sync the assets to an existing order?</label>
          <%= f.select :sync_specified_order, [['Yes', 1], ['No', 0]], { prompt: 'Choose Option' }, class: 'form-control' %>
        </div>
        <div class="form-group hide" id="sf_order_id_field">
          <label>SF Order ID (sync assets to the specify order, Optional)</label>
          <%= f.text_field :sf_order_id, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label>Amount</label>
          <%= f.text_field :amount, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label>Payment Method</label>
          <%= f.collection_select :payment_method_id, @payment_methods, :id, :name, { include_blank: 'Select Payment Method' }, class: 'form-control' %>
        </div>

        <ul class="nav" id="payment-methods" data-hook>
          <% @payment_methods.each do |method| %>
            <li id="payment_method_<%= method.id %>" class="payment-method" style="display: none;">
              <fieldset>
                <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
              </fieldset>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t(:create), 'save' %>
    </div>
  </fieldset>
<% end %>

<script type="text/javascript">
  $(function(){

    $("#coupon_code_product_ids").select2({
      placeholder: "Select product",
      multiple: true,
      ajax: {
        url: '/storeapi/products',
        datatype: 'json',
        data: function (term, page) {
          return {
            per_page: 50,
            page: page,
            without_children: true,
            q: {
              name_cont: term
            },
            token: Spree.api_key
          };
        },
        results: function (data, page) {
          var more = page < data.pages;
          return {
            results: data['products'],
            more: more
          };
        }
      },
      formatResult: function (product) {
        return product.internal_name;
      },
      formatSelection: function (product) {
        return product.internal_name;
      }
    });
    
     $("#coupon_code_school_district_id").select2({
        placeholder: "Select school/district",
        multiple: false,
        ajax: {
          url: '/store/admin/school_districts',
          datatype: 'json',
          data: function (term, page) {
            return {
              per_page: 50,
              page: page,
              without_children: true,
              q: term,
              token: Spree.api_key
            };
          },
          results: function (data, page) {
            var more = page < data.pages;
            return {
              results: data['school_districts'],
              more: more
            };
          }
        },
        formatResult: function (product) {
          return product.name;
        },
        formatSelection: function (product) {
          return product.name;
        }
     });

    $('#coupon_code_sync_specified_order').change(function(){
      if($(this).val() == '1') {
        $('#sf_order_id_field').removeClass('hide');
      } else {
        $('#sf_order_id_field').addClass('hide');
      }
    });


    $('#coupon_code_payment_method_id').change(function(){
      var paymentMethodId = $(this).val();
      togglePaymentMethod(paymentMethodId);
    });

    function togglePaymentMethod(paymentMethodId) {
      $('.payment-method').hide();
      $('#payment-methods :input').prop('disabled', true);
      $("#payment_method_" + paymentMethodId).show();
      $("#payment_method_" + paymentMethodId + ' :input').prop('disabled', false);
    }

    togglePaymentMethod($('#coupon_code_payment_method_id').val());

    $(".cardNumber").payment('formatCardNumber');
    $(".cardExpiry").payment('formatCardExpiry');
    $(".cardCode").payment('formatCardCVC');

    $(".cardNumber").change(function(){
      $(this).parent().siblings(".ccType").val($.payment.cardType($(this).val()));
    });
  });
</script>
