<%= form_for([:cms, @training_type_category, @event_training], class: 'form') do |f| %>
  <% if @event_training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_training.errors.count, "error") %> prohibited this event_training from being saved:</h2>

      <ul>
      <% @event_training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label "Sub header" %>
        <%= f.select :event_training_header_id, options_for_select(@training_type_category.event_training_headers.collect{|h| [h.name, h.id]}), { prompt: 'Select Header' }, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :position %>
        <%= f.number_field :position, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :category %>
        <%= f.select :category, options_for_select(EventTraining::CATEGORIES, f.object.category), { prompt: 'Select Category' }, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label "Training Type" %>
        <%= f.text_field :training_type, class: 'form-control' %>
        <small class="help-text">This field mapping to ClientEventID in regonline events, for example: regonline filter,your training type, the words after first comma is training type</small>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control rich-editor' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
