<%= render 'cms_nav' %>

<div class="col-md-9">
  <section>
    <div class='row'>
      <h2>Event Training Lists</h2>
      <%= link_to 'Create new event training', new_cms_event_training_path, class: 'btn btn-primary' %>
      <table class='table table-responsive table-striped table-hover'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Training Type</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @event_trainings.each do |event_training| %>
            <tr>
              <td><%= event_training.title %></td>
              <td><%= event_training.training_type %></td>
              <td><%= link_to 'Edit', edit_cms_event_training_path(event_training) %></td>
              <td><%= link_to 'Destroy', [:cms, event_training], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @event_trainings %>
    </div>
  </section>
</div>
