<%= render 'cms_nav' %>


<div class="col-md-9">
  <h2>Training Session Types</h2>
  <%= link_to 'New training session type', new_cms_training_type_category_event_training_path(@training_type_category), class: 'btn btn-primary margin-bottom--xl' %>
  <div class="table-responsive">
    <table class='table table-striped table-hover event-trainings-list'>
      <thead>
        <tr>
          <th>Title</th>
          <th>Position</th>
          <th>Category</th>
          <th>Training Session Type</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @event_trainings.each do |event_training| %>
          <tr data-id="<%= event_training.id %>">
            <td><%= event_training.title %></td>
            <td><%= event_training.position %></td>
            <td><%= event_training.category %></td>
            <td><%= event_training.training_type %></td>
            <td><%= link_to 'Edit', edit_cms_training_type_category_event_training_path(@training_type_category, event_training) %></td>
            <td><%= link_to 'Destroy', [:cms, @training_type_category, event_training], method: :delete, data: { confirm: 'Are you sure?' }, class: 'text--danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'Back to Categories', cms_training_type_categories_path, class: 'btn btn-primary' %>
</div>
<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    var url ="<%= update_positions_cms_training_type_category_event_trainings_path(@training_type_category) %>"
    function updatePositions() {
      var data = {}
      $.each($(".event-trainings-list tbody tr"), function(index, element) {
        data[$(element).attr('data-id')] = index;
      });
      $.ajax({
        url: url,
        type: 'POST',
        data: { positions: data }
      })
    }
    $(function(){
      $(".event-trainings-list").sortable({
        containerSelector: 'table',
        itemPath: '> tbody',
        itemSelector: 'tr',
        placeholder: '<tr class="placeholder"/>',
        onDrop: function  (item, container, _super) {
          _super(item);
          updatePositions();
        }
      })
    });
  <% end %>
<% end %>
