<div class="col-md-9">
  <h2>Products of <%= @download_page.title %></h2>
  <%= link_to 'Add Product to download', new_admin_download_page_download_product_path(@download_page), class: 'btn btn-primary margin-bottom--xl', remote: true %>
  <table class="table" id="download-products-list">
    <thead>
      <tr>
        <th>Product</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @download_products.each do |download_product| %>
        <tr data-id="<%= download_product.id %>">
          <td><%= download_product.product.internal_name %></td>
          <td><%= link_to 'Delete', admin_download_page_download_product_path(@download_page, download_product), class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?', method: :delete } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_tag do %>
  function updatePositions() {
    var data = {}
    $.each($("#download-products-list tbody tr"), function(index, element) {
      data[$(element).attr('data-id')] = index;
    });
    $.ajax({
      url: '/resources/admin/download_pages/<%= @download_page.id %>/download_products/update_positions',
      type: 'POST',
      data: { positions: data }
    })
  }
  $(function(){
    $("#download-products-list tbody").sortable({
      update: function(event, ui) {
        updatePositions();
      }
    });
  });
<% end %>
