<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Curriculum Page</th>
        <th>Store Url</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @curriculum_shops.each do |curriculum_shop| %>
        <tr>
          <td><%= curriculum_shop.title %></td>
          <td><%= curriculum_shop.page.group_name %></td>
          <td><%= curriculum_shop.url %></td>
          <td class="text-right">
            <%= link_to 'Edit', edit_cms_curriculum_shop_path(curriculum_shop), class: 'btn btn-default' %>
            <%= link_to 'Delete', cms_curriculum_shop_path(curriculum_shop), class: 'btn btn-danger', data: { confirm: 'Are you sure?', method: :delete } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @curriculum_shops %>
