<%= form_for([:cms, @curriculum_shop], class: 'form') do |f| %>
  <% if @curriculum_shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curriculum_shop.errors.count, "error") %> prohibited this curriculum_shop from being saved:</h2>

      <ul>
      <% @curriculum_shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-heading padding-top--s padding-bottom--s">
      <h3 class="panel-title panel-title--s">Curriculum Shop</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label "Store URL (with filters applied)" %>
        <%= f.text_field :url, class: 'form-control' %>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group curriculum-input>">
            <%= f.label "Curriculum Page" %>
            <div class="select-container dark-select block">
              <span>Curriculum Page</span>
              <%= f.collection_select :page_id, Page.show_in_top_navigation, :id, :group_name, { prompt: true }, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit class: 'btn btn-success btn-block-xs' %>
<% end %>
