<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Url</th>
        <th>Blog Type</th>
        <th>Curriculum Page</th>
        <th>Unique Url</th>
        <th>Position</th>
        <th>Display</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @medium_publications.each do |medium_publication| %>
        <tr>
          <td><%= medium_publication.title %></td>
          <td><%= medium_publication.url %></td>
          <td><%= medium_publication.blog_type %></td>
          <td><%= medium_publication.page.try(:group_name) %></td>
          <td><%= medium_publication.slug %></td>
          <td><%= medium_publication.position %></td>
          <td><%= medium_publication.display ? 'Yes' : 'No' %></td>
          <td><%= link_to 'Preview', preview_medium_publication_link(medium_publication), target: '_blank' %></td>
          <td><%= link_to 'Edit', edit_cms_medium_publication_path(medium_publication) %></td>
          <td><%= link_to 'Destroy', [:cms, medium_publication], method: :delete, data: { confirm: 'Are you sure?' }, class: 'text--danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
