<%= form_for([:admin, @download_page], class: 'form') do |f| %>
  <% if @download_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@download_page.errors.count, "error") %> prohibited this download_page from being saved:</h2>

      <ul>
      <% @download_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Unique Download Page Url" %>
    <div class="input-group">
      <span class="input-group-addon">/download_pages/</span>
      <%= f.text_field :slug, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control rich-editor', rows: 5 %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
