<h1>Enligsh Content Error</h1>
<p>
  Name: <%= @info['first_name'] %> <%= @info['first_name'] %>
</p>
<p>
  Email: <%= @info['email'] %>
</p>
<p>
  Phone: <%= @info['phone'] %>
</p>
<p>
  Role: <%= @info['role'] %>
</p>
<p>
  School/District Name: <%= @info['school_district_name'] %>
</p>
<p>
  School/District Type: <%= @info['school_district_type'] %>
</p>
<p>
  Country: <%= @info['country'] %>
</p>
<p>
  State: <%= @info['state'] %>
</p>
<p>
  Curriculum: <%= @info['curriculum'] %>
</p>
<p>
  Description: <%= @info['description'] %>
</p>

