<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @new_licenses_form } %>

<% content_for :page_title do %>
  <%= Spree.t(:new_license) %>
<% end %>

<%= form_for @new_licenses_form, url: spree.admin_licensed_products_path, :html => { :multipart => true } do |f| %>
  <fieldset data-hook="new_license">
    <div data-hook="admin_licensed_product_form_user_id" class="form-group">
      <label>Select school district admin</label>
      <%= f.text_field :user_id, class: 'form-control' %>
    </div>
    <div data-hook="admin_licensed_product_form_email" class="form-group">
      <label>enter email of admin</label>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label><%= f.check_box :enable_single_distribution %> Enable single license distribution</label>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div data-hook="admin_licensed_product_form_product_id" class="form-group">
          <label>Select Product</label>
          <%= select_tag :product_id, options_from_collection_for_select(Spree::Product.unarchive.order(:name), :id, :internal_name), prompt: 'Select Product', class: 'form-control'  %>
        </div>
      </div>
      <div class="col-md-2">
        <div data-hook="admin_licensed_product_form_quantity" class="form-group">
          <label>Quanity</label>
          <%= text_field_tag :quantity, nil, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary" style="margin-top: 26px;" id="add-product-btn">Add Product</button>
      </div>
    </div>

    <div class="row" id="products-container" style="padding-left: 20px;">
      <p>
        Products To Fulfillment:
      </p>
      <% (params[:products] || {}).each do |product_id, quantity| %>
        <% product = Spree::Product.find(product_id) %>
        <div class='product-item'>
          <span><%= product.name %></span>/<%= quantity %><input type='hidden' name='products[<%= product_id %>]' value='<%= quantity %>'><button class='btn btn-default remove-product'>Remove</button>
        </div>
      <% end %>
    </div>

    <div data-hook="admin_licensed_product_form_fulfillment_at" class="form-group">
      <label>Fulfillment At</label>
      <%= f.text_field :fulfillment_at, value: datepicker_field_value((Date.parse(@new_licenses_form.fulfillment_at) rescue nil)), class: 'datepicker form-control' %>
      <p class="help-block">If left blank, license will be fulfilled immediately.</p>
    </div>

    <div class="form-group">
      <label>Salesforce Order ID</label>
      <%= f.text_field :salesforce_order_id, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>Salesforce Account ID</label>
      <%= f.text_field :salesforce_account_id, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>Salesforce Contact ID</label>
      <%= f.text_field :sf_contact_id, class: 'form-control' %>
    </div>

    <div class="form-group", id="total_amount">
      <label>Amount</label>
      <%= f.text_field :amount, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>Payment Method</label>
      <%= f.collection_select :payment_method_id, @payment_methods, :id, :name, { include_blank: 'Select Payment Method' }, class: 'form-control' %>
    </div>

    <ul class="nav" id="payment-methods" data-hook>
      <% @payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>" class="payment-method" style="display: none;">
          <fieldset>
            <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
          </fieldset>
        </li>
      <% end %>
    </ul>

    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
<%= render 'form_js' %>

<script>
  $(document).ready(function() {
    $("#admin_new_licenses_form_amount").on('change', function () {
      var total = $('#admin_new_licenses_form_amount').val();
      $('.text-danger').remove();
      if ( total > 99999999 ) {
        $( "#total_amount" ).append( "<p class='text-danger'>Please enter amount less than 100000000</p>" );
        $(':input[type="submit"]').prop('disabled', true);
      }
      else{
        $(':input[type="submit"]').prop('disabled', false);
        $('.text-danger').remove();
      }
    });
  });

</script>
