<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %> spree-store" id="<%= @body_id || 'default' %>" data-hook="body">

    <%= render 'google_tag_manager' if Rails.env.production? %>
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/header' %>

    <div class="container container-content">
      <div class="row" data-hook>
        <%= breadcrumbs(@taxon) %>

        <div id="content" class="col-sm-10 col-sm-offset-1 margin-top--xxl margin-bottom--xl" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>
    </div>

    <% cache :footer, expires_in: 2.hours do %>
      <%= render 'footer' %>
    <% end %>

    <%= render 'jira_ticket' %>
  </body>
</html>
