<div data-hook="admin_video_form_fields" class="row">
  <div class="col-md-6">
    <%= f.field_container :video_group, class: ['form-group'] do %>
      <%= f.label :video_group, Spree.t(:video_group) %>
      <%= f.text_field :video_group_name, :class => 'form-control' %>
      <%= error_message_on :video, :video_group_name %>
    <% end %>
    <%= f.field_container :title, class: ['form-group'] do %>
      <%= f.label :title, Spree.t(:title) %>
      <%= f.text_field :title, :class => 'form-control' %>
      <%= error_message_on :video, :title %>
    <% end %>
    <%= f.field_container :is_free, class: ['form-group'] do %>
      <%= f.label :is_free, Spree.t(:is_free) %>
      <%= f.check_box :is_free, :class => 'form-control' %>
    <% end %>
    <div data-hook="admin_product_form_taxons">
      <%= f.field_container :taxons, class: ['form-group'] do %>
        <%= f.label :taxon_ids, Spree.t(:taxons) %>
        <%= f.hidden_field :taxon_ids, value: @video.taxon_ids.join(',') %>
      <% end %>
    </div>
    <%= f.field_container :description, class: ['form-group'] do %>
      <%= f.label :description, Spree.t(:description) %>
      <%= f.text_area :description, :class => 'form-control', rows: 3 %>
      <%= error_message_on :video, :description %>
    <% end %>
    <%= f.field_container :file, class: ['form-group'] do %>
      <%= f.label :file, Spree.t(:file) %>
      <%= f.file_field :file, :class => 'form-control' %>
      <%= error_message_on :video, :file %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
//<![CDATA[
  (function($){
    $(document).ready(function () {
      set_taxon_select('#video_taxon_ids');
    });
   $("#video_video_group_name").select2({
      placeholder: "Select video group name",
      multiple: false,
      initSelection: function (element, callback) {
        var url = Spree.url('/resources/admin/video_groups', {
          name: element.val(),
          token: Spree.api_key
        });
        return $.getJSON(url, null, function (data) {
          return callback(data['video_groups'][0]);
        });
      },
      ajax: {
        url: '/resources/admin/video_groups',
        datatype: 'json',
        data: function (term, page) {
          return {
            per_page: 50,
            page: page,
            without_children: true,
            q: term,
            token: Spree.api_key
          };
        },
        results: function (data, page) {
          var more = page < data.pages;
          return {
            results: data['video_groups'],
            more: more
          };
        }
      },
      formatResult: function (video_group) {
        return video_group.name;
      },
      formatSelection: function (video_group) {
        return video_group.name;
      },
      createSearchChoice:function(term, data) {
        if ( $(data).filter( function() {
          return this.text.localeCompare(term)===0;
        }).length===0) {
          return {id:term, name:term};
        }
      }
   });
  })(jQuery);
//]]>
</script>
