<% content_for :page_title do %>
  <%= Spree.t(:edit_video) %>
<% end %>

<div data-hook="admin_video_new_form_header">
  <%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @video } %>
</div>

<div data-hook="admin_video_new_form">
  <%= form_for [:admin, @video], url: spree.admin_video_url(@video), method: :put do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div data-hook="admin_video_new_form_buttons">
      <div class="form-actions" data-hook="buttons">
        <button name="button" type="submit" class="btn btn-primary btn-success"><span class="icon icon-ok"></span> <%= @video.new_record? ? 'Create' : 'Update' %></button>
        <span class="or">or</span>
        <a icon="remove" class="btn btn-default" href="/store/admin/videos"><span class="icon icon-remove"></span> Cancel</a>
      </div>
    </div>
  <% end %>
</div>
