<% content_for :page_title do %>
  <%= Spree.t(:videos) %>
<% end %>

<% content_for :page_actions do %>
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <%= button_link_to Spree.t(:new_video), new_admin_video_url, :class => "btn-success btn-block", :icon => 'add', :id => 'admin_new_video_link' %>
    </div>
  </div>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_users_index_search">
    <%= search_form_for [:admin, @search], url: spree.admin_videos_url do |f| %>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <%= f.label "Title" %>
            <%= f.text_field :title_or_video_group_name_or_taxons_name_cont, class: "form-control js-quick-search-target" %>
          </div>          
        </div>
      </div>
      <div data-hook="admin_users_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table" id="listing_videos" data-hook>
    <thead>
      <tr data-hook="admin_videos_index_headers">
        <th width="70%">
          Title
        </th>
        <th width="15%">
          Video Group
        </th>
        <th data-hook="admin_videos_index_header_actions" class="actions" width="15%"></th>
      </tr>
    <tbody>
      <% @videos.each do |video|%>
        <tr id="<%= spree_dom_id video %>" data-hook="admin_videos_index_rows">
          <td class='video_title'><%=link_to video.title, edit_admin_video_url(video) %></td>
          <td><%= video.video_group.try(:name) %></td>
          <td data-hook="admin_videos_index_row_actions" class="actions actions-2 text-right">
            <%= link_to_edit video, :no_text => true %>
            <%= link_to_delete video, :no_text => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @videos %>
