<% content_for :page_title do %>
  <%= link_to "#{@user.email}", edit_admin_user_url(@user) %> / <%= Spree.t(:"admin.user.products_purchased") %>
<% end %>

<%= render :partial => 'spree/admin/users/sidebar', :locals => { :current => :products } %>
<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_users_list), spree.admin_users_path, class: 'btn-primary', icon: 'chevron-left' %>
<% end %>

<fieldset data-hook="admin_user_items_purchased">
  <%= paginate @products %>

  <% if @products.any? %>
    <table class="table table-condensed table-bordered">
      <thead>
        <th>Name</th>
        <th>License Length</th>
        <th></th>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.license_length %></td>
            <td>
              <%= link_to_edit product, no_text: true, class: 'edit' if can?(:edit, product) && !product.deleted? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info no-objects-found">
      <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Product)) %>
    </div>
  <% end %>
  <%= paginate @products %>
</fieldset>
