<%= form_for([:cms, @whats_new], class: 'form') do |f| %>
  <% if @whats_new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whats_new.errors.count, "error") %> prohibited this whatsnew from being saved:</h2>

      <ul>
      <% @whats_new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-heading padding-top--s padding-bottom--s">
      <h3 class="panel-title panel-title--s">What's new?</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Title</label>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>Subject</label>
            <div class="select-container dark-select block">
              <span>Select Subject</span>
              <%= f.select :subject, options_for_select(['Global'] + Curriculum.all.map(&:name), @whats_new.subject), {}, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>User Role</label>
            <%= f.select :user_title, options_for_select(['Global'] + USER_TITLES, (@whats_new.user_title.split(',') rescue [])), {}, class: 'form-control', multiple: true, placeholder: "Select one or more"  %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Zip Codes (Seperate by comma)</label>
            <%= f.text_field :zip_codes, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Sub Header</label>
            <%= f.text_area :sub_header, class: 'form-control', maxlength: 168 %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Call to action button text</label>
            <%= f.text_field :call_to_action_button_text, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Call to action button link</label>
            <%= f.text_field :call_to_action_button_link, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Button Target</label>
            <div class="select-container dark-select block">
              <span>Select Target</span>
              <%= f.select :call_to_action_button_target, options_for_select([['Open in Same Tab', '_self'],['Open in New Tab', '_blank']]), { prompt: 'Select target' }, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Products</label>
        <div>
          <%= f.hidden_field :product_ids, style: 'width: 100%;', value: @whats_new.product_ids.join(','), class: 'form-control', id: 'product_ids' %>
        </div>
      </div>
      <div class="checkbox margin-bottom--xl">
        <label>
          <%= f.check_box :display %> Display
        </label>
      </div>
    </div>
  </div>

  <%= f.submit class: 'btn btn-success btn-block-xs' %>
<% end %>
<%= render 'cms/shared/products_autocomplete' %>

<script type="text/javascript" charset="utf-8">
  $('#whats_new_user_title').select2();
</script>
