<div class="table-responsive">
  <table class='table table-striped table-hover'>
    <thead>
    <tr>
      <th colspan="2">Title</th>
      <th>Subject</th>
      <th>Role</th>
      <th>Zip Codes</th>
      <th>Views</th>
      <th>Clicks</th>
      <th>Display</th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <% @whats_news.each do |whatsnew| %>
        <tr>
          <td><%= whatsnew.title %></td>
          <td><%= link_to 'Edit', edit_cms_whats_new_path(whatsnew), class: 'btn btn-default' %></td>
          <td><%= whatsnew.subject %></td>
          <td><%= whatsnew.user_title %></td>
          <td><%= whatsnew.zip_codes %></td>
          <td><%= whatsnew.views %></td>
          <td><%= whatsnew.clicks %></td>
          <td><%= whatsnew.display %></td>
          <td><%= link_to 'Delete', cms_whats_new_path(whatsnew), data: { method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= paginate @whats_news %>