<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">
      <%= data.rowType %> <i data-toggle="collapse" data-target="#<%= data['position'] %>" class="mi panel-toggle pull-right margin-top--s">keyboard_arrow_up</i>
    </h3>
  </div>
  <div id="<%= data['position'] %>" class="panel-body panel-collapse collapse in">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Row type</label>
          <select class="form-control update-row-type">
            <% MarketingEditorApp.tilesDefinitions.forEach(function(key, index){ %>
              <option <%= data.rowType === key.name ? 'selected="selected"' : ''%> value="<%= key.name %>"><%= key.name %></option>
            <% }) %>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Position</label>
          <input type="text" class="form-control input-small" data-name="position" value="<%= data['position'] || 0 %>"/>
        </div>
      </div>
      <% for(var i=0; i<fields.length; i++) {%>
        <% if(fields[i].input_type == 'text') { %>
          <div class="col-sm-6">
            <div class="form-group">
              <label><%= fields[i].label %></label>
              <input type="text" class="form-control title-input tile-text-field" data-name="<%= fields[i].name %>" value="<%= data[fields[i].name] %>"/>
            </div>
          </div>
        <% } %>
        <% if(fields[i].input_type == 'checkbox') { %>
          <div class="col-sm-12">
            <div class="form-group">
              <label>
                <input type="checkbox" class="title-input" data-name="<%= fields[i].name %>" value="1" <% if(data[fields[i].name] == 1) {%>checked<%}%>/>
                <%= fields[i].label %>
              </label>
            </div>
          </div>
        <% } %>
        <% if(fields[i].input_type == 'text_area') { %>
          <div class="col-sm-12">
            <div class="form-group">
              <label><%= fields[i].label %></label>
              <textarea data-name="<%= fields[i].name %>" rows="3" class="form-control rich-editor"><%= data[fields[i].name]%></textarea>
            </div>
          </div>
        <% } %>
        <% if(fields[i].input_type == 'select') { %>
          <div class="col-sm-6">
            <label><%= fields[i].label %></label>
            <div class="select-container dark-select block">
              <span>
                <% if (data[ fields[i].name ]) { %>
                  <%= data[ fields[i].name ] %>
                <% } else { %>
                  <% if (fields[i].input_options != null) { %>
                    <%= fields[i].input_options[0] %>
                  <% } else { %>
                    <%= fields[i].label %>
                  <% } %>
                <% } %>
              </span>
              <select name="" data-name="<%= fields[i].name %>" class="form-control">
                <% for(var j=0; j < fields[i].input_options.length; j ++) { %>
                  <option value="<%= fields[i].input_options[j] %>"  <% if(data[ fields[i].name ] == fields[i].input_options[j]) { %> selected <% } %>  ><%= fields[i].input_options[j] %></option>
                <% } %>
              </select>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-danger pull-right remove-row-btn">Remove Tile</button>
      </div>
    </div>
  </div>
</div>
