<%= form_for [:cms, @link_file], html: { multipart: true } do |f| %>
  <% if @link_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link_file.errors.count, "error") %> prohibited this link_file from being saved:</h2>

      <ul>
        <% @link_file.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="alert alert-info"><%= mi.info_outline.md_18 %> Make sure the urls in your file don't include spaces or characters that can't be part of a url.</div>

  <div class="panel panel-primary">
    <div class="panel-heading padding-top--s padding-bottom--s">
      <h3 class="panel-title panel-title--s">Link Upload</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>File</label>
            <%= f.file_field :file %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit (f.object.new_record? ? "Create File": "Update File"), class: 'btn btn-success btn-block-xs', data: { disable_with: 'Submitting...' } %>

<% end %>
