<div class="modal fade" tabindex="-1" role="dialog" id="fall-institute-pd-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Contact our team to learn more!</h4>
      </div>
      <%= form_for @fall_institute_pd, remote: true, authenticity_token: true do |f| %>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.select :role, %w(Teacher Administrator Parent Other), { include_blank: "Role" }, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.text_field :phone, placeholder: 'Phone', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>How would you prefer to be contacted?</p>
              <label>Phone <%= check_box_tag 'preferred_contact[]', 'Phone', false %></label> &nbsp;&nbsp;&nbsp;
              <label>Email <%= check_box_tag 'preferred_contact[]', 'Email', false %></label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Submit", class: 'btn btn-primary', data: { disable_with: 'Submitting...' } %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
