<div class="video-wrapper col-md-6 locked-video">
  <div class="image-drawer-wrapper flip-container">
    <div class="flipper">
      <div class="video-image-wrapper flip-front">
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        <button class="btn btn-info flip-btn"><i class="fa fa-refresh flip-icon"></i></button>
      </div>
      <div class="video-drawer flip-back">
        <button class="btn btn-default btn-block disabled">Subscription Required</button>
        <div class="product-description">
          <%= truncate video.description, length: 100 %>
          <% if video.description && video.description.length > 100 %>
            <%= link_to 'MORE INFO', show_description_video_gallery_path(video), remote: true, class: 'more-info' %>
          <% end %>
          <button class="btn btn-info flip-btn"><i class="fa fa-refresh flip-icon"></i></button>
        </div>
        <%= link_to unlock_video_gallery_path(video), class: 'btn btn-primary unblock-button btn-block', remote: true do %>
          Unlock Content
        <% end %>
      </div>
    </div>
  </div>
  <h6 class="video-title"><%= truncate(video.title, length: 50) %></h6>
  <div class="video-categories"><%= video.categories.join(", ") %></div>
  <div class="video-taxons"><%= video.taxons.map(&:name).join(", ") %></div>
</div>
