<div class="col-md-6 video-grid">
  <div class="video-wrapper locked-video">
    <div class="image-drawer-wrapper flip-container">
      <div class="flipper">
        <div class="video-image-wrapper flip-front">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
          <button class="btn btn-primary flip-btn"><i class="fa fa-plus flip-icon"></i></button>
        </div>
        <div class="video-drawer flip-back">
          <div class="product-description">
            <%= truncate video.description, length: 100 %>
            <p class="text-danger">Subscription Required</p>
          </div>
          <div class="video-categories">
            <p><%= truncate video.categories.join(", "), length: 25 %></p>
          </div>
          <div class="video-taxons">
            <p><%= truncate video.taxons.map(&:name).join(", "), length: 25 %></p>
          </div>

          <%= link_to unlock_video_gallery_path(video), class: 'btn btn-default btn-block', remote: true do %>
            Unlock Content
          <% end %>
          <button class="btn btn-primary flip-btn"><i class="fa fa-minus flip-icon"></i></button>
        </div>
      </div>
    </div>
    <div class="video-footer">
      <h6 class="video-name margin-bottom-reset"><%= truncate(video.title, length: 50) %></h6>
    </div>
  </div>
</div>
