<div class="col-md-6 video-grid">
  <div class="video-wrapper">
    <div class="image-drawer-wrapper flip-container">
      <div class="flipper">
        <div class="video-image-wrapper flip-front <% if video.preview_image_url %>video-preview-image<% end %>"<% if video.preview_image_url %> style="background-image: url('<%= video.preview_image_url %>')"<% end %> >
          <%= link_to play_video_gallery_path(video), remote: true, class: 'play-video-button' do %>
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
          <% end %>
          <button class="btn btn-primary flip-btn"><i class="fa fa-plus flip-icon"></i></button>
        </div>
        <div class="video-drawer flip-back">
          <div class="product-description">
            <p><%= truncate video.description, length: 100 %></p>
          </div>
          <div class="video-categories">
            <p><%= truncate video.categories.join(", "), length: 25 %></p>
          </div>
          <div class="video-taxons">
            <p><%= truncate video.taxons.map(&:name).join(", "), length: 25 %></p>
          </div>
          <%= link_to 'MORE INFO', video_gallery_path(video), itemprop: 'url', class: 'btn btn-default btn-block margin-top' %>
          <button class="btn btn-primary flip-btn"><i class="fa fa-minus flip-icon"></i></button>
        </div>
      </div>
    </div>
    <div class="video-footer">
      <h6 class="video-name">
        <%= link_to truncate(video.title, length: 50), video_gallery_path(video), class: 'info', itemprop: "title", title: video.title %>
      </h6>
    </div>
  </div>
</div>
