<div class="col-md-6 video-grid">
  <div class="video-wrapper">
    <div class="image-drawer-wrapper flip-container">
      <div class="flipper">
        <div class="video-image-wrapper flip-front">
          <%= link_to play_video_gallery_path(video), remote: true, class: 'play-video-button' do %>
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
          <% end %>
          <button class="btn btn-info flip-btn"><i class="fa fa-refresh flip-icon"></i></button>
        </div>
        <div class="video-drawer blue-bg flip-back">
          <div class="product-description">
            <%= truncate video.description, length: 300 %>
            <%= link_to 'MORE INFO', video_gallery_path(video), itemprop: 'url', class: 'btn btn-default btn-block margin-top' %>
          </div>
          <button class="btn btn-info flip-btn"><i class="fa fa-refresh flip-icon"></i></button>
        </div>
      </div>
    </div>
    <%=  %>
    <h6 class="video-name">
      <%= link_to truncate(video.title, length: 50), video_gallery_path(video), class: 'info', itemprop: "title", title: video.title %>
    </h6>
    <div class="video-categories">
      <p><%= video.categories.join(", ") %></p>
    </div>
    <div class="video-taxons">
      <p><%= video.taxons.map(&:name).join(", ") %></p>
    </div>
  </div>
</div>
