<% @taxonomies.each do |taxonomy| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#categories" href="#collapse<%= taxonomy.name %>"><%= taxonomy.name %></a>
    </h4>
  </div>
  <% selected_taxons = taxonomy.root.children.where(id: params[:taxon_ids]) %>
  <% if selected_taxons.count > 0 %>
  <div id="collapse<%= taxonomy.name %>" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="list-group">
        <% selected_taxons.each do |selected_taxon| %>
          <span class="selected-taxon">
          <%= selected_taxon.name %>
          <%= link_to params.merge(taxon_ids: (params[:taxon_ids] - [selected_taxon.id.to_s])) do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <%#= video_gallery_taxons_tree(taxonomy.root, @taxon, taxonomy.allow_multiple_taxons_selected) %>
</div>
<% end %>
