<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="video-gallery-side">
        <%= form_tag '', method: :get, class: 'side-search-form' do %>
          <%= hidden_field_tag :grade_id, params[:grade_id] %>
          <%= hidden_field_tag :curriculum_id, params[:curriculum_id] %>
          <div class="form-group">
            <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search' %>
          </div>
        <% end %>
        <div class="videos-filters">
          <div class="video-filter">
            <div class="video-sub-filter">
              <%= render 'grade_filter' %>
            </div>
            <div class="video-sub-filter">
              <%= render 'curriculum_filter' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <% @video_products.each do |video_product| %>
        <%= render partial: 'video_product', locals: { video_product: video_product } %>
      <% end %>
    </div>
  </div>
</div>
<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      $(".filter-header").click(function() {
        var filter_container = $(this).parents('.video-sub-filter');
        filter_container.find('ul').toggle();
      })
    });
  <% end %>
<% end %>
