<div class="container" id="video-page">
  <%= link_to "< Back", video_gallery_index_path, class: 'btn btn-default' %>
  <div class="row">
    <div class="col-md-6">
      <%= link_to large_image(@video_product, itemprop: "image"), video_gallery_path(@video_product), itemprop: 'url', class: 'video-image' %>
      <% if can_play_video?(@video_product) %>
        <%= link_to play_video_gallery_path(@video_product), remote: true, class: 'play-video-button' do %>
          <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <span class="video-product-name">
        <%= link_to truncate(@video_product.name, length: 50), video_gallery_path(@video_product), class: 'info', itemprop: "name", title: @video_product.name %>
      </span>
      <div class="video-product-grade"><%= @video_product.grade.try(:name) %></div>
      <div class="video-product-curriculum"><%= @video_product.curriculum.try(:name) %></div>
      <p>
        <%= @video_product.description %>
      </p>
      <%= link_to add_favorite_video_gallery_path(@video_product, ref_id: "#fav-button-#{@video_product.id}"), remote: true, class: "btn btn-primary #{'disabled' if !can_favorite_product?(@video_product)}", style: 'display: block;', id: "fav-button-#{@video_product.id}", data: { method: :post } do %>
        Add to Favorites
      <% end %>
    </div>
  </div>
</div>
