<div class="row">
  <div class="col-sm-10 col-sm-offset-1 margin-top--xxl margin-bottom--xl">
    <div class="row">
      <div class="col-xs-12">
        <%= link_to video_gallery_index_path, class: 'btn btn-default btn-block-xs margin-bottom--m' do %>
          <i class="mi">keyboard_arrow_left</i> Back
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-16by9 margin-bottom--l">
          <% if can_play_video?(@video) %>
            <% if @video.wistia_ready? %>
              <iframe src="//fast.wistia.net/embed/iframe/<%= @video.wistia_hashed_id %>" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" id="wistia-iframe" name="wistia_embed" width="560" height="400"></iframe>
            <% else %>
              <video class="mejs-player" src="<%= @video.s3_url %>" width="100%" height="100%" preload="none"></video>
            <% end %>
          <% else %>
            <%= mi.lock %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="video-page-title">
          <h2 class="video-name">
            <%= @video.title %>
          </h2>
        </div>
        <p class="padding-top--m padding-bottom">
          <%= @video.description %>
        </p>

        <%if bookmarked_video?(@video) %>
          <%= link_to remove_bookmark_video_gallery_path(@video, ref_id: "#fav-button-#{@video.id}"), remote: true, class: "btn favorite-button btn-default btn-block hide", id: "fav-button-#{@video.id}", data: { method: :post } do %>
            <i class="mi">bookmark</i> Remove Bookmark
          <% end %>
        <% else %>
          <%= link_to bookmark_video_gallery_path(@video, ref_id: "#fav-button-#{@video.id}"), remote: true, class: "btn favorite-button btn-default btn-block hide", id: "fav-button-#{@video.id}", data: { method: :post } do %>
            <i class="mi">bookmark_outline</i> Add Bookmark
          <% end %>
        <% end %>

      </div>
    </div>
    <script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
    <%= content_for :javascripts do %>
      <%= javascript_tag do %>
        $(function(){
          var wistia_iframe = $('#wistia-iframe').get(0);
          if(wistia_iframe && wistia_iframe.wistiaApi) {
            var wistiaEmbed = document.getElementById("wistia-iframe").wistiaApi;
            wistiaEmbed.bind('play', function(){
              $("#wistia-iframe").attr('width', 1120);
            });
            wistiaEmbed.bind('pause', function(){
              $("#wistia-iframe").attr('width', 560);
            });
          }
        });
      <% end %>
    <% end %>
  </div>
</div>
