<div class="container" id="video-page">
  <%= link_to "< Back", video_gallery_index_path, class: 'btn btn-default' %>
  <div class="row">
    <div class="col-md-6">
      <div class="video-player-wrapper">
        <% if can_play_video?(@video) %>
          <% if @video.wistia_ready? %>
            <iframe src="http://fast.wistia.net/embed/iframe/<%= @video.wistia_hashed_id %>" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" id="wistia-iframe" name="wistia_embed" width="560" height="400"></iframe>
          <% else %>
              <video class="mejs-player" src="<%= @video.s3_url %>" width="560" height="400"></video>
          <% end %>
        <% else %>
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="video-page-title">
        <h2 class="video-name">
          <%= @video.title %>
        </h2>
      </div>
      <p>
        <%= @video.description %>
      </p>
      <%= link_to spree.favorite_product_path(@video, ref_id: "#fav-button-#{@video.id}"), remote: true, class: "btn btn-primary favorite-button #{'disabled' if !can_favorite_product?(@video)}", id: "fav-button-#{@video.id}", data: { method: :post } do %>
        Add to Favorites
      <% end %>
    </div>
  </div>
</div>
<script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function(){
      var wistia_iframe = $('#wistia-iframe').get(0);
      if(wistia_iframe && wistia_iframe.wistiaApi) {
        var wistiaEmbed = document.getElementById("wistia-iframe").wistiaApi;
        wistiaEmbed.bind('play', function(){
          $("#wistia-iframe").attr('width', 1120);
        });
        wistiaEmbed.bind('pause', function(){
          $("#wistia-iframe").attr('width', 560);
        });
      }
    });
  <% end %>
<% end %>
