<%= form_for([:cms, @vanity_url], class: 'form') do |f| %>
  <% if @vanity_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vanity_url.errors.count, "error") %> prohibited this vanity_url from being saved:</h2>

      <ul>
      <% @vanity_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-heading padding-top--s padding-bottom--s">
      <h3 class="panel-title panel-title--s">Vanity Url</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <%= f.label :vanity_url %>
            <div class="row">
              <div class="col-md-3">
                <%= f.select :base_domain, options_for_select(VanityUrl::BASE_DOMAINS), {}, class: 'form-control' %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :url_path, class: 'form-control  col-md-9', placeholder: '/this-is-vanity-url' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <%= f.label :redirect_url %>
            <%= f.text_field :redirect_url, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <%= f.label :tags %>
            <%= f.text_field :tag_list, value: @vanity_url.tag_list.join(','), class: 'form-control', placeholder: 'Separate by comma' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <%= f.submit class: 'btn btn-success btn-block' %>
    </div>
  </div>
<% end %>
