<div class="panel panel-primary">
  <div class="panel-body panel-body--padding">
    <div class="row">
      <div class="col-sm-12 text-right">
        <%= link_to 'New Vanity Url', new_cms_vanity_url_path, class: 'btn btn-success btn-block-xs margin-right--reset' %>
      </div>
    </div>
    <%= form_tag cms_vanity_urls_path, method: :get, class: 'form' do %>
      <div class="row">
        <div class="col-lg-4">
          <label>Search By Url</label>
        </div>
        <div class="col-lg-4">
          <label>Search By Tag</label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <%= text_field_tag :url_q, params[:url_q], class: 'form-control margin-right--reset margin-bottom--s--sm-min' %>
        </div>
        <div class="col-lg-4">
          <%= text_field_tag :tag_q, params[:tag_q], class: 'form-control margin-right--reset margin-bottom--s--sm-min' %>
        </div>
        <div class="col-lg-4">
          <%= submit_tag 'Search', class: 'btn btn-primary btn-block margin-bottom--s--sm-min' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
