<div class="modal fade" id="edit-user-licenses-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Edit <%= @user.full_name %> licenses</h4>
        <em class="small">Add or remove licenses for <%= @user.full_name %></em>
      </div>
      <div class="modal-body">
        <%= render partial: 'stats_dropdown' %>
        <%= form_tag update_user_licenses_account_licenses_path(user_id: @user.id), remote: true do %>
        <div class="table-responsive margin-bottom--xxl">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Product Licensed</th>
                <th>Distributed</th>
                <th>Updated Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @product_distributions.each do |distribution| %>
                <tr class="distribution-row">
                  <td><%= distribution.product.name %></td>
                  <td><%= distribution.quantity %></td>
                  <td><%= number_field_tag "product_distributions[#{distribution.id}][quantity]", distribution.distributed_licensed_product.quantity, class: 'distribution-quantity form-control' %></td>
                  <td><%= link_to 'Revoke All', revoke_all_account_licenses_path(distribution_id: distribution.id), class: 'btn btn-primary', remote: true, data: { method: :post, disable_with: 'Revoking', confirm: 'Are you sure to revoke all licenses? (This will also revoke licenses that already distributed by this user)' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">
              <%= submit_tag 'Save Updates', class: 'btn btn-success btn-block margin-bottom--s', data: { disable_with: 'Saving...' } %>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-danger btn-block margin-bottom" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-md-3">
              <%= link_to 'Send Login Reminder', send_login_reminder_account_licenses_path(email: @user.email), class: 'btn btn-danger', data: { method: :post, confirm: 'Are you sure to send login reminder to this user?' }, remote: true  %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
