<div class="modal fade" id="edit-user-licenses-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <%= render partial: 'stats' %>
        <h2 class='text-center'>Edit <b><%= @user.full_name %></b> licenses...</h2>
      </div>
      <div class="modal-body">
        <p class='text-center'>Add or remove licenses for <%= @user.full_name %></p>
        <%= form_tag update_user_licenses_account_licenses_path(user_id: @user.id), remote: true do %>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Product Licensed</th>
                <th>Number of Licenses</th>
              </tr>
            </thead>
            <tbody>
              <% @product_distributions.each do |distribution| %>
                <tr class="distribution-row">
                  <td><%= distribution.product.name %></td>
                  <td><%= text_field_tag "product_distributions[#{distribution.id}][quantity]", distribution.quantity, class: 'distribution-quantity form-control' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-3">
              <%= submit_tag 'Save Updates', class: 'btn btn-success btn-block margin-bottom-s', data: { disable_with: 'Saving...' } %>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-danger btn-block margin-bottom" data-dismiss="modal">Close</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
