<div class="modal fade" id="licenses-import-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Easily Add Multiple Users at Once</h4>
        <p>already have the template, jump ahead to step 2</p>
      </div>
      <div class="modal-body">
        <%= form_tag import_account_licenses_path, multipart: true do %>
          <p>1. <%= link_to 'Download (xlsx)', '/import_template.xlsx', class: 'btn btn-default' %> <%= link_to 'Download (csv)', '/import_template.csv', class: 'btn btn-default' %> our User Template and fill it in</p>
          <p>2. <%= select_tag :product_id, options_from_collection_for_select(@products, :id, :name), prompt: "Select Product" %>Upload the completed file</p>
          <div class="form-group">
            <%= file_field_tag :file %>
          </div>
          <div class="modal-actions text-center">
            <%= submit_tag 'Add Users', class: 'btn btn-primary' %>
            <a href="" data-dismiss="modal">Cancel</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
