<div class="modal fade" id="select-users-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="js-initial-header modal-header text-center">
        <h4 class="modal-title">You can add users <strong>3</strong> ways</h4>
        <em class="small">Please use the options below to add users</em>
      </div>
      <div class="js-select-header modal-header text-center hide">
        <h4 class="modal-title">Select users</h4>
        <em class="small">Select and add users below</em>
      </div>
      <div class="js-upload-header modal-header text-center hide">
        <h4 class="modal-title">Upload a user file</h4>
        <em class="small">Uploading a file will give each user <strong>ONLY 1</strong> license</em>
      </div>
      <%= form_tag select_users_account_licenses_path, multipart: true, authenticity_token: true, remote: true do %>
        <div class="modal-body">

          <div id="userEmails" class="collapse fade in">
            <div class="row">
              <div class="col-sm-12">
                <label>Add Users by Email</label>
                <%= text_field_tag :licenses_recipients, nil, class: 'form-control', placeholder: 'Enter email(s)'  %>
                <span class="help-block">Separate multiple email addresses with comma</span>
              </div>
            </div>
            <div class="row margin-top-l margin-bottom-m">
              <div class="col-sm-12 text-center">
                <h2><em>or</em></h2>
              </div>
            </div>
            <div class="row margin-bottom-xl">
              <div class="col-sm-6 border-right-primary">
                <label>Select from Existing Users</label>
                <button type="button" id="btnSelectUsers" class="btn btn-primary btn-block margin-bottom">
                  Choose Users
                </button>
              </div>
              <div class="col-sm-6">
                <label>Upload from File</label>
                <button type="button" id="btnUploadUsers" class="btn btn-primary btn-block margin-bottom">
                  Choose File
                </button>
              </div>
            </div>
          </div>

          <div id="chooseUsers" class="collapse fade">
            <div class="row">
              <div class="col-sm-3">
                <button id="btnBack" class="btn btn-default btn-block margin-bottom-m" type='button'>
                  <i class="mi">keyboard_arrow_left</i> Back
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <button class="btn btn-primary btn-block margin-bottom-m select-all-users">
                  Select All
                </button>
              </div>
            </div>
            <div class="row margin-bottom-m">
              <% @emails.each do |email| %>
                <div class="col-md-6">
                  <div class="checkbox">
                    <label class="word-wrap-break text-lowercase">
                      <%= check_box_tag 'emails[]', email, false, { multiple: true, class: 'user-checkbox' } %>
                      <%= email %>
                    </label>
                  </div>
                </div>
              <% end %>
            </div>

          </div>

          <div id="importUsers" class="collapse fade">
            <div class="row">
              <div class="col-sm-3">
                <button id="btnImportBack" class="btn btn-default btn-block margin-bottom-m" type='button'>
                  <i class="mi">keyboard_arrow_left</i> Back
                </button>
              </div>
            </div>
            <strong class="text-uppercase sans-serif margin-bottom-s block">1. Download our User Template and fill it in:</strong>
            <div class="row">
              <div class="col-md-6">
                <%= link_to 'Download (xlsx)', '/import_template.xlsx', class: 'btn btn-primary btn-block' %>
              </div>
              <div class="col-md-6">
                <%= link_to 'Download (csv)', '/import_template.csv', class: 'btn btn-primary btn-block' %>
              </div>
            </div>
            <strong class="text-uppercase sans-serif margin-bottom-s block">2. Upload the completed file:</strong>
            <div class="form-group inline-input margin-bottom-m">
              <%= file_field_tag :file %>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-md-6">
              <button data-dismiss="modal" class="btn btn-danger btn-block margin-bottom">Cancel</>
            </div>
            <div class="col-md-6">
              <%= submit_tag 'Add Users', class: 'btn btn-success btn-block margin-bottom-s' %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>
