<tr class="user-details" id="user-stats-tr-<%= @user.id %>">
  <td>
    <% if @user.to_users.where.not(spree_product_distributions: { to_user_id: @user.id }).count > 0 %>
      <%= link_to 'Distribution', secondary_user_stats_account_licenses_path(user_id: @user.id), class: 'btn btn-sm distribution-stats-btn', 'data-user-id' => @user.id %>
    <% end %>
  </td>
  <td colspan='7'>
    <div class="row user-stats-wrapper">
      <div class="col-xs-3 col-xs-offset-9 col-md-3 col-md-offset-0">
        <p>Joined: <%= @user.created_at.strftime("%b %-d, %Y") %></p>
        <%# <p>Exp: Auguest 20, 2015</p> %>
        <p><%= @user.email %></p>
      </div>
      <div class="col-xs-3 col-xs-offset-9 col-md-3 col-md-offset-0">
        <p>5 Day Log In</p>
        <h6><%= @user.logins_in_last_days(5) %>x</h6>
      </div>
      <div class="col-xs-3 col-xs-offset-9 col-md-3 col-md-offset-0">
        <p>10 Day Log In</p>
        <h6><%= @user.logins_in_last_days(10) %>x</h6>
      </div>
      <div class="col-xs-3 col-xs-offset-9 col-md-3 col-md-offset-0">
        <p>Monthly Log In</p>
        <h6><%= @user.logins_in_last_days(30) %>x</h6>
      </div>
    </div>
  </td>
</tr>
