<% content_for :body_class, "licenses" %>

<%= render 'tabs' %>

<%= form_for @assign_licenses_form, url: assign_account_licenses_path do |f| %>
  <% if @assign_licenses_form.errors.count > 0 %>
    <div id="error_explanation" class="alert alert-danger">
      <p>
        OH NO, <%= pluralize(@assign_licenses_form.errors.count, "error") %> prohibited this user from being saved:
      </p>
      <ul>
        <% @assign_licenses_form.errors.full_messages.each do |msg| %>
          <li> <%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_spree_user.managed_products_options.size > 0 %>
    <div class="row">
      <div class="js-step-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 margin-bottom--xl padding-horiz--sm-min--horiz-xl">
        <p class="sans-serif"><strong>1. Select product to assign</strong></p>
        <% selected_option = current_spree_user.managed_products_options.find{|o| o[1] == params[:licenses_ids] } %>
        <%= f.hidden_field :licenses_ids, :value => selected_option.nil? ? "" : selected_option[1] %>
        <div class="btn-group btn-block dropdown-ol margin-bottom--reset licenses-dropdown" id="licensesDropdown">
          <button type="button" class="btn btn-default dropdown-toggle dropdown-ol-btn licenses-dropdown-button" data-toggle="dropdown">
            <span class="licenses-dropdown-selection">
              <% if selected_option %>
                <%= selected_option[0] %>
              <% else %>
                Select a Product
              <% end %>
            </span>
            <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
          </button>
          <ul class="dropdown-menu dropdown-ol-menu btn-block js-licenses-dropdown width--100pct">
            <% current_spree_user.managed_products_options.each do |product| %>
              <li class="dropdown-ol-item"><a href="#" class="whitespace--reset dropdown-ol-link" data-product="<%= product[1] %>"><%= product[0] %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%= render 'stats' %>

    <div class="row margin-bottom--xxl license-steps">
      <div class="js-step-2 col-sm-6 col-lg-5 col-lg-offset-1 margin-bottom--xl padding-horiz--sm-min--horiz-xl">
        <p class="sans-serif"><strong>2. Select users to assign</strong></p>
        <small class="js-success-message hide margin-bottom--s block sans-serif">You successfully added <span class="js-number-total"></span> user</small>
        <a href="#" class="btn btn-default btn-block margin-bottom" id="show-add-users-modal-btn">Add Users</a>
        <%= f.hidden_field :licenses_recipients %>
      </div>
      <div class="js-step-3 col-sm-6 col-lg-5 border-left--primary--sm-min margin-bottom--xl padding-horiz--sm-min--horiz-xl">
        <p class="sans-serif"><strong>3. Select quantity of licenses to assign</strong></p>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group margin-bottom--s">
              <label for="">Quantity</label>
              <%= f.number_field :licenses_number, class: 'form-control', value: 1 %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group margin-bottom">
              <label for=""># of Users</label>
              <%= f.text_field :total, class: 'form-control', readonly: true %>
            </div>
          </div>
        </div>
        <strong class="text-uppercase sans-serif margin-bottom--s block">Total Licenses = <span id="licenseTotal"></span></strong>
        <%= f.submit 'Assign License(s)', class: 'btn btn-default btn-block margin-bottom--s disabled', id: 'btnAssignLicenses', data: { disable_with: 'Saving' } %>
      </div>
    </div>
  <% else %>
    <p>Don't have licenses available to assign.</p>
  <% end %>
<% end %>

<%= render partial: 'select_users_modal' %>

<%= content_for :javascripts do %>
  <%= render 'assign_form_js' %>

  <%= javascript_tag do %>

    $(function() {
      function getLicensesTour() {
        $.get('/account/tour/licenses');
      }

      <% unless current_spree_user.tour_showed_licenses? %>
        getLicensesTour();
      <% end %>

      $('.js-get-licenses-tour').on('click', function(e) {
        e.preventDefault();
        getLicensesTour();
      });
    });
  <% end %>

<% end %>
