<% content_for :body_class, "licenses" %>

<%= render 'tabs' %>

<%= form_for @assign_licenses_form, url: assign_account_licenses_path do |f| %>
  <div class="page-header margin-top-xl">
    <h2 class="margin-bottom-m">Ready to assign some licenses...</h2>
    <p class="lead margin-bottom-m">Assign one or more licenses to anyone you want</p>
  </div>
  <% if @assign_licenses_form.errors.count > 0 %>
    <div id="error_explanation" class="alert alert-danger">
      <p>
        OH NO, <%= pluralize(@assign_licenses_form.errors.count, "error") %> prohibited this user from being saved:
      </p>
      <ul>
        <% @assign_licenses_form.errors.full_messages.each do |msg| %>
          <li> <%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_spree_user.managed_products_options.size > 0 %>
    <%= render 'stats' %>

    <div class="row margin-bottom-xxl license-steps">
      <div class="js-step-1 col-sm-4 border-right-primary min-200 padding-xs-horiz-xl">
        <h4 class="margin-bottom-reset">Step 1. <i class="mi hide js-check-icon">check_circle</i></h4>
        <small class="margin-bottom block"><em>Select product you'd like to assign*</em></small>
        <% selected_option = current_spree_user.managed_products_options.find{|o| o[1] == params[:licenses_ids] } %>
        <%= f.hidden_field :licenses_ids, :value => selected_option.nil? ? "" : selected_option[1] %>
        <div class="btn-group btn-block margin-bottom-reset licenses-dropdown" id="licensesDropdown">
          <button type="button" class="btn btn-default dropdown-toggle licenses-dropdown-button" data-toggle="dropdown">
            <span class="licenses-dropdown-selection">
              <% if selected_option %>
                <%= selected_option[0] %>
              <% else %>
                Select a Product
              <% end %>
            </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu btn-block">
            <% current_spree_user.managed_products_options.each do |product| %>
              <li><a href="#" data-product="<%= product[1] %>"><%= product[0] %></a></li>
            <% end %>
          </ul>
        </div>
        <small><em>*This may affect your licenses above</em></small>
      </div>
      <div class="js-step-2 col-sm-4 min-200 padding-xs-horiz-xl">
        <h4 class="margin-bottom-reset">Step 2. <i class="mi hide js-check-icon">check_circle</i></h4>
        <small class="margin-bottom block"><em>Select users you'd like to assign</em></small>
        <a href="#" class="btn btn-primary btn-block margin-bottom" id="show-add-users-modal-btn">Add Users</a>
        <small class="js-success-message hide">You have successfully added <span class="js-number-total"></span> user</small>
        <%= f.hidden_field :licenses_recipients %>
      </div>
      <div class="js-step-3 col-sm-4 border-left-primary min-200 padding-xs-horiz-xl">
        <h4 class="margin-bottom-reset">Step 3. <i class="mi hide js-check-icon">check_circle</i></h4>
        <small class="margin-bottom block"><em>Select the quantity of licenses to assign</em></small>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group margin-bottom-s">
              <label for="">Quantity</label>
              <%= f.number_field :licenses_number, class: 'form-control', value: 1 %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group margin-bottom">
              <label for=""># of Users</label>
              <%= f.text_field :total, class: 'form-control', readonly: true %>
            </div>
          </div>
        </div>
        <strong class="text-uppercase sans-serif margin-bottom-s block">Total Licenses = <span id="licenseTotal"></span></strong>
        <%= f.submit 'Assign License(s)', class: 'btn btn-success btn-block margin-bottom-s disabled', id: 'btnAssignLicenses', data: { disable_with: 'Saving' } %>
      </div>
    </div>
  <% else %>
    <p>Don't have licenses available to assign.</p>
  <% end %>
<% end %>

<%= render partial: 'select_users_modal' %>

<%= content_for :javascripts do %>
  <%= render 'assign_form_js' %>

  <%= javascript_tag do %>

    $(function() {
      function getLicensesTour() {
        $.get('/account/tour/licenses');
      }

      <% unless current_spree_user.tour_showed_licenses? %>
        getLicensesTour();
      <% end %>

      $('.js-get-licenses-tour').on('click', function(e) {
        e.preventDefault();
        getLicensesTour();
      });
    });
  <% end %>

<% end %>
