<%= render 'stats' %>

<%= render 'tabs' %>

<div class="container">
<%= form_for @assign_licenses_form, url: assign_account_licenses_path do |f| %>
  <div class="text-center">
    <h3>Ready to assign some licenses ..</h3>
    <p>Assign one or more licenses to anyone you want</p>
  </div>
  <div class="form-group">
    <label for="">Licenses Recipient(s)</label>
    <%= f.text_field :licenses_recipients, class: 'form-control' %>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Product to License</label>
        <%= f.select :product_id, [], {}, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Number of Licenses</label>
        <%= f.select :licenses_number, [], {}, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Total License(s) Assigned</label>
        <%= f.text_field :total, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <button class="btn btn-default">Upload Users From File +</button>
    </div>
  </div>
  <div class="row text-center" style="margin-top: 40px;">
    <div>
      <%= f.submit 'Assign License(s)', class: 'btn btn-primary' %>
    </div>
    <div>
      <%= link_to 'Cancel', '', class: '' %>
    </div>
  </div>
<% end %>
</div>
