<% content_for :body_class, "licenses" %>

<%= render partial: 'tabs', locals: { tab: 'users' } %>

<div class="container">
  <div class="text-center license-page-description">
    <h2>Need to transfer a license, or just checking in ...</h2>
    <h6>Here is where you can remind, reassign, and revoke user licenses</h6>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" /></th>
        <th>User</th>
        <th>School/District</th>
        <th>Product License(s)</th>
        <th>Last Active</th>
        <th colspan='2'></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr data-user-id='<%= user.id %>'>
          <td><input type="checkbox" /></td>
          <td><%= user.full_name %></td>
          <td><%= user.school_district.try(:name) %></td>
          <td>
            <% user.licensed_products_from(current_spree_user).group_by(&:product).each do |product, licenses| %>
              <%= product.name %>(x<%= licenses.map(&:quantity).sum %>)
            <% end %>
          </td>
          <td><%= user.last_active_date.strftime("%b %-d, %Y") rescue nil %></td>
          <td>
            <%= link_to 'Edit Licenses', edit_user_licenses_account_licenses_path(user_id: user.id), class: 'btn btn-default btn-sm', remote: true %>
          </td>
          <td>
            <a href="<%= user_stats_account_licenses_path(user_id: user.id)  %>" class="btn btn-primary btn-sm user-details-btn">Details</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
</div>
<%= link_to new_account_reminder_path, remote: true, class: 'btn btn-primary red-btn reminder-btn' do %>
  <span class="glyphicon glyphicon-comment"></span>
  Remind
<% end %>
<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      $('.user-details-btn').click(function(e){
        e.preventDefault();
        var $tr = $(this).parents('tr');
        var user_id = $tr.attr('data-user-id');
        var url = $(this).attr('href');
        var $user_tr = $("#user-stats-tr-"+user_id);
        if ($user_tr.length > 0) {
          $user_tr.remove()
        } else {
          $.get(url);
        }
      });
    });
  <% end %>
<% end %>
