<%= render 'stats' %>

<%= render partial: 'tabs', locals: { tab: 'users' } %>

<div class="container">
  <div class="text-center">
    <h3>Need to transfer a license, or just checking in ...</h3>
    <p>Here is where you can remind, reassign, and revoke user licenses</p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" /></th>
        <th>User</th>
        <th>District</th>
        <th>Product</th>
        <th>Last Active</th>
        <th colspan='4'></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><input type="checkbox" /></td>
          <td><%= user.full_name %></td>
          <td><%= user.school_district.try(:name) %></td>
          <td><%= user.products.map(&:name).join(', ') %></td>
          <td><%= user.last_sign_in_at.strftime("%b %-d, %Y") %></td>
          <td><a href="" class="btn btn-primary btn-sm">Remind</a></td>
          <td><a href="" class="btn btn-primary btn-sm">Reassign</a></td>
          <td><a href="" class="btn btn-primary btn-sm">Details</a></td>
          <td><a href="" class="btn btn-sm">Revoke</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
</div>
