<% content_for :body_class, "licenses" %>

<%= render partial: 'tabs', locals: { tab: 'users' } %>

<%= link_to 'Export Users List',
            export_users_account_licenses_path(format: 'csv', query: params[:query]),
            class: 'btn btn-default btn-block-xs margin-bottom js-export-users-button' %>

<div class="table-responsive js-user-table">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>School/District</th>
      <th>Product License(s)</th>
      <th>Last Active</th>
      <th style="width: 240px;"></th>
      <th style="width: 170px"></th>
    </tr>
  </thead>
  <tbody>
    <% @product_distributions.each do |product_distribution| %>
      <tr data-user-id='<%= product_distribution.to_user_id %>'>
        <td><%= product_distribution.to_user.full_name rescue nil %></td>
        <td><%= product_distribution.to_user.try(:email) || product_distribution.email %></td>
        <td><%= product_distribution.to_user.school_district.try(:name) rescue nil %></td>
        <td>
          <% Spree::ProductDistribution.from_user_to_email(current_spree_user, product_distribution.email).each do |_product_distribution| %>
            <% next if _product_distribution.quantity == 0 %>
            <%= _product_distribution.product.name %>(x<%= _product_distribution.quantity %>)
          <% end %>
        </td>
        <td><%= product_distribution.to_user.last_active_date.strftime("%b %-d, %Y") rescue nil %></td>
        <td>
          <% if product_distribution.to_user %>
            <%= link_to 'Edit Licenses', edit_user_licenses_account_licenses_path(user_id: product_distribution.to_user.id), class: 'btn btn-default btn-sm', remote: true %>
            <%= link_to 'Revoke', bulk_revoke_modal_account_licenses_path(user_id: product_distribution.to_user.id), class: 'btn btn-default btn-sm', remote: true %>
          <% else %>
            <%= link_to 'Cancel Invitation', cancel_invitation_account_licenses_path(email: product_distribution.email), class: 'btn btn-default btn-sm', data: { confirm: 'Are you sure to cancel this license?', method: :post } %>
          <% end %>
        </td>
        <td>
          <% if product_distribution.to_user %>
            <a href="<%= user_stats_account_licenses_path(user_id: product_distribution.to_user.id)  %>" class="btn btn-primary btn-sm user-details-btn">Details</a>
          <% else %>
            <%= link_to 'Send Invitation', send_invitation_account_licenses_path(email: product_distribution.email), class: 'btn btn-danger btn-sm', data: { method: :post, confirm: 'Are you sure to send invitation to this user again?' }, remote: true  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= paginate @product_distributions %>

<%= link_to new_account_reminder_path, remote: true, class: 'btn btn-default red-btn reminder-btn', data: {'toggle' => 'tooltip'}, title: 'Send email reminder' do %>
  <%= material_icon.notifications.md_36 %>
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      $('.user-details-btn').click(function(e){
        e.preventDefault();
        var $tr = $(this).parents('tr');
        var user_id = $tr.attr('data-user-id');
        var url = $(this).attr('href');
        var $user_tr = $("#user-stats-tr-"+user_id);
        var $secondary_user_tr = $('.user-details[data-parent-id="'+user_id+'"]');
        if ($user_tr.length > 0) {
          $user_tr.remove()
          $secondary_user_tr.remove();
        } else {
          $.get(url);
        }
      });

      $(document).on( "click", ".distribution-stats-btn", function(e) {
        e.preventDefault();
        var user_id = $(this).attr('data-user-id');
        var url = $(this).attr('href');
        var $secondary_user_tr = $('.user-details[data-parent-id="'+user_id+'"]');
        if($secondary_user_tr.length > 0) {
          $secondary_user_tr.remove();
        } else {
          $.get(url);
        }
      });

      $('[data-toggle="tooltip"]').tooltip({container: 'body'});

      function getLicensesUsersTour() {
        $.get('/account/tour/licenses_users');
      }

      <% unless current_spree_user.tour_showed_licenses_users? %>
        getLicensesUsersTour();
      <% end %>

      $('.js-get-licenses-users-tour').on('click', function(e) {
        e.preventDefault();
        getLicensesUsersTour();
      });
    });
  <% end %>
<% end %>
