<div class="sub-container <%= level.odd? ? 'odd' : 'even' %> <%= open ? '' : 'hidden' %>">
  <div class="sub-materials clearfix">
    <% items.each do |item| %>
      <% material = item.material %>
      <div class="sub-material clearfix">
        <%= check_box_tag 'material_ids[]', material.id, false, 'data-checkbox-id' => material.id %>
        <%= material.name %>
        <% if material.material_files_count > 0 %>
          <%= link_to download_material_path(material), class: 'pull-right', remote: true do %>
            <span class="glyphicon glyphicon-download-alt"></span>
          <% end %>
        <% end %>
        <% if item.children.count > 0 %>
          <% sub_open = @opened_material_ids.include?(material.id) %>
          <span class="glyphicon glyphicon-chevron-<%= sub_open ? 'up' : 'down' %> pull-right toggler" data-material-id="<%= material.id %>"></span>
          <%= render partial: 'materials', locals: { items: item.children, level: item.level, open: sub_open } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
