<div id="material<%= material.id %>" class="panel panel-info" data-material-id="<%= material.id %>">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-7 text-left">
        <%= material.name %>
      </div>
      <div class="col-xs-5 text-right">
        <% if material.link.present? %>
          <%= link_to material.link, target: '_blank' do %>
            <span class="fa fa-link"></span>
          <% end %>
        <% end %>
        <% if item.children.size > 0 || material.material_files_count > 0 %>
          <%= link_to download_material_path(material), remote: true do %>
            <span class="fa fa-download"></span>
          <% end %>
        <% end %>
        <% if material.material_files_count > 0 %>
          <%= link_to preview_material_path(material), remote: true do %>
            <span class="fa fa-eye"></span>
          <% end %>
          <% if bookmarked_material?(material) %>
            <span class="fa fa-bookmark"></span>
          <% else %>
            <%= link_to bookmark_material_path(material, ref_id: "#bookmark-#{material.id}"), id: "bookmark-#{material.id}", remote: true, data: { method: :post } do %>
              <span class="fa fa-bookmark-o"></span>
            <% end %>
          <% end %>
        <% end %>
        <% if item.children.size > 0 %>
          <% open_material = @opened_material_ids.include?(material.id) %>
          <span
            class="fa fa-chevron-up collapsed"
            data-material-id="<%= material.id %>"
            data-toggle="collapse"
            data-parent="#material<%= material.id %>"
            href="#collapse<%= material.id %>"></span>
        <% end %>
      </div>
    </div>
  </div>
  <% if item.children.size > 0 %>
    <div id="collapse<%= material.id%>" class="list-group collapse">
      <%= render partial: 'materials', locals: { items: item.children, level: item.level, open: open_material } %>
    </div>
  <% end %>
</div>
