<div id="material<%= material.id %>" class="panel panel-info" data-material-id="<%= material.id %>">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-7 text-left">
        <h4 class="panel-title"><%= material.name %></h4>
      </div>
      <div class="col-xs-5 text-right">
        <% if item.children.size > 0 %>
          <% open_material = @opened_material_ids.include?(material.id) %>
          <button
            class="btn btn-primary btn-icon margin-left margin-right-reset collapsed"
            data-material-id="<%= material.id %>"
            data-toggle="collapse"
            data-parent="#material<%= material.id %>"
            href="#collapse<%= material.id %>">
            <i class="fa fa-chevron-up"></i>
          </button>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-left">
        <% if material.link.present? %>
          <%= link_to material.link, target: '_blank' do %>
            <i class="fa fa-link margin-right-s text-info"></i>
          <% end %>
        <% end %>
        <% if item.children.size > 0 || material.material_files_count > 0 %>
          <%= link_to download_material_path(material), remote: true do %>
            <i class="fa fa-download margin-right-s text-info"></i>
          <% end %>
        <% end %>
        <% if material.material_files_count > 0 %>

          <% if material.material_files_count == 1 %>
            <%= link_to material.material_files.first.file.preview_expiring_url(60*60*60), target: '_blank' do %>
              <i class="fa fa-eye margin-right-s text-info"></i>
            <% end %>
          <% else %>
            <%= link_to preview_material_path(material), remote: true do %>
              <i class="fa fa-eye margin-right-s text-info"></i>
            <% end %>
          <% end %>

          <% if bookmarked_material?(material) %>
            <%= link_to remove_bookmark_material_path(material, ref_id: "#bookmark-#{material.id}"), id: "bookmark-#{material.id}", remote: true, data: { method: :post } do %>
              <i class="fa fa-bookmark text-info"></i>
            <% end %>
          <% else %>
            <%= link_to bookmark_material_path(material, ref_id: "#bookmark-#{material.id}"), id: "bookmark-#{material.id}", remote: true, data: { method: :post } do %>
              <i class="fa fa-bookmark-o text-info"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if item.children.size > 0 %>
    <div id="collapse<%= material.id%>" class="list-group collapse">
      <%= render partial: 'materials', locals: { items: item.children, level: item.level, open: open_material } %>
    </div>
  <% end %>
</div>
