<div class="product clearfix">
  <div class="product-head">
    <p><%= product.free? ? 'Free' : 'Paid' %></p>
    <h3><%= product.name %></h3>
    <span class="glyphicon glyphicon-chevron-down open-product"></span>
  </div>
  <div class="materials">
    <% product.materials.roots.each do |material| %>
      <div class="material clearfix" data-material-id="<%= material.id %>">
        <%= check_box_tag 'material_ids[]', material.id, false, 'data-checkbox-id' => material.id %>
        <%= material.name %>
        <%= link_to sub_material_path(material), remote: true, class: 'sub-link' do %>
          <span class="glyphicon glyphicon-chevron-down pull-right"></span>
        <% end %>
      </div>
    <% end %>
    <div class="actions">
      <%= link_to 'Download All', download_all_materials_path(product_id: product.id), class: 'btn btn-primary btn-sm', remote: true %>
      <a href="" class="btn btn-primary btn-sm">Download Selected</a>
    </div>
  </div>
</div>
