<div id="product<%= product.id %>" class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-10">
        <p><%= product.free? ? 'Free' : 'Paid' %></p>
        <h3><%= product.name %></h3>
      </div>
      <div class="col-sm-2 text-right-sm">
        <span
          class="fa fa-chevron-up collapsed"
          data-toggle="collapse"
          data-parent="#product<%= product.id %>"
          href="#collapse<%= product.id %>"></span>
      </div>
    </div>
  </div>
  <% open_product = @opened_product_ids.include?(product.id) %>
  <div id="collapse<%= product.id %>" class="panel-body collapse">
    <% nested_materials(product.materials.order('lft asc')).each do |item| %>
      <% material = item.material %>
      <% next if !show_grade_material?(product, material) %>
      <div class="">
        <%= render partial: 'material_item', locals: { material: material, item: item } %>
      </div>
    <% end %>
    <div class="actions">
      <%= link_to 'Download All', download_all_materials_path(product_id: product.id), class: 'btn btn-primary', remote: true, data: { method: :post } %>
      <%= link_to "Download Selected", multi_download_materials_path(product_id: product.id), class: 'btn btn-primary download-selected-btn' %>
    </div>
  </div>
</div>
