<div id="product<%= product.id %>" class="panel panel-primary panel-product" data-product-id="<%= product.id %>">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-10">
        <h3><%= product.name %></h3>
      </div>
      <div class="col-sm-2 text-right--sm-min">
        <span
          class="mi md-36 panel-toggle productToggle collapsed"
          data-toggle="collapse"
          data-parent="#product<%= product.id %>"
          href="#collapse<%= product.id %>">keyboard_arrow_up</span>
      </div>
    </div>
  </div>
  <div id="collapse<%= product.id %>" class="panel-body collapse">
    <% nested_materials(product.materials.order('lft asc')).each do |item| %>
      <% material = item.material %>
      <% next if !show_grade_material?(product, material) %>
        <%= render partial: 'material_item', locals: { material: material, item: item } %>
    <% end %>
  </div>
</div>
