<div class="product clearfix">
  <div class="product-head">
    <p><%= product.free? ? 'Free' : 'Paid' %></p>
    <h3><%= product.name %></h3>
    <span class="glyphicon glyphicon-chevron-down open-product"></span>
  </div>
  <div class="materials">
    <% nested_materials(product.materials.order('lft asc')).each do |item| %>
      <% material = item.material %>
      <div class="material clearfix" data-material-id="<%= material.id %>">
        <%= check_box_tag 'material_ids[]', material.id, false, 'data-checkbox-id' => material.id %>
        <%= material.name %>
        <% if item.children.size > 0 %>
          <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          <%= render partial: 'materials', locals: { items: item.children, level: item.level } %>
        <% end %>
      </div>
    <% end %>
    <div class="actions">
      <%= link_to 'Download All', download_all_materials_path(product_id: product.id), class: 'btn btn-primary btn-sm', remote: true, data: { method: :post } %>
      <%= link_to "Download Selected", multi_download_materials_path(product_id: product.id), class: 'btn btn-primary btn-sm download-selected-btn' %>
    </div>
  </div>
</div>
