<div class="product clearfix" data-product-id="<%= product.id %>">
  <div class="product-head">
    <p><%= product.free? ? 'Free' : 'Paid' %></p>
    <h3><%= product.name %></h3>
    <span class="glyphicon glyphicon-chevron-down open-product"></span>
  </div>
  <% open_product = @opened_product_ids.include?(product.id) %>
  <div class="materials <%= 'show-materials' if open_product %>">
    <% nested_materials(product.materials.order('lft asc')).each do |item| %>
      <% material = item.material %>
      <% next if !filter_grade_material?(product, material) %>
      <div class="material clearfix">
        <%= render partial: 'material_item', locals: { material: material, item: item } %>
      </div>
    <% end %>
    <div class="actions">
      <%= link_to 'Download All', download_all_materials_path(product_id: product.id), class: 'btn btn-primary btn-sm', remote: true, data: { method: :post } %>
      <%= link_to "Download Selected", multi_download_materials_path(product_id: product.id), class: 'btn btn-primary btn-sm download-selected-btn' %>
    </div>
  </div>
</div>
