<div class="product clearfix">
  <div class="product-head">
    <p><%= product.free? ? 'Free' : 'Paid' %></p>
    <h3><%= product.name %></h3>
    <span class="glyphicon glyphicon-chevron-down open-product"></span>
  </div>
  <div class="materials">
    <% product.materials.roots.each do |material| %>
      <div class="material clearfix" data-material-id="<%= material.id %>">
        <input type="checkbox" />
        <%= material.name %>
        <%= link_to sub_material_path(material), remote: true, class: 'sub-link' do %>
          <span class="glyphicon glyphicon-chevron-down pull-right"></span>
        <% end %>
      </div>
    <% end %>
    <div class="actions">
      <a href="" class="btn btn-primary btn-sm">Download All</a>
      <a href="" class="btn btn-primary btn-sm">Download Selected</a>
    </div>
  </div>
</div>
