<div class="row">
  <div class="col-sm-10 col-sm-offset-1 margin-bottom-xl">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h2><%= @download_page.title %></h2>
          <p><%= @download_page.description.html_safe %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 margin-bottom">
        <div class="form-inline">
          <label for="">Select Grade:</label>
          <div class="form-group select-container dark-select margin-xs-left-m">
            <span>Grade</span>
            <%= select_tag 'grade_option', options_for_select(GRADE_LEVELS, current_spree_user.settings[:grade_option]), include_blank: 'All', class: 'form-control inline-input'  %>
          </div>
        </div>
      </div>
    </div>
    <div class="products">
      <% @products.each do |product| %>
        <% if locked_product?(product) %>
          <%= render partial: 'locked_product', locals: { product: product } %>
        <% else %>
          <%= render partial: 'open_product', locals: { product: product } %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= content_for :javascripts do %>
    <%= javascript_tag do %>
      $(function() {
        <% if params[:opened_product_id].present? %>
          var pos = $("[data-product-id='<%= params[:opened_product_id] %>']").offset().top;
          $('body, html').animate({scrollTop: pos});
        <% end %>
        function trackProductMaterial(product_id, material_id) {
          $.ajax({
            url: '/materials/track',
            type: 'POST',
            data: { product_id: product_id, material_id: material_id }
          });
        }

        function untrackProduct(product_id, material_id) {
          $.ajax({
            url: '/materials/untrack',
            type: 'POST',
            data: { product_id: product_id, material_id: material_id }
          });
        }

        $('.open-product').click(function(e){
          e.preventDefault();
          $this = $(e.target);
          $product_wrapper = $this.closest('.product');
          $this.toggleClass('rotate-icon');
          $product_wrapper.find('.materials').toggleClass('show-materials')
          product_id = $product_wrapper.attr('data-product-id');
          if ($product_wrapper.find('.materials').hasClass('show-materials')) {
            trackProductMaterial(product_id);
          } else {
            untrackProduct(product_id);
          }
        });

        $('body').on('change', "input[type=checkbox]", function(e){
          var checked = $(this).is(':checked');
          $.each($(this).parent().find('.sub-materials').find("input[type='checkbox']"), function(index, el){
            $(el).prop('checked', checked);
          })
        });

        $('body').on('click', '.download-selected-btn', function(e) {
          e.preventDefault();
          $product_wrapper = $(this).closest('.product');
          $url = $(e.target).attr('href');
          var material_ids = [];
          $.each($product_wrapper.find("input[type='checkbox']:checked"), function(index, el){
            material_ids.push($(el).val());
          });
          if (material_ids.length == 0) {
            alert('Please select first!');
            return;
          }
          $.ajax({
            url: $url,
            type: 'POST',
            data: { material_ids: material_ids }
          })
        });

        var url = "/account/save_grade_option";
        $("#grade_option").change(function(e){
          $.ajax({
            url: url,
            type: 'POST',
            data: { grade_option: $(this).val() },
            success: function() {
              window.location.reload(true);
            }
          });
        });

        $(".toggler").click(function() {
          $toggler         = $(this)
          $sub             = $toggler.next('.sub-container');
          $product_wrapper = $toggler.closest('.product');

          product_id = $product_wrapper.attr('data-product-id');
          material_id = $toggler.attr('data-material-id');

          if ($toggler.hasClass('glyphicon-chevron-up')) {
            $toggler.removeClass('glyphicon-chevron-up');
            $toggler.addClass('glyphicon-chevron-down');
            $sub.addClass('hidden');
            untrackProduct(product_id, material_id);
          } else {
            $toggler.addClass('glyphicon-chevron-up');
            $toggler.removeClass('glyphicon-chevron-down');
            $sub.removeClass('hidden');
            trackProductMaterial(product_id, material_id);
          }
        });

        var material_ids_to_scroll = <%= raw @material_ids_to_scroll.to_json %>;
        for(var i=0; i < material_ids_to_scroll.length; i ++) {
          var material_id = material_ids_to_scroll[i];
          var $material = $(".material-item[data-material-id='"+material_id+"']");
          var $product = $material.parents('.materials');
          $product.scrollTo($material);
        }
      })
    <% end %>
  <% end %>
</div>
