<div class="downloads-container">
  <div class="container">
    <h2><%= @download_page.title %></h2>
    <p><%= @download_page.description.html_safe %></p>

    <hr />

    <div class="clearfix">
      <div class="pull-right">
        <h6>Grade:
        <%= select_tag 'grade_option', options_for_select(GRADE_LEVELS, current_spree_user.settings[:grade_option]), include_blank: 'All', class: 'form-control inline-input'  %></h6>
      </div>
    </div>
    <div class="products">
      <% @products.each do |product| %>
        <% if locked_product?(product) %>
          <%= render partial: 'locked_proudct', locals: { product: product } %>
        <% else %>
          <%= render partial: 'open_product', locals: { product: product } %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= content_for :javascripts do %>
    <%= javascript_tag do %>
      $(function() {
        function trackProductMaterial(product_id, material_id) {
          $.ajax({
            url: '/materials/track',
            type: 'POST',
            data: { product_id: product_id, material_id: material_id }
          });
        }

        function untrackProduct(product_id, material_id) {
          $.ajax({
            url: '/materials/untrack',
            type: 'POST',
            data: { product_id: product_id, material_id: material_id }
          });
        }

        $('.open-product').click(function(e){
          e.preventDefault();
          $this = $(e.target);
          $product_wrapper = $this.closest('.product');
          $this.toggleClass('rotate-icon');
          $product_wrapper.find('.materials').toggleClass('show-materials')
          product_id = $product_wrapper.attr('data-product-id');
          if ($product_wrapper.find('.materials').hasClass('show-materials')) {
            trackProductMaterial(product_id);
          } else {
            untrackProduct(product_id);
          }
        });

        $('body').on('change', "input[type=checkbox]", function(e){
          var checked = $(this).is(':checked');
          $.each($(this).parent().find('.sub-materials').find("input[type='checkbox']"), function(index, el){
            $(el).prop('checked', checked);
          })
        });

        $('body').on('click', '.download-selected-btn', function(e) {
          e.preventDefault();
          $product_wrapper = $(this).closest('.product');
          $url = $(e.target).attr('href');
          var material_ids = [];
          $.each($product_wrapper.find("input[type='checkbox']:checked"), function(index, el){
            material_ids.push($(el).val());
          });
          if (material_ids.length == 0) {
            alert('Please select first!');
            return;
          }
          $.ajax({
            url: $url,
            type: 'POST',
            data: { material_ids: material_ids }
          })
        });

        var url = "/account/save_grade_option";
        $("#grade_option").change(function(e){
          $.ajax({
            url: url,
            type: 'POST',
            data: { grade_option: $(this).val() },
            success: function() {
              window.location.reload(true);
            }
          });
        });

        $(".toggler").click(function() {
          $toggler         = $(this)
          $sub             = $toggler.next('.sub-container');
          $product_wrapper = $toggler.closest('.product');

          product_id = $product_wrapper.attr('data-product-id');
          material_id = $toggler.attr('data-material-id');

          if ($toggler.hasClass('glyphicon-chevron-up')) {
            $toggler.removeClass('glyphicon-chevron-up');
            $toggler.addClass('glyphicon-chevron-down');
            $sub.addClass('hidden');
            untrackProduct(product_id, material_id);
          } else {
            $toggler.addClass('glyphicon-chevron-up');
            $toggler.removeClass('glyphicon-chevron-down');
            $sub.removeClass('hidden');
            trackProductMaterial(product_id, material_id);
          }
        });
      })
    <% end %>
  <% end %>
</div>
