<div class="row">
  <div class="col-sm-10 col-sm-offset-1 margin-bottom--xl">
    <div class="row">
      <div class="col-xs-12 margin-top--xl margin-bottom--xl">
        <h2 class="text-center"><%= @download_page.title %></h2>
        <p><%= @download_page.description.html_safe %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <% @products.each do |product| %>
          <% if locked_product?(product) %>
            <%= render partial: 'locked_product', locals: { product: product } %>
          <% else %>
            <% cache [product, :download_materials], expires_in: 2.hours do %>
              <%= render partial: 'open_product', locals: { product: product } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= content_for :javascripts do %>
    <%= javascript_tag do %>
      $(function() {
        <% if params[:opened_product_id].present? %>
          var $targetEl = $("[data-product-id='<%= params[:opened_product_id] %>']");
          if ($targetEl.length > 0) {
            var pos = $targetEl.offset().top;
            $('body, html').animate({scrollTop: pos});
          }
        <% end %>

        function trackProductMaterial(product_id, material_id) {
          $.ajax({
            url: '/materials/track',
            type: 'POST',
            data: { product_id: product_id, material_id: material_id }
          });
        }

        function untrackProduct(product_id, material_id) {
          $.ajax({
            url: '/materials/untrack',
            type: 'POST',
            data: { product_id: product_id, material_id: material_id }
          });
        }

        $('.productToggle').click(function(e){
          e.preventDefault();
          $this = $(e.target);
          $product_wrapper = $this.closest('.product');
          product_id = $product_wrapper.attr('data-product-id');
          if ($product_wrapper.find('.panel-body').hasClass('in')) {
            trackProductMaterial(product_id);
          } else {
            untrackProduct(product_id);
          }
        });

        $('body').on('change', "input[type=checkbox]", function(e){
          var checked = $(this).is(':checked');
          $.each($(this).closest('.panel-heading').next('.list-group').find("input[type='checkbox']"), function(index, el){
            $(el).prop('checked', checked);
          })
        });

        $('body').on('click', '.download-selected-btn', function(e) {
          e.preventDefault();
          $product_wrapper = $(this).closest('.panel');
          $url = $(e.target).attr('href');
          var material_ids = [];
          $.each($product_wrapper.find("input[type='checkbox']:checked"), function(index, el){
            material_ids.push($(el).val());
          });
          if (material_ids.length == 0) {
            alert('Please select first!');
            return;
          }
          $.ajax({
            url: $url,
            type: 'POST',
            data: { material_ids: material_ids }
          })
        });

        var url = "/account/save_grade_option";
        $("#grade_option").change(function(e){
          $.ajax({
            url: url,
            type: 'POST',
            data: { grade_option: $(this).val() },
            success: function() {
              window.location.reload(true);
            }
          });
        });

        $('.productToggle').click(function() {
          $toggler         = $(this)
          $sub             = $toggler.closest('.panel-heading').next('.collapse');
          $product_wrapper = $toggler.closest('.panel');

          product_id = $product_wrapper.attr('data-product-id');
          material_id = $toggler.attr('data-material-id');

          if ($toggler.hasClass('collapsed')) {
            untrackProduct(product_id, material_id);
          } else {
            trackProductMaterial(product_id, material_id);
          }
        });

        <% if @opened_product_id %>
          var opened_product_id = <%= @opened_product_id %>;
          $("#product"+ opened_product_id + " .productToggle").trigger('click');
        <% end %>

        var material_ids_to_scroll = <%= raw @material_ids_to_scroll.to_json %>;
        for(var i=0; i < material_ids_to_scroll.length; i ++) {
          var material_id = material_ids_to_scroll[i];
          var $material = $(".material-item[data-material-id='"+material_id+"']");
          var $product = $material.parents('.materials');
          $product.scrollTo($material);
        }

        $('.panel-product button, .panel-product a').mouseout(function(){
         $(this).blur();
        });

      });
    <% end %>
  <% end %>
</div>
