<fieldset id="order_summary" data-hook>
  <legend><%= Spree.t(:order_number, number: @order.number) %></legend>
  <h1><%= accurate_title %></h1>

  <div id="order" data-hook>
    <%= render partial: 'spree/orders/completed_order_details', locals: { order: @order } %>

    <br class="clear" />

    <p data-hook="links">
      <%= link_to 'Access Dashboard', (@order.single_purchase? ? main_app.account_products_path : main_app.account_root_path), class: 'btn btn-block-xs btn-success margin-right--reset pull-right' %>
    </p>
  </div>
</fieldset>

<%= content_for :google_analytics do %>
  ga('require', 'ecommerce', 'ecommerce.js');

  ga('ecommerce:addTransaction', {
  'id': '<%= j @order.number %>',                                    // Transaction ID. Required.
  'affiliation': '<%= current_store.name %>',                 // Affiliation or store name.
  'revenue': '<%= @order.total %>',                                // Grand Total.
  'shipping': '<%= @order.ship_total %>',                                  // Shipping.
  'tax': '<%= @order.tax_total %>',                                        // Tax.
  'currency': '<%= current_currency %>'                        // local currency code.
  });
  <% @order.line_items.each do |line_item| %>
    ga('ecommerce:addItem', {
    'id': '<%= j @order.number %>',                        // Transaction ID. Required.
    'name': '<%= j line_item.variant.product.name %>',    // Product name. Required.
    'sku': '<%= j line_item.variant.sku %>',             // SKU/code.
    'category': '',                                     // Category or variation.
    'price': '<%= line_item.price %>',                 // Unit price.
    'quantity': '<%= line_item.quantity %>'           // Quantity.
    });
  <% end %>
  ga('ecommerce:send');
<% end %>
