<%= form_for([:cms, @help_item], class: 'form') do |f| %>
  <% if @help_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@help_item.errors.count, "error") %> prohibited this help_item from being saved:</h2>

      <ul>
      <% @help_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :display %>
    <%= f.check_box :display, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
