<div class="terms_and_conditions_box">
  <h4><%= Spree.t('terms_and_conditions.title') %></h4>
  <p>
    These are the license terms under which you are authorized to use this content. Please read and click I accept if you wish to proceed.
  </p>
  <div class="alert alert-info"><i class="mi">info_outline</i> Scroll through and accept the terms to continue.</div>
  <div class="terms_and_conditions_text">
    <% @current_order.products.select{|p| p.license_text.present?}.each do |product| %>
      <h5>License for <%= product.name %></h5>
      <p>
        <%= simple_format product.license_text %>
      </p>
    <% end %>
  </div>
  <div class="margin-top--s">
    <%= form.check_box :terms_and_conditions %> <%= label_tag(:terms_and_conditions, Spree.t('terms_and_conditions.checkbox')) %>
  </div>
</div>
<%= button_tag Spree.t(:save_and_continue), :class => 'continue btn btn-success btn-block-xs disabled term-continue-button margin-bottom', :disabled => true %>

<script type="text/javascript">
  $(function() {
    scrollHandler('order[terms_and_conditions]', true);
  });
</script>
