<div class="group-products">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="text-left lh4"><%= @product_group.name %></h2>
      <p class="text-left"><%= @product_group.description.html_safe rescue '' %></p>
    </div>
    <div class="col-xs-12">
      <div class="row">
        <% @products.each do |product| %>
          <% if $flipper[:store_redesign].enabled? %>
            <div class="col-md-4">
              <%= render partial: 'spree/shared/product', locals: { product: product } %>
            </div>
          <% else %>
            <%= render partial: 'spree/shared/product', locals: { product: product } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'spree/shared/partner_modal' %>
