<div class="group-products">
  <div class="row">
    <div class="col-md-12">
      <h2 class="bh6 margin-bottom--reset text-left">
        <%= @product_group.curriculum.try(:name) || 'General' %>
      </h2>
      <h2 class="text-left lh4"><%= @product_group.name %></h2>
      <div class="margin-bottom--l border-bottom--firm-accent">
        <div class="js-read-more overflow--hidden height--100">
          <div class="js-read-more-full">
            <%= @product_group.description.html_safe rescue '' %>
          </div>
        </div>
        <button class="btn btn-link-alt btn-link--stable js-read-more-btn none">Read <span class="js-read-more-btn-text">More</span><span class="js-read-less-btn-text none">Less</span> <i class="mi md-24 js-read-more-arrow">keyboard_arrow_down</i></button>
      </div>
    </div>
    <div class="col-xs-12">
      <% @products.in_groups_of(3, false).each do |group| %>
        <div class="row display-flex--md-min">
          <% group.each do |product| %>
            <div class="col-md-4 display-flex--md-min flex-column--md-min">
              <%= render partial: 'spree/shared/product_group', locals: { product: product } %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: 'spree/shared/partner_modal' %>

<% content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      function readMoreCheck() {
        if ( $('.js-read-more-full').height() > $('.js-read-more').height() ) {
          $('.js-read-more-btn').removeClass('none');
        }
      }

      $('.js-read-more-btn').on('click', function() {
        $('.js-read-more').toggleClass('height--100');
        $('.js-read-more-arrow').toggleClass('rotate--180');
        $('.js-read-more-btn-text').toggleClass('none');
        $('.js-read-less-btn-text').toggleClass('none');
      });

      readMoreCheck();
    });
  <% end %>
<% end %>
