<% @body_id = 'product-details' %>



<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">

  <div class="row">
    <% cache [I18n.locale, current_currency, @product, :image_and_attributes] do %>
      <div class="col-md-5" data-hook="product_left_part">
        <div data-hook="product_left_part_wrap">
          <div id="product-images" class="product-images" data-hook="product_images">
            <div id="main-image" class="panel panel-default" data-hook>
              <div class="panel-body text-center">
                <%= render :partial => 'spree/products/image', locals: { image: @product.images.first } %>
              </div>
            </div>
          </div>

          <div data-hook="product_properties">
            <%= render :partial => 'spree/products/properties' %>
          </div>

          <div data-hook="promotions">
            <%= render :partial => 'spree/products/promotions' %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="col-md-7" data-hook="product_right_part">

      <div class="card <%= card_type_class(@product) %>" data-hook="product_right_part_wrap">

        <div class="card-meta">
          <%= @product.curriculum.try(:name) || 'General' %>
        </div>
        <div id="product-description" data-hook="product_description" class="product-description">
          <% cache [I18n.locale, current_currency, @product, :meta] do %>
            <h2 class="product-title card-title" itemprop="name"><%= @product.name %></h2>
            <% if @product.price_in(current_currency) and !@product.price.nil? %>
              <%# if display_product_price_tag?(@product) %>
              <div data-hook="product_price">
                <div id="product-price">
                  <div>
                    <span class="lead price selling block margin-bottom--l <%= @product.free? ? 'text--danger-alt' : '' %>" itemprop="price">
                      <%= product_display_price(@product) %>
                    </span>
                    <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
                  </div>

                  <% if @product.master.can_supply? %>
                    <link itemprop="availability" href="http://schema.org/InStock" />
                  <% elsif @product.variants.empty? %>
                    <br />
                    <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                  <% end %>
                </div>
              </div>
              <%# end %>
            <% else %>
              <div id="product-price">
                <br>
                <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
              </div>
            <% end %>

            <div class="padding-bottom card-text" itemprop="description" data-hook="description">
              <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
            </div>
          <% end %>

          <% if @product.get_in_touch_product? %>
            <div class='row'>
              <div class="col-md-5">
                <%= link_to Spree.t(:get_in_touch), @product.get_in_touch_url, target: '_blank', class: 'btn btn-danger--alt btn--md product-btn-primary' %>
              </div>
            </div>
          <% elsif @product.partner_product? %>
            <div class="row">
              <div class="col-md-5">
                <% if @product.leaving_site_warning? %>
                  <%= link_to Spree.t(:purchase_from_partner), @product.redirect_url, target: '_blank', class: 'btn btn-danger--alt btn--md product-btn-primary', :data => { :toggle => 'modal', :redirect => @product.redirect_url, :target => '.partner-modal' } %>
                <% else %>
                  <%= link_to Spree.t(:purchase_from_partner), @product.redirect_url, target: '_blank', class: 'btn btn-danger--alt btn--md product-btn-primary' %>
                <% end %>
              </div>
            </div>
          <% elsif @product.free? %>
            <div class="row">
              <div class="col-md-5">
                <% if spree_current_user && spree_current_user.has_active_license_on?(@product) %>
                  <%= link_to 'Open Resource', main_app.account_resources_path, class: 'btn btn-danger--alt btn--md' %>
                <% else %>
                  <%= form_tag spree.free_product_order_path do %>
                    <%= hidden_field_tag :product_id, @product.id %>
                    <%= button_tag 'Add to Dashboard', class: 'btn btn-danger--alt btn--md', type: :submit %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% else %>
            <div id="cart-form" data-hook="cart_form">
              <%= render :partial => 'spree/products/cart_form' %>
            </div>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>

<%= render partial: 'spree/shared/partner_modal' %>
