<div class="row">
  <div class="col-md-12">
    <div class="terms_and_conditions_box">
      <h4><%= Spree.t('terms_and_conditions.title') %></h4>
      <p>
        These are the license terms under which you are authorized to use this content. Please read and click I accept if you wish to proceed.
      </p>
      <div class="alert alert-info margin-top"><i class="mi">info_outline</i> Scroll through and accept the terms to continue.</div>
      <div class="terms_and_conditions_text">
          <h5>License for <%= @product.name %></h5>
          <p>
            <%= simple_format @product.license_text_for_terms %>
          </p>
      </div>
      <div class="margin-top--s">
        <%= check_box_tag :accept_terms %> <%= label_tag(:accept_terms, Spree.t('terms_and_conditions.checkbox')) %>
      </div>
    </div>
    <%= form_tag agree_terms_product_path(@product) do %>
      <%= submit_tag 'Agree And Continue', class: 'btn btn-primary term-continue-button disabled', :disabled => true %>
    <% end %>
  </div>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    scrollHandler('accept_terms', true);
  });
</script>
<% end %>
