<div class="row">
  <div class="col-sm-10 col-sm-offset-1 margin-top--xl margin-bottom--xl">
    <p>
      <%= link_to account_products_path, :class => 'btn btn-default' do %>
        <i class="mi">keyboard_arrow_left</i> Back to dashboard
      <% end %>
    </p>
    <% @library_leafs.each do |library_leaf| %>
      <h2 class="thumbnail-library-leaf-title"><%= library_leaf.name %></h2>

      <div class="well">
        <% library_leaf.library_items.each_slice(4) do |library_items| %>
          <div class="row">
            <% library_items.each do |library_item| %>
              <div class="col-sm-3">
                <div class="thumbnail-library-wrapper">
                  <% if library_item.inkling? %>

                    <%= link_to launch_item_library_path(@product, item_id: library_item.id), class: 'thumbnail thumbnail-library thumbnail-library-inkling' do %>
                      <%= image_tag library_item.cover.url %>
                      <%= material_icon.md_48.launch.css_class('thumbnail-library-icon') %>
                    <% end %>


                    <h3 class="thumbnail-library-item-title"><%= library_item.name %></h3>

                  <% elsif library_item.pdf? %>

                    <%= link_to download_item_library_path(@product, item_id: library_item.id), target: '_blank', class: 'thumbnail thumbnail-library thumbnail-library-pdf' do %>
                      <%= image_tag library_item.cover.url %>
                      <%= material_icon.md_48.cloud_download.css_class('thumbnail-library-icon') %>

                    <% end %>

                    <h3 class="thumbnail-library-item-title"><%= library_item.name %></h3>

                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
