<div class="intro masthead" style="background-image: url('<%= image_url "homepage-mast.jpg" %>')">
  <div class="masthead-content text-center">
    <h5 class="home-mast-intro bold">All children are capable of <span class="green-text">greatness</span></h5>
    <div class="select-container light-text">
      <span>I am a...</span>
      <%= select_tag :role, options_for_select(USER_TITLES), prompt: 'I am a...', class: 'form-control inline-input masthead-select' %>
    </div>
    <div class="select-container light-text">
      <span>Looking for help with...</span>
      <%= select_tag :curriculum, options_from_collection_for_select(@curriculums, :id, :name), prompt: 'Looking for help in...', class: 'form-control inline-input masthead-select' %>
    </div>
  </div>
</div>
<section class="green-bg container-img-full">
  <div class="container">
    <div class="row row-img-full">
      <div class="col-xsl-6 col-no-img">
        <h6 class="bold">This is about Great Minds.</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="btn btn-default btn-block-xs" href="footer_nav/about.html">Learn More</a>
      </div>
      <div class="col-xsl-6 col-img-full" style="background-image: url('<%= image_url "homepage-secondary.jpg" %>')">
      </div>
    </div>
  </div>
</section>
<!-- </div> -->

<section class="cream-bg">
  <div class="container">
    <div class="row">
      <div class="col-xsl-4">
        <h6 class="bold">This is an important callout</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
        <a class="btn btn-default btn-block-xs" href="main_nav/contact.html">Learn More</a>
      </div>
      <div class="col-xsl-4">
        <h6 class="bold">This is an important callout</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
        <a class="btn btn-default btn-block-xs" href="main_nav/contact.html">Learn More</a>
      </div>
      <div class="col-xsl-4">
        <h6 class="bold">This is an important callout</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
        <a class="btn btn-default btn-block-xs margin-bottom-s" href="main_nav/contact.html">Learn More</a>
      </div>
    </div>
  </div>
</section>
<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      $('select#role').change(function(e){
        goToPage();
      });
      $('select#curriculum').change(function(e){
        goToPage();
      });

      function goToPage(){
        var role = $('select#role').val();
        var curriculumId = $('select#curriculum').val();
        if ( role && curriculumId ) {
          var url = "/decide_page_to_go?" + $.param({role: role, curriculum_id: curriculumId});
          window.location.href = url;
        };
      }
    });
  <% end %>
<% end %>
