<div class="list-group-item">
  <h4 class="margin-bottom-reset">
    <%= link_to strip_tags(event.title), "http://regonline.com/#{event.regonline_id}", target: '_blank' %>
  </h4>

  <div class="row">

    <% if event.start_date.present? && event.location_name.present? %>
      <div class="col-md-6">
        <small class="block margin-bottom">
          <% if event.start_date.present? && event.end_date.present? %>
            <%= date_range(event.start_date, event.end_date, format: :short) %><br />
          <% end %>

          <% if event.location_name.present? && event.state.present? %>
              <%= event.location_address1 if event.location_address1.present? %>
              <%= event.location_name %>,
              <%= event.state %>
          <% end %>
        </small>
      </div>
    <% end %>

    <div class="col-md-6">
      <% if event.grade_bands.present? %>
        <small>Grade Bands: <%= event.grade_bands %></small>
      <% end %>

      <% if event.session_types.present? %>
        <small class="block">Session types:
          <% event.event_trainings.each do |event_traning| %>
            <%= link_to event_traning.title, events_trainings_path(anchor: "event-#{event_traning.title_to_slug}") %>
          <% end %>
        </small>
      <% end %>

      <% if event.download_url.present? %>
        <small class="block"><%= link_to "Download Event Details", event.download_url, class: '', target: '_blank' %></small>
      <% end %>
    </div>
  </div>

</div>
