<% c = params.try(:[], :curriculums) || [] %>
<% color = c.include?("English") ? "background-color: #7CC7F1;" : c.include?("Math") ? "background-color: #CCFF63;" : "" %>
<div class="list-group-item">
  <h4 class="margin-bottom--reset">
    <%= link_to event.title.html_safe, "http://regonline.com/#{event.regonline_id}", target: '_blank' %>
  </h4>

  <div class="row">

    <% if event.start_date.present? %>
      <div class="col-md-6">
        <small class="block margin-bottom">
          <% if event.start_date.present? && event.end_date.present? %>
            <%= date_range(event.start_date, event.end_date, format: :short) %><br />
          <% end %>
        </small>

        <% if event.download_url.present? %>
          <small class="block"><%= link_to "Event Details", event.download_url, class: 'btn btn-info margin-bottom', style: "#{color}", target: '_blank' %></small>
        <% end %>
      </div>
    <% end %>

    <div class="col-md-6">
      <% if event.grade_bands.present? %>
        <small class="block margin-bottom">Grade Bands:<br />
          <strong class="sans-serif"><%= event.grade_bands %></strong>
        </small>
      <% end %>

      <% if event.session_types.present? %>
        <small class="block margin-bottom">Session types:<br />
          <% event.event_trainings.each_with_index do |event_training, index| %>
            <% next if event_training.training_type_category.nil? %>
            <% if event_training.training_type_category.is_default? %>
              <%= link_to event_training.title, events_trainings_path(anchor: "event-#{event_training.title_to_slug}", category: event_training.category) %><br />
            <% else %>
              <%= link_to event_training.title, parent_events_trainings_path(parent_slug: event_training.training_type_category.slug, anchor: "event-#{event_training.title_to_slug}", category: event_training.category) %><br />
            <% end %>
          <% end %>
        </small>
      <% end %>
    </div>
  </div>

</div>
