<div class="list-group-item">
  <h4 class="margin-bottom-reset">
    <%= link_to strip_tags(event.title), "http://regonline.com/#{event.regonline_id}", target: '_blank' %>
  </h4>

  <div class="row">

    <% if event.start_date.present? %>
      <div class="col-md-6">
        <small class="block margin-bottom">
          <% if event.start_date.present? && event.end_date.present? %>
            <%= date_range(event.start_date, event.end_date, format: :short) %><br />
          <% end %>
        </small>

        <% if event.download_url.present? %>
          <small class="block"><%= link_to "Event Details", event.download_url, class: 'btn btn-info margin-bottom', target: '_blank' %></small>
        <% end %>
      </div>
    <% end %>

    <div class="col-md-6">
      <% if event.grade_bands.present? %>
        <small class="block margin-bottom">Grade Bands:<br />
          <strong class="sans-serif"><%= event.grade_bands %></strong>
        </small>
      <% end %>

      <% if event.session_types.present? %>
        <small class="block margin-bottom">Session types:<br />
          <% event.event_trainings.each_with_index do |event_traning, index| %>
            <%= link_to event_traning.title, events_trainings_path(anchor: "event-#{event_traning.title_to_slug}") %><br />
          <% end %>
        </small>
      <% end %>
    </div>
  </div>

</div>
