<nav id="categoryFilters" class="panel-group margin-bottom--reset" data-hook>
  <div class="row">
    <div class="col-md-6">
      <div class="dropdown dropdown-md">
        <button class="btn btn-default btn-block dropdown-toggle dropdown-md-btn margin-bottom--reset" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Curriculum
          <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
        </button>
        <ul class="dropdown-menu dropdown-md-menu <%= 'custom-activated' if (RegonlineEvent::FILTER_CURRICULUMS & params.try(:[], :curriculums)).present? %>">
          <% RegonlineEvent::FILTER_CURRICULUMS.each do |curriculum| %>
            <% active = params.try(:[], :curriculums).include?(curriculum) %>
            <% link = params.merge(curriculums: params[:curriculums] - [curriculum]) %>
            <% link = params.merge(curriculums: params[:curriculums] + [curriculum]) unless active %>
            <li class="dropdown-md-item">
              <%= link_to link, class: "dropdown-md-link #{'active' if active}" do %>
                <%= curriculum %>
                <% if active %>
                  <i class="mi dropdown-md-mi">close</i>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="dropdown dropdown-md">
        <button class="btn btn-default btn-block dropdown-toggle dropdown-md-btn margin-bottom--reset" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Grade Band
          <i class="dropdown-md-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
        </button>
        <ul class="dropdown-menu dropdown-md-menu <%= 'custom-activated' if (RegonlineEvent::FILTER_GRADE_BANDS & params.try(:[], :grade_bands)).present? %>">
          <% RegonlineEvent::FILTER_GRADE_BANDS.each do |grade| %>
            <% active = params.try(:[], :grade_bands).include? grade %>
            <% link = params.merge(grade_bands: params[:grade_bands] - [grade]) %>
            <% link = params.merge(grade_bands: params[:grade_bands] + [grade]) unless active %>
            <li class="dropdown-md-item">
              <%= link_to link, class: "dropdown-md-link #{'active' if active}" do %>
                <%= grade %>
                <% if active %>
                  <i class="mi dropdown-md-mi">close</i>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
