<div class="row">
  <div class="col-sm-4 col-md-3 margin-top--xxl margin-bottom--xl">
    <%= render partial: 'filters' %>
  </div>
  <div class="col-sm-8 col-md-9 margin-top--xxl margin-bottom--xl">
    <%= render partial: 'curriculum_events_nav', locals: { page: @group_page, event_pages: @group_page.available_event_pages } %>
    <div class="events-page">
      <div class="row margin-bottom">
        <div class="col-sm-12">
          <p class="margin-bottom--reset"><%= @event_page.description.html_safe rescue '' %></p>
        </div>
      </div>

      <% if @event_page.by_header.count == 1 %>
          <%= render 'events_list' %>
      <% else %>
        <div class="row margin-bottom">
          <% @event_page.by_header.each_with_index do |header, index| %>
            <% next if header.events.displayable.sorted.count == 0 %>
            <div class="col-sm-6 <%= @event_page.by_header.count == index + 1 && (index + 1) % 2 != 0 ? 'col-sm-12' : '' %>">
              <h3><%= header.try(:name) %></h3>

              <% events = header.events.displayable.sorted %>
              <% events = controller.send(:construct_filter_relation, events, "grade_bands") if params[:grade_bands].present? %>
              <% events = controller.send(:construct_filter_relation, events, "curriculums") if params[:curriculums].present? %>
              <%= render 'events_list', events: events %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
