<div class="row">
  <div class="col-sm-10 col-sm-offset-1 margin-bottom--xl padding-top--xl">

    <div class="text-center">
      <h2 class="margin-bottom--l"><%= @training_type_category.title %></h2>
    </div>

    <p>
      <%= @training_type_category.description.html_safe rescue nil %>
    </p>

    <div class="alert alert-info margin-bottom--xxl">
      <i class="mi">info_outline</i> Click on the session types below for the session description
    </div>

    <% @event_trainings.each do |event_training_header| %>
      <h3><%= event_training_header.try(:name) if event_training_header.event_trainings.count > 0 %></h3>
      <% event_training_header.event_trainings.each do |event_training| %>
        <div class="panel panel-default panel-collapsible" id="event-<%= event_training.title_to_slug %>">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="serif" data-toggle="collapse" href="#collapse<%= event_training.title_to_slug %>"><%= event_training.title %></a>
            </h4>
          </div>
          <div id="collapse<%= event_training.title_to_slug %>" class="panel-collapse panel-collapse--serif collapse padding-top padding-left padding-right">
            <p>
               <%= event_training.content.html_safe rescue nil %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= content_for :javascripts do %>
  <%= render 'shared/expand_collapsables' %>
<% end %>

<% content_for :body_top do %>
  <%= render 'shared/hubspot' %>
<% end %>
