<%= render 'cms_nav' %>

<div class="col-md-9">
  <ul class="nav nav-tabs" id="profile-settings-tabs">
    <li role="presentation" class="active"><a href="#admin">Admin</a></li>
    <li role="presentation"><a href="#school-district-admin">School District Admin</a></li>
    <li role="presentation"><a href="#user">User</a></li>
  </ul>
  <%= form_tag '', method: :post do %>
    <div class="container">
      <div class="tab-content">
        <div class="tab-pane active" id="admin">
          <%= render partial: 'profile_fields', locals: { role: 'admin' } %>
        </div>
        <div class="tab-pane" id="school-district-admin">
          <%= render partial: 'profile_fields', locals: { role: 'school_district_admin' } %>
        </div>
        <div class="tab-pane" id="user">
          <%= render partial: 'profile_fields', locals: { role: 'user' } %>
        </div>
      </div>
      <button class="btn btn-success">Save Settings</button>
    </div>
  <% end %>
</div>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      $('#profile-settings-tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    });
  <% end %>
<% end %>
