<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Tags</th>
        <th>File</th>
        <th>Created At</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td><%= document.name %></td>
          <td><%= document.category %></td>
          <td><%= document.tags.map(&:name).join(',') %></td>
          <td>
            <%= document.attachment_file_name %>
          </td>
          <td>
            <%= document.created_at.strftime("%F %H:%M") %>
          </td>
          <td>
            <%= link_to 'Edit', edit_cms_document_path(document), class: 'btn btn-default btn-sm' %>
          </td>
          <td>
            <%= link_to 'Download', document.attachment.url, class: 'btn btn-default btn-sm', target: '_blank' %>
          </td>
          <td>
            <a class="btn btn-default copy-download-url-button btn-sm margin-bottom" data-clipboard-text="<%= document.image? ? document.image_url : document.attachment.url %>">Copy Url</a>
            <% if document.image? %>
              <a class="btn btn-default copy-download-url-button btn-sm" title="Use this url when use the image outside the tiles editor" data-clipboard-text="<%= document.attachment.url(:large) %>">Copy Compressed Url</a>
            <% end %>
          </td>
          <td>
            <%= link_to 'Duplicate', copy_doc_cms_document_path(document), data: { method: :post, confirm: 'Are you sure to duplicate this file?' }, class: 'btn btn-default btn-sm' %>
          </td>
          <td>
            <%= link_to 'Delete', cms_document_path(document), class: 'btn btn-danger btn-sm', data: { method: :delete, confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @documents %>
<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      var client = new ZeroClipboard( $('.copy-download-url-button') );
      client.on( 'ready', function(event) {
        client.on( 'copy', function(event) {
          event.clipboardData.setData('text/plain', $(event.target).attr('data-url'));
        });

        client.on( 'aftercopy', function(event) {
          alert('Copied to your clipboard');
        });
      });
    });
  <% end %>
<% end %>
