<%= form_for [:cms, @document], html: { multipart: true } do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% @document.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-heading padding-top--s padding-bottom--s">
      <h3 class="panel-title panel-title--s">Upload</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Name</label>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Category</label>
            <%= f.text_field :category, class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Tags (seperate by comma)</label>
            <%= f.text_field :tag_list, class: 'form-control', value: f.object.tags.map(&:name).join(',') %>
          </div>
          <div class="form-group">
            <label>File</label>
            <%= f.file_field :attachment %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <%= f.submit (f.object.new_record? ? "Create File": "Update File"), class: 'btn btn-success btn-block' %>
    </div>
  </div>
<% end %>
