<div class="table-responsive">
  <table class="table table-hover custom-fields-list">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Subject</th>
        <th>Role</th>
        <th>Display</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @custom_fields.each do |custom_field| %>
        <tr data-id="<%= custom_field.id %>">
          <td><%= mi.swap_vert %></td>
          <td><%= custom_field.name %></td>
          <td><%= custom_field.subject %></td>
          <td><%= custom_field.user_title %></td>
          <td><%= custom_field.display? ? 'Yes' : 'No' %></td>
          <td>
            <%= link_to 'Edit', edit_cms_custom_field_path(custom_field), class: 'btn btn-default' %>
            <%= link_to 'Delete', cms_custom_field_path(custom_field), class: 'btn btn-danger', data: { confirm: 'Are you sure?', method: :delete } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
   function updatePositions() {
     var data = {}
     $.each($(".custom-fields-list tbody tr"), function(index, element) {
       data[$(element).attr('data-id')] = index;
     });
     $.ajax({
       url: '/cms/custom_fields/update_positions',
       type: 'POST',
       data: { positions: data }
     })
   }
   $(function(){
     $(".custom-fields-list").sortable({
       containerSelector: 'table',
       itemPath: '> tbody',
       itemSelector: 'tr',
       placeholder: '<tr class="placeholder"/>',
       onDrop: function  (item, container, _super) {
         _super(item);
         updatePositions();
       }
     })
   });
  <% end %>
<% end %>
