<% content_for :page_title do %>
  Contacts <%= params[:start_date] %> ~ <%= params[:end_date] %>
<% end %>

<% if params[:topic].blank? %>
  <p>Contact Form Submissions: <%= @total_contacts %></p>
  <% @topics_breakdown.each do |breakdown| %>
    <p>
      <% percent = @total_contacts > 0 ? ((breakdown.topic_count / @total_contacts.to_f) * 100) : 0 %>
      <%= breakdown.topic %>: <%= breakdown.topic_count %>  (<%= number_to_percentage(percent, precision: 1) %>)
    </p>
  <% end %>
<% else %>
  <h4><%= params[:topic] %> : <%= @total_contacts %></h4>
<% end %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Email </th>
        <th>Name</th>
        <th>Topic</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact|%>
        <tr >
          <td><%= contact.email %></td>
          <td><%= contact.first_name %> <%= contact.last_name %></td>
          <td><%= contact.topic %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @contacts %>
