<% content_for :page_title do %>
  Analytics
<% end %>

<div class="well">
  <p class="sans-serif">Contact Form Submissions from <strong><%= params[:start_date] %></strong> to <strong><%= params[:end_date] %></strong></p>

  <% if params[:topic].blank? %>
    <div class="row sans-serif padding-bottom-s">
      <div class="col-sm-3 text-right"><strong>Total:</strong> </div>
      <div class="col-sm-3"><strong class="text-danger"><%= @total_contacts %></strong></div>
    </div>
    <% @topics_breakdown.each do |breakdown| %>
      <% percent = @total_contacts > 0 ? ((breakdown.topic_count / @total_contacts.to_f) * 100) : 0 %>
      <div class="row sans-serif padding-bottom-s">
        <div class="col-sm-3 text-right"><%= breakdown.topic %>: </div>
        <div class="col-sm-3">
          <div class="bar-graph" style="width: <%= number_to_percentage(percent, precision: 1) %>;"></div>
          <strong><%= breakdown.topic_count %></strong>  (<%= number_to_percentage(percent, precision: 1) %>)
        </div>
      </div>
    <% end %>
  <% else %>
    <p><%= params[:topic] %> Submissions : <%= @total_contacts %></p>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Email </th>
        <th>Name</th>
        <th>Topic</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact|%>
        <tr >
          <td><%= contact.email %></td>
          <td><%= contact.first_name %> <%= contact.last_name %></td>
          <td><%= contact.topic %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @contacts %>
