<h3><%= @mafis_product.name %></h3>
<p><%= image_tag @mafis_product.image, width: 500 %></p>
<p>$ <%= number_with_precision(@mafis_product.price, :precision => 2) %></p>
<p>Grade <%= @mafis_product.grade %></p>
<p>ISBN <%= @mafis_product.isbn %></p>


<p style="margin-top: 50px;"><%= @mafis_product.small_description %></p>
<p><%= @mafis_product.description %></p>
