<%= form_for @document, html: { multipart: true } do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% @document.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Name</label>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Category</label>
        <%= f.text_field :category, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>File</label>
        <%= f.file_field :attachment %>
      </div>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
