<h3><%= @famis_product.name %></h3>
<p><%= image_tag @famis_product.image, width: 500 %></p>
<p>Grade <%= @famis_product.grade %></p>
<p>ISBN <%= @famis_product.isbn %></p>


<p style="margin-top: 50px;"><%= @famis_product.small_description %></p>
<p><%= @famis_product.description %></p>
