<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Materials"} %>

<% if @product.material_import_jobs.processing.count > 0 %>
  <div class="alert alert-info">There's import jobs running to import materials.</div>
<% end %>

<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Material) %>
<% end %>

<%= button_link_to Spree.t(:new_material), new_object_url, { :class => "btn-success", :icon => 'add', :id => 'admin_new_product_material', remote: true } %>
<%= link_to 'Add Multiple', bulk_modal_admin_product_materials_path(@product), class: 'btn btn-default btn-sm', remote: true %>
<%= link_to 'Upload a ZIP for Bulk Import', new_admin_product_material_import_job_path(@product), class: 'btn btn-default btn-sm', remote: true %>

<ul class="list-group" style="margin-top: 10px;" id="materials">
  <% @materials.each do |material| %>
    <%= render partial: 'material_item', locals: { material: material } %>
  <% end %>
</ul>

<script type="text/javascript">
  $(function(){
    var productId = '<%= @product.slug %>';
    $("#materials").sortableLists({
      ignoreClass: 'btn',
      complete: function(el) {
        var $prev = $(el).prev('.list-group-item');
        var $next = $(el).next('.list-group-item')
        var left_id = null;
        var right_id = null;

        if ($prev.length > 0) {
          right_id = $prev.attr('data-material-id');
        } else if ($next.length > 0) {
          left_id = $next.attr('data-material-id');
        }
        var currentId = $(el).attr('data-material-id');
        var url = "/resources/admin/products/" + productId + "/materials/" + currentId + "/update_position";
        $.ajax({
          url: url,
          type: 'POST',
          data: { left_id: left_id, right_id: right_id }
        })
      }
    })
  });
</script>
