<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Materials"} %>

<% if @product.material_import_jobs.processing.count > 0 %>
  <div class="alert alert-info">There's import jobs running to import materials.</div>
<% end %>

<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Material) %>
<% end %>

<%= button_link_to Spree.t(:new_material), new_object_url, { :class => "btn-success", :icon => 'add', :id => 'admin_new_product_material', remote: true } %>
<%= link_to 'Bulk Add', bulk_modal_admin_product_materials_path(@product), class: 'btn btn-default btn-sm', remote: true %>
<%= link_to 'Add Materials By Upload Zip Files', new_admin_product_material_import_job_path(@product), class: 'btn btn-default btn-sm', remote: true %>

<ul class="list-group" style="margin-top: 10px;" id="materials">
  <% @materials.each do |material| %>
    <%= render partial: 'material_item', locals: { material: material } %>
  <% end %>
</ul>
