<%= render 'summary' %>

<%= render 'customer_info' %>

<%= render 'line_items' %>

<%= render 'billing_address' if @order.billing_address %>

<% if @order.line_items.empty? %>
  <div class="alert alert-warning">
    <%= Spree.t(:your_order_is_empty_add_product)%>
  </div>
<% end %>
