<%= render 'summary' %>

<%= render 'customer_info' %>

<%= render 'line_items' %>

<%= render 'billing_address' if @order.billing_address %>

<% if @order.line_items.empty? %>
  <div class="alert alert-warning">
    <%= Spree.t(:your_order_is_empty_add_product)%>
  </div>
<% end %>

<div>
  <%= link_to 'Cancel This Order', spree.cancel_admin_order_path(@order), class: 'btn btn-primary', data: { confirm: 'Are you cancel this order? This will delete all licenses associate with the order.', method: :put } if @order.allow_cancel? %>

  <%= link_to 'Change Licenses Owner', spree.change_licenses_owner_modal_admin_order_path(@order), class: 'btn btn-primary', remote: true if @order.allow_change_owner? %>
</div>
