<%= render 'cms_nav' %>

<div class="col-md-9">
  <section>
    <div class='row'>
      <h2>Curriculums</h2>
      <%= link_to 'Create new curriculum', new_cms_curriculum_path, class: 'btn btn-primary' %>
      <table class='table table-responsive table-striped table-hover'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Visible</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @curriculums.each do |curriculum| %>
            <tr>
              <td><%= curriculum.name %></td>
              <td><%= curriculum.position %></td>
              <td><%= curriculum.visible ? 'Yes' : 'No' %></td>
              <td><%= link_to 'Edit', edit_cms_curriculum_path(curriculum) %></td>
              <td><%= link_to 'Destroy', [:cms, curriculum], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @curriculums %>
    </div>
  </section>
</div>
