<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Files for <%= @library_leaf.name %></h4>
    </div>
    <div class="modal-body">

      <%= render 'item_form' %>

      <div class="table-responsive">
        <table class="table" style="min-width: 100%;" id="library-items-list-<%= @library_leaf.id %>">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @library_items.each do |library_item| %>
              <% next if library_item.new_record? %>
              <tr data-id="<%= library_item.id %>">
                <td><%= library_item.name %> </td>
                <td><%= library_item.item_type %></td>
                <td>
                  <%= link_to 'Edit', spree.edit_admin_product_library_leaf_library_item_path(@library_leaf.product, @library_leaf, library_item), class: 'btn btn-default btn-sm', remote: true %>
                  <%= link_to 'Delete', spree.admin_product_library_leaf_library_item_path(@library_leaf.product, @library_leaf, library_item), class: 'btn btn-default btn-sm', remote: true, data: { confirm: 'Are you sure?', method: :delete } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
