<div class="modal modal--scrollable fade" tabindex="-1" role="dialog" id="select-product-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Product Key Redemption</h4>
      </div>
      <%= form_tag activate_product_account_coupon_code_path(@coupon_code.code), remote: true, authenticity_token: true do %>
        <div class="modal-body">
          <label class="margin-bottom--l">Please select the product you wish to redeem...</label>
          <div class="row">
            <% @coupon_code.products_to_activate.each do |product| %>
              <div class="col-sm-3">
                <%= radio_button_tag :product_id, product.id, false, class: "thumbnail--coupon-code--trigger" %>
                <label class="thumbnail thumbnail--coupon-code" for="product_id_<%= product.id %>">
                  <%= product.name %> <%= product.grades.map(&:name).join(' ') %>
                </label>
              </div>
            <% end %>
          </div>

          <div class="row schools-row hide">
            <div class="col-md-6 form-group">
              <%= select_tag :school_name, options_for_select(@coupon_code.school_lists), class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="modal-footer text-left">
          <%= submit_tag 'Select', class: 'btn btn-primary', data: { disable_with: 'Submitting...' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $('.thumbnail--coupon-code').click(function(){
      $('.schools-row').removeClass('hide');
    });
  });
</script>
