<%= render 'cms_nav' %>

<div class="col-md-9">
  <h2>Event Headers</h2>
  <%= link_to 'New header', new_cms_event_page_regonline_event_header_path(@event_page), class: 'btn btn-primary margin-bottom--xl' %>
  <div class="table-responsive">
    <table class="table table-hover event-trainings-list">
      <thead>
        <tr>
          <th>Title</th>
          <th>Position</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @regonline_event_headers.each do |regonline_event_header| %>
          <tr data-id="<%= regonline_event_header.id %>">
            <td><%= regonline_event_header.name %></td>
            <td><%= regonline_event_header.position %></td>
            <td><%= link_to 'Edit', edit_cms_event_page_regonline_event_header_path(@event_page, regonline_event_header) %></td>
            <td><%= link_to 'Destroy', [:cms, @event_page, regonline_event_header], method: :delete, data: { confirm: 'Are you sure?' }, class: 'text--danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
