<%= render partial: 'account/resources/top', locals: { products: @my_products, total: @my_products.total_count } %>

<div class="row">
  <div class="col-sm-4 col-md-3">
    <%= render partial: 'account/resources/taxonomies', locals: { taxonomies: @taxonomies }  %>
  </div>
  <%= render partial: 'account/resources/products', locals: { products: @my_products } %>
</div>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function(){
      var url = "/account/save_grade_option";
      $("#grade_option").change(function(e){
        $.ajax({
          url: url,
          type: 'POST',
          data: { grade_option: $(this).val() }
        });
      });

      $('.js-get-dashboard-tour').on('click', function(e) {
        e.preventDefault();
        getDashboardTour();
      });

      $('#new-coupon-code-btn').removeClass('hide');
      $('#show-tour-btn').removeClass('hide');
    });

    $(function() {
      var filterItems = $('#categoryFilters .dropdown-ol-link');

      var removeAllFilters = $('#removeAllFilters');

      if( filterItems.hasClass('active') ) {
        removeAllFilters.addClass('in');
      }

      filterItems.each(function() {
        if ( $(this).hasClass('active') ) {
          var dropdownMd = $(this).closest('.dropdown-ol');
          var dropdownMdMenu = $(this).closest('.dropdown-ol-menu');
          var btnHeight = dropdownMd.find('.dropdown-ol-btn').height();
          var topOffset = btnHeight + 37;
          var marginOffset = btnHeight + 22;

          dropdownMdMenu.css({
            'position': 'relative',
            'display': 'block',
            'top': '-' + topOffset + 'px',
            'margin-bottom': '-' + marginOffset + 'px'
          });
        }
      });

      $('.js-dismiss-jumbotron').on('click', function() {
        $(this).closest('.jumbotron').hide();
      });
    });
  <% end %>
<% end %>
