<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-header">
      <h1>Meet the Board of Directors</h1>
    </div>
  </div>
</div>
<%= render 'tabs' %>

<% cache :team_trustees, expires_in: 2.hours do %>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="row">
        <% if @pbc_board.present? %>
          <h2 class="text-center">Great Minds PBC Board of Directors</h2>
        <% end %>
        <% @pbc_board.each do |pbc_board| %>
          <div class="col-sm-6 col-md-3">
            <div data-toggle="modal"
              data-target="#directorModal"
              data-bio="<%= pbc_board.description rescue nil %>"
              data-title="<%= pbc_board.title %>"
              data-name="<%= pbc_board.name %>">
              <div class="thumbnail thumbnail-team thumbnail-modal js-tooltip-trigger" data-toggle="tooltip" title="Click for bio">
                <% if pbc_board.picture.exists? %>
                  <%= image_tag pbc_board.picture.url, class: 'img-square' %>
                <% end %>
                <div class="caption">
                  <h3><%= pbc_board.name %></h3>
                  <p><em><%= pbc_board.title %></em></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="modal" id="directorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-name"></h4>
        <p class="modal-title"><strong></strong></p>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      teamModals('#directorModal');
    });
  <% end %>
<% end %>
