<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-header">
      <h1>Meet the Trustees</h1>
    </div>
  </div>
</div>
<%= render 'tabs' %>

<% cache :team_trustees, expires_in: 2.hours do %>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="row">
        <% @trustees.each do |trustee| %>
          <div class="col-sm-6 col-md-3 col-thumbnail">
            <div data-toggle="modal"
              data-target="#trusteeModal"
              data-bio="<%= trustee.description rescue nil %>"
              data-title="<%= trustee.title %>"
              data-name="<%= trustee.name %>">
              <div class="thumbnail thumbnail-team thumbnail-modal js-tooltip-trigger"
                data-toggle="tooltip"
                title="Click for bio">
                <% if trustee.picture.exists? %>
                  <%= image_tag trustee.picture.url, class: 'img-square' %>
                <% end %>
                <div class="caption">
                  <h3><%= trustee.name %></h3>
                  <p><em><%= trustee.title %></em></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="modal" id="trusteeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-name"></h4>
        <p class="modal-title"><strong></strong></p>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      teamModals('#trusteeModal');
    });
  <% end %>
<% end %>

