<table class="table sortable" id='listing_grades' data-hook  data-hook>
  <thead>
    <tr data-hook="grades_header">
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:abbr) %></th>
      <th><%= Spree.t(:school) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @grades.each do |grade| %>
      <tr id="<%= spree_dom_id grade %>" data-hook="grades_row">
        <td><%= grade.name %></td>
        <td><%= grade.abbr %></td>
        <td><%= grade.school %></td>
        <td class="actions actions-2 text-right">
          <%= link_to_edit grade.id, no_text: true %>
          <%= link_to_delete grade, no_text: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
