<% content_for :page_actions do %>
  <% if can?(:create, Spree::Product) %>
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <%= button_link_to Spree.t(:new_product), new_object_url, { :class => "btn-success btn-block", :icon => 'add', :id => 'admin_new_product' } %>
        <%= button_link_to "Preview", preview_admin_product_url(@product), { :class => "btn-success btn-block", :icon => 'add', :id => 'admin_preview_product' } %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Product Details' } %>
<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @product } %>

<%= form_for [:admin, @product], :method => :put, :html => { :multipart => true } do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    <% if can?(:edit, Spree::Product) %>
      <div style='margin-top: 10px;'>
        <% if @product.archived? %>
          <%= link_to 'Un-Archive Product', unarchive_admin_product_path(@product), class: 'btn btn-default', data: { confirm: 'Are you sure to un-archive this product?', method: :post } %>
        <% else %>
          <%= link_to 'Archive Product', archive_admin_product_path(@product), class: 'btn btn-default', data: { confirm: 'Are you sure to archive this product?', method: :post } %>
        <% end %>
      </div>
    <% end %>
  </fieldset>
<% end %>
