<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Files for <%= @material.name %></h4>
    </div>
    <div class="modal-body">
      <%= form_for([:admin, @material, @material_file], remote: true) do |f| %>
        <div class="form-group">
          <label>Choose File to upload</label>
          <%= f.file_field :file %>
        </div>
        <%= f.submit 'Upload', class: 'btn btn-primary', data: { disable_with: 'Uploading' } %>
      <% end %>
      <div class="table-responsive">
        <table class="table" style="min-width: 100%;">
          <thead>
            <tr>
              <th>File</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @material_files.each do |material_file| %>
              <% next if material_file.new_record? %>
              <tr>
                <td><%= material_file.file_file_name %></td>
                <td>
                  <%= link_to 'Delete', spree.admin_material_material_file_path(@material, material_file), class: 'btn btn-default btn-sm', data: { confirm: 'Are you sure?', method: :delete } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
