<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 favorites-products">
      <div class="favorites-products-head clearfix">
        <%= form_tag '', method: :get, id: 'favorites-filter-form' do %>
          <span class="title pull-left">Favorites</span>
          <div class="dropdown pull-right">
            Sort by:
            <%= select_tag :taxonomy_id, options_from_collection_for_select(@taxonomies, :id, :name, params[:taxonomy_id]), include_blank: 'All', class: 'form-control' %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <% @favorite_products.each do |favorite_product| %>
          <div class="col-md-4">
            <div class="product-wrapper">
              <h4><%= favorite_product.product.name %></h4>
              <p><%= favorite_product.product.categories.join(', ') %></p>
              <p class="grades-dropdown"><%= favorite_product.product.taxons.map(&:name).join(', ') %></p>
              <% url = spree.product_url(favorite_product.product) %>
              <%= link_to 'See Modules', url, class: 'btn btn-default' %>
              <%= link_to account_favorite_path(favorite_product), class: 'favorite-star', data: { confirm: 'Are you to unfavorite?', method: :delete } do %>
                <span class="glyphicon glyphicon-star"></span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      $("#taxonomy_id").change(function(e){
        $('form#favorites-filter-form').submit();
      });
    });
  </script>
<% end %>
