<%= render 'cms_nav' %>
<div class="col-md-9">
  <section>
    <h3>Contacts</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.message %></td>
            <td><%= contact.email %></td>
            <td>
              <%= link_to 'Edit', edit_cms_contact_path(contact) %>
              <%= link_to 'Delete', cms_contact_path(contact), data: { confirm: 'Are you sure?', method: :delete } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @contacts %>
  </section>
</div>
