<div>
  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :salesforce_enabled do %>
          <%= preference_field_tag(:salesforce_enabled, Spree::Config[:salesforce_enabled], type: :boolean)%>
          Salesforce Enabled
        <% end %>
      </div>
      <fieldset>
        <legend>App Id/secret</legend>

        <div class="form-group">
          <div class="inline-radio">
            <%= label_tag :salesforce_production do %>
              <%= preference_field_tag(:salesforce_production, Spree::Config[:salesforce_production], type: :boolean) %>
              Salesforce Production
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag :id, Spree.t(:id) %>
          <%= text_field_tag :salesforce_client_id, Spree::Config[:salesforce_client_id], maxlength: 256, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag :client_secret, Spree.t(:client_secret) %>
          <%= text_field_tag :salesforce_client_secret, Spree::Config[:salesforce_client_secret], maxlength: 256, class: 'form-control' %>
        </div>
      </fieldset>
    </div>

    <div class="col-md-6">
      <fieldset>
        <legend>Credentials</legend>
        <div class="form-group">
          <%= label_tag :salesforce_username, Spree.t(:salesforce_username) %>
          <%= text_field_tag :salesforce_username, Spree::Config[:salesforce_username], class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :salesforce_password, Spree.t(:salesforce_password) %>
          <%= text_field_tag :salesforce_password, Spree::Config[:salesforce_password], class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :salesforce_security_token, Spree.t(:salesforce_security_token) %>
          <%= text_field_tag :salesforce_security_token, Spree::Config[:salesforce_security_token], class: 'form-control' %>
        </div>
      </fieldset>
    </div>
  </div>
</div>
