<% content_for :page_title do %>
  <%= 'Archived Products' %>
<% end %>

<div class="form-inline">
  <%= form_tag admin_archives_path, method: :get do %>
    <div class="form-group margin-bottom--reset">
      <%= text_field_tag :q, params[:q], class: 'form-control margin-bottom--s--sm-min' %>
      <%= submit_tag 'Search', class: 'btn btn-primary btn-block-xs margin-bottom--s--sm-min margin-right--reset' %>
    </div>
  <% end %>
</div>

<% if @archived_products.any? %>
  <div id="list-archived-products" data-hook>
      <table class="table sortable">
        <thead>
          <tr>
            <th><%= Spree.t(:name) %></th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <% @archived_products.each do |archived_product| %>
            <tr>
              <td><%= archived_product.name %></td>
              <td class="actions actions-2 text-right">
                <%= link_to 'Edit', edit_admin_product_path(archived_product), no_text: true %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @archived_products %>
  </div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <p>No archived products exists.</p>
  </div>
<% end %>
