<%# <%= render partial: 'spree/admin/shared/product_sub_menu' %1> %>

<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: Spree.t('bundles.admin.sidebar') } %>

<%= form_for [:admin, @product, Spree::Part.new(bundle_id: @product.id)] do |f| %>
  <%= f.hidden_field :bundle_id %>
  <%= f.field_container :product, class: ['form-group'] do %>
    <%= f.label :product, Spree.t(:product) %>
    <%= f.hidden_field :product_id %>
    <%= error_message_on :part, :product %>
  <% end %>
  <%= f.submit "Add", class: 'btn btn-primary' %>
<% end %>

<div class="table-responsive">
  <table class="table">
    <tbody>
      <% @product.parts.each do |part| %>
        <tr>
          <td><%= link_to part.name, spree.admin_product_path(part) %></td>
          <td><%= link_to 'Delete', admin_product_part_path(@product, part.part_id), class: 'btn btn-primary btn-sm', data: { confirm: 'Are you sure?', method: :delete } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
//<![CDATA[
  (function($){
   $("#part_product_id").select2({
      placeholder: "Select product",
      multiple: false,
      initSelection: function (element, callback) {
        var url = Spree.url('/resources/api/v1/products', {
          ids: element.val(),
          token: Spree.api_key
        });
        return $.getJSON(url, null, function (data) {
          return callback(data.products);
        });
      },
      ajax: {
        url: '/resources/api/v1/products',
        datatype: 'json',
        data: function (term, page) {
          return {
            per_page: 50,
            page: page,
            without_children: true,
            q: {
              name_cont: term
            },
            token: Spree.api_key
          };
        },
        results: function (data, page) {
          var more = page < data.pages;
          return {
            results: data.products,
            more: more
          };
        }
      },
      formatResult: function (product) {
        return product.name;
      },
      formatSelection: function (product) {
        return product.name;
      }
   });
  })(jQuery);
//]]>
</script>
