<%= form_for(@opportunity, html: {multipart: true}) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <% if @opportunity.errors.any? %>
        <ul>
          <% @opportunity.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-12">
      <label for="">Opportunity ID</label>
      <%= f.text_field :salesforce_id, class: 'form-control', placeholder: "Opportunity ID" %>
    </div>
    <div class="form-group col-sm-6" id="label-0">
      <span class="btn btn-default btn-block" onclick="FileEvent.simulateClick('#opportunity_attachment_0')">Purchase order</span>
      <p class="hint">Current file: <span class="opportunity-attachment-0">no file chosen</span></p>
      <input class="hide" type="file" name="opportunity[attachments_attributes][0][file]" id="opportunity_attachment_0" onchange="FileEvent.fillWithName('.opportunity-attachment-0', '#opportunity_attachment_0')" />
      <input type="hidden" name="opportunity[attachments_attributes][0][category]" value="purchase" />
    </div>
    <div class="form-group col-sm-6" id="label-1">
      <span class="btn btn-default btn-block" onclick="FileEvent.simulateClick('#opportunity_attachment_1')">Tax Exemption Form</span>
      <p class="hint">Current file: <span class="opportunity-attachment-1">no file chosen</span></p>
      <input class="hide" type="file" name="opportunity[attachments_attributes][1][file]" id="opportunity_attachment_1" onchange="FileEvent.fillWithName('.opportunity-attachment-1', '#opportunity_attachment_1')" />
      <input type="hidden" name="opportunity[attachments_attributes][1][category]" value="tax" />
    </div>
    <div class="form-group col-sm-12">
      <%= f.label :skip_tax_exemption do %>
        <%= f.check_box :skip_tax_exemption %>
        If sales tax is included on PO, please check box
    <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-success btn-block' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  var analizeSkip = function() {
    if($('#opportunity_skip_tax_exemption').is(':checked')) {
      $('#label-1').hide();
      $('#label-0').removeClass('col-sm-6').addClass('col-sm-12');
      $('#opportunity_attachment_1').val('');
      $('.opportunity-attachment-1').html('no file chosen');
    } else {
      $('#label-0').addClass('col-sm-6').removeClass('col-sm-12');
      setTimeout(function() {
        $('#label-1').show();
      }, 400);
    }
  };

  analizeSkip();

  $(document).on('ready load', function() {
    $('#opportunity_skip_tax_exemption').on('change', function() {
      analizeSkip();
    });
  });
</script>
