<%= form_for(@opportunity, html: {multipart: true}) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <% if @opportunity.errors.any? %>
        <ul>
          <% @opportunity.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>Thank you for choosing Great Minds for your educational needs. We look forward to processing your order shortly. Please submit your order per the prompts below. If you have any questions or concerns while submitting your order, please feel free to contact our Order Processing team by emailing ordertracking@greatminds.org or calling 202-499-6814. This site only accepts one PO at a time.</p>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="">Quote Number</label>
        <%= f.text_field :salesforce_id, class: 'form-control', placeholder: "Quote Number" %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="">PO Number</label>
        <%= f.text_field :po_number, class: 'form-control', placeholder: "PO Number" %>
      </div>
    </div>
    <div class="col-sm-12">
      <p>Please attach your Purchase Order and Sales Tax Exemption Certificate, if applicable, by using the corresponding buttons below.</p>
    </div>
    <div class="col-sm-12">
      <div class="panel panel-form">
        <h3>Purchasing Department Contact</h3>
        <p>This is the person that should receive the invoice.</p>
        <div class="col-sm-12">
          <div class="form-group">
            <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.text_field :email, class: 'form-control', placeholder: "Email" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.text_field :phone_number, class: 'form-control', placeholder: "Phone Number" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :skip_tax_exemption do %>
          <%= f.check_box :skip_tax_exemption, class: 'js-skip-tax-exemption' %>
          If sales tax is included on the PO, or the exemption certificate has already been submitted to Great Minds, please check the box
        <% end %>
      </div>
    </div>
    <div class="col-sm-6 js-label-0 transition-all">
      <div class="form-group" id="label-0">
        <span class="btn btn-default btn-block margin-bottom--s" onclick="FileEvent.simulateClick('#opportunity_attachment_0')">Purchase order</span>
        <p class="hint">Current file: <span class="opportunity-attachment-0">no file chosen</span></p>
        <input class="hide" type="file" name="opportunity[attachments_attributes][0][file]" id="opportunity_attachment_0" onchange="FileEvent.fillWithName('.opportunity-attachment-0', '#opportunity_attachment_0')" />
        <input type="hidden" name="opportunity[attachments_attributes][0][category]" value="purchase" />
      </div>
    </div>
    <div class="col-sm-6 js-label-1">
      <div class="form-group" id="label-1">
        <span class="btn btn-default btn-block margin-bottom--s" onclick="FileEvent.simulateClick('#opportunity_attachment_1')">Sales Tax Exemption Form</span>
        <p class="hint">Current file: <span class="opportunity-attachment-1">no file chosen</span></p>
        <input class="hide" type="file" name="opportunity[attachments_attributes][1][file]" id="opportunity_attachment_1" onchange="FileEvent.fillWithName('.opportunity-attachment-1', '#opportunity_attachment_1')" />
        <input type="hidden" name="opportunity[attachments_attributes][1][category]" value="tax" />
      </div>
    </div>

    <div class="col-sm-12">
      <p>After you have submitted this form you will receive a confirmation notification at the top of your screen. You will then receive an email notification when your order has been processed. If you would like to submit another PO, please go back to
        <a href="https://greatminds.org/opportunities">https://greatminds.org/opportunities</a>.</p>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-success btn-block' %>
  </div>
<% end %>

<%= content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    var analizeSkip = function() {
      if($('.js-skip-tax-exemption').is(':checked')) {
        $('.js-label-1').hide();
        $('.js-label-0').removeClass('col-sm-6').addClass('col-sm-12');
        $('#opportunity_attachment_1').val('');
        $('.opportunity-attachment-1').html('no file chosen');
      } else {
        $('.js-label-0').addClass('col-sm-6').removeClass('col-sm-12');
        setTimeout(function() {
          $('.js-label-1').show();
        }, 400);
      }
    };

    analizeSkip();

    $(document).on('ready load', function() {
      $('.js-skip-tax-exemption').on('change', function() {
        analizeSkip();
      });
    });
  </script>
<% end %>
