<% content_for :page_title do %>
  <%= link_to Spree.t(:products), admin_products_path %> /
  <%= @product.admin_display_name %>
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked" data-hook="admin_product_tabs">
    <%= content_tag :li, :class => ('active' if current == 'Product Details') do %>
      <%= link_to_with_icon 'edit', Spree.t(:details), edit_admin_product_url(@product) %>
    <% end if can?(:admin, Spree::Product) %>

    <%= content_tag :li, class: ('active' if current == :images) do %>
      <%= link_to_with_icon 'picture', Spree.t(:images), spree.admin_product_images_url(@product) %>
    <% end if can?(:admin, Spree::Image) %>
    
    <% if @product.product_type == 'bundle' %>
      <%= content_tag :li, class: ('active' if current == Spree.t('bundles.admin.sidebar')) do %>
        <%= link_to_with_icon 'puzzle-piece', Spree.t('bundles.admin.sidebar'), admin_product_parts_path(@product) %>
      <% end %>
    <% end %>

    <% if @product.product_type == 'group' %>
      <%= content_tag :li, class: ('active' if current == 'Group Items') do %>
        <%= link_to_with_icon 'puzzle-piece', 'Group Items', admin_product_group_items_path(@product) %>
      <% end %>
    <% end %>

    <% if @product.product_type == 'multiple download' %>
      <%= content_tag :li, class: ('active' if current == 'Materials') do %>
        <%= link_to_with_icon 'cloud', 'Materials', admin_product_materials_path(@product) %>
      <% end %>
    <% end %>

    <% if @product.product_type == 'single download (legacy)' %>
      <li<%= ' class=\"active\"' if current == 'Digital Versions' %>>
         <%= link_to_with_icon 'cloud', Spree.t(:digital_versions, scope: 'digitals'), admin_product_digitals_path(@product) %>
      </li>
    <% end %>

    <% if @product.product_type == 'inkling' %>
      <li class="<%= 'active' if current == 'Inkling Code' %>">
         <%= link_to_with_icon 'cloud', 'Inkling Code', admin_product_inkling_code_path(@product) %>
      </li>
    <% end %>

    <% if @product.product_type == 'library' %>
      <li class="<%= 'active' if current == 'Library' %>">
         <%= link_to_with_icon 'book', 'Library', admin_product_library_leafs_path(@product) %>
      </li>
    <% end %>
  </ul>
<% end %>
