<div class="table-responsive">
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th>Target</th>
        <th>Content</th>
        <th>Notify at</th>
        <th>Expire at</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @notification_triggers.each do |notification_trigger| %>
        <tr>
          <td><%= notification_trigger.target_type %></td>
          <td><%= notification_trigger.content %></td>
          <td><%= notification_trigger.notify_at %></td>
          <td><%= notification_trigger.expire_at %></td>
          <td><%= notification_trigger.status %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @notification_triggers %>
