<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Target</th>
        <th>Content</th>
        <th>Notify at</th>
        <th>Expire at</th>
        <th>Status</th>
	<th>Views</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @notification_triggers.each do |notification_trigger| %>
        <tr>
          <td><%= notification_trigger.target_type %></td>
          <td><%= notification_trigger.content %></td>
          <td><%= notification_trigger.notify_at %></td>
          <td><%= notification_trigger.expire_at %></td>
          <td><%= notification_trigger.status %></td>
	  <td><%= notification_trigger.notifications.viewed.count %></td>
          <td><%= link_to 'Delete', cms_notification_trigger_path(notification_trigger), data: { confirm: 'Are you sure to delete (This will remove notifications from dashboard too)?', method: :delete }, btn: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @notification_triggers %>
