<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Blog Type</th>
        <th>Curriculum Page</th>
        <th>Unique Url</th>
        <th>Position</th>
        <th>Display</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.blog_type %></td>
          <td><%= blog.page.try(:group_name) %></td>
          <td><%= blog.slug %></td>
          <td><%= blog.position %></td>
          <td><%= blog.display ? 'Yes' : 'No' %></td>
          <td><%#= link_to 'Preview', preview_blog_link(blog), target: '_blank' %></td>
          <td><%= link_to 'Edit', edit_cms_blog_path(blog) %></td>
          <td><%= link_to 'Destroy', [:cms, blog], method: :delete, data: { confirm: 'Are you sure?' }, class: 'text--danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
