<%= form_for(spree_current_user, url: '/account/save_email_notifications') do |f| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <p>Are you interested in being contacted about Professional Development in your area?</p>
        <div class="radio">
          <label> <%= radio_button_tag :professional_development, true, @email_notifications.professional_development == true %> Yes </label>
          <label> <%= radio_button_tag :professional_development, true, @email_notifications.professional_development == false %> No </label>
        </div>
      </div>
      <div class="form-group">
        <p>I am interested in special offers and new products from Great Minds and their partners?</p>
        <div class="radio">
          <label><%= radio_button_tag :special_offers_and_products, true, @email_notifications.special_offers_and_products == true %> Yes</label>
          <label><%= radio_button_tag :special_offers_and_products, false, @email_notifications.special_offers_and_products == false %> No</label>
        </div>
      </div>
      <div class="form-group">
        <p>I am interested in notifications of updates or revision to course materials?</p>
        <div class="radio">
          <label><%= radio_button_tag :revision_updates, true, @email_notifications.revision_updates == true %> Yes</label>
          <label><%= radio_button_tag :revision_updates, false, @email_notifications.revision_updates == false %> No</label>
        </div>
      </div>
      <div class="form-group">
        <p>I am interested in phone communication from Great Minds?</p>
        <div class="radio">
          <label><%= radio_button_tag :phone_communication, true, @email_notifications.phone_communication == true %> Yes</label>
          <label><%= radio_button_tag :phone_communication, false, @email_notifications.phone_communication == false %>No</label>
        </div>
      </div>
      <div class="form-group">
        <p>I am interested in email communication from Great Minds?</p>
        <div class="radio">
          <label><%= radio_button_tag :email_communication, true, @email_notifications.email_communication == true %> Yes</label>
          <label><%= radio_button_tag :email_communication, false, @email_notifications.email_communication == false %>No</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <%= f.submit "Save", class: 'btn btn-primary btn-lg btn-block' %>
      <a href="#" class="center-block text-center" style="margin-top:10px;">Cancel</a>
    </div>
  </div>
<% end %>
