<div class="container">
  <div class="account-settings">
    <ul class="nav nav-tabs" id="settings-tabs">
      <li role="presentation" class="active"><a href="#profile-information">Profile Information</a></li>
      <li role="presentation"><a href="#emails-notifications">Emails/Notifications</a></li>
      <li role="presentation"><a href="#payments-details">Payments details</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="profile-information">
        <%= render 'profile_information' %>
      </div>
      <div class="tab-pane" id="emails-notifications">
        <%= render 'email_notifications' %>
      </div>
      <div class="tab-pane" id="payments-details">
        <%= render 'credit_card' %>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      $('#settings-tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    });
  <% end %>
<% end %>
