<% articles.each do |article| %>
  <div class="article">
    <%# <p><%= article.published_at.strftime('%b %d %Y') rescue nil %1></p> %>
    <h2 class="blog-post-title">
      <% if blog_type == 'global' %>
        <%= link_to article.title, global_post_path(slug: blog.slug, id: article.slug) %>
      <% else %>
        <%= link_to article.title, curriculum_post_path(page_slug: group_page.slug, slug: blog.slug, id: article.slug) %>
      <% end %>
    </h2>
    <p>
      <%#= raw article.preview_content %>
    </p>
    <% if blog_type == 'global' %>
      <%= link_to global_post_path(slug: blog.slug, id: article.slug), class: "btn btn-default btn-block-xs margin-bottom--xl" do %>
        Read More <i class="mi">keyboard_arrow_right</i>
      <% end %>
    <% else %>
      <%= link_to curriculum_post_path(page_slug: group_page.slug, slug: blog.slug, id: article.slug), class: "btn btn-default btn-block-xs margin-bottom--xl" do %>
        Read More <i class="mi">keyboard_arrow_right</i>
      <% end %>
    <% end %>
  </div>
<% end %>
