<% articles.each do |article| %>
<% #TODO Refactor %>
<% url = blog_type == 'global' ? global_post_path(slug: blog.slug, id: article.slug) : curriculum_post_path(page_slug: group_page.slug, slug: blog.slug, id: article.slug) %>
  <%= link_to url, class: "card card-flex card-media card--no-border card-link" do %>
    <%# <p><%= article.published_at.strftime('%b %d %Y') rescue nil %1></p> %>
    <div class="card-image" style="background-image: url('<%= article.jumbotron_background_file_name %>')"></div>
      <div class="card-media--content">
        <h4 class="card-title"><%= article.title %></h4>
        <div class="card-text">
          <%= stronger_truncate_html(article.body, length: 150, remove_link: true) %>
        </div>
        <% if article.user_name.present? %>
          <div class="card-meta">By: <%= article.user_name %></div>
        <% end %>
      </div>
  <% end %>
<% end %>