<%= content_for :body_class, 'with-subnav' %>
<div class="row">
  <%= render partial: 'blog_header_new', locals: { blog: @blog } %>
  <div class="col-sm-10 col-sm-offset-1">
    <%= render partial: 'curriculum_blogs_nav', locals: { page: @group_page, blogs: @curriculum_blogs } %>
  </div>
  <div class="col-sm-10 col-sm-offset-1 margin-top--xxl margin-bottom--xl">
    <div class="posts">
      <%= render partial: 'articles', locals: { articles: @articles, blog_type: @blog_type, group_page: @group_page, blog: @blog } %>
    </div>
    <div class="posts-pagination">
      <%= render partial: 'load_more_link_new', locals: { articles: @articles } %>
    </div>
  </div>
</div>
