<div class="row">
  <div class="jumbotron jumbotron-background" style="background-image: url('https://s3.greatminds.org/documents/attachments/000/000/037/large/HS_boy.jpg?1458617395')">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <%= link_to curriculum_blog_path(page_slug: @group_page.slug, slug: @article.blog.slug), class: "btn btn-primary btn-transparent btn-sm margin-bottom--l" do %>
          <i class="mi">keyboard_arrow_left</i> Back
        <% end %>
        <h1 class="jumbotron-title"><%= @article.title %></h1>
        <hr class="jumbotron-divider" />
        <span class="jumbotron-byline">By: <%= @article.user.try(:full_name) %></span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 margin-top--xxl margin-bottom--xl">
    <%= link_to curriculum_blog_path(page_slug: @group_page.slug, slug: @article.blog.slug), class: "previous-page btn btn-default margin-bottom--l" do %>
      <i class="mi">keyboard_arrow_left</i> Back
    <% end %>
    <div class="post-view initial-letter">
      <%= render 'article' %>
    </div>
  </div>
</div>
