<% if params[:success] %>
  <div class="alert alert-success margin-bottom--m">
    Your information has been sent!
  </div>
<% end %>
<div class="row margin-top--xxl margin-bottom--xl">
  <div class="col-lg-10 col-lg-offset-1">
    <%= form_for @contact_form, url: :create_contact, html: { class: 'form contact-form', novalidate: true } do |f| %>
      <input type=hidden name="orgid" value="00De0000005Vrkq">
      <input type=hidden name="retURL" value="<%= contact_url(success: true) %>">
      <div class="row">
        <div class="col-sm-12">
          <% if @contact_form.errors.any? %>
            <ul>
              <% @contact_form.errors.full_messages.each do |msg| %>
                <li><%= remove_unneccesary_keys msg %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 margin-bottom--xl">
          <h1 class="inline-block">Get in Touch About...</h1>
          <%= f.hidden_field :topic %>
          <div class="btn-group dropdown-contact-topic margin-bottom--s margin-left--sm-min--xl" id="topicDropdown">
            <button type="button" class="btn btn-default dropdown-toggle dropdown-ol-btn" data-toggle="dropdown"><i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
              <% if @contact_form.topic.present? %>
                <%= @contact_form.topic %>
              <% else %>
                Select a Topic
              <% end %>
            </button>
            <ul class="dropdown-menu dropdown-ol-menu">
              <% ContactForm::TOPICS.each do |topic| %>
                <li class="dropdown-ol-item"><a class="dropdown-ol-link" href="#" data-topic="<%= topic %>" data-topic-hash="<%= ContactForm::TOPICS_HASH[topic] %>"><%= topic %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>First Name</label>
                <%= f.text_field :first_name, size: 20, class: 'form-control', maxlength: 80, placeholder: 'First Name' %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Last Name</label>
                <%= f.text_field :last_name, size: 20, class: 'form-control', maxlength: 80, placeholder: 'Last Name'  %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Email</label>
                <%= f.text_field :email, size: 20, class: 'form-control', maxlength: 80, placeholder: 'Email' %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>Phone</label>
                <%= f.text_field :phone, size: 20, class: 'form-control', maxlength: 80, placeholder: '123-123-1234' %>
              </div>
            </div>

            <div class="col-sm-6">
              <label>Select your Role</label>
              <div class="select-container dark-select block margin-bottom--reset">
                <span>Please select your role</span>
                <%= f.select :role, ContactForm::ROLES, { prompt: 'Please select your role' }, { class: 'form-control' } %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label>School/District Name</label>
                <%= f.text_field :school_district_name, size: 20, class: 'form-control', maxlength: 80, placeholder: 'School/District' %>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <label>School Street Address</label>
                <%= f.text_field :school_street_address, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>School or District Type</label>
                <div class="radio">
                  <label>
                    <%= f.radio_button :school_district_type, 'School' %> School
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <%= f.radio_button :school_district_type, 'District' %> District
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 dependent-field hidden" data-name='Country'>
              <label>Country</label>
              <div class="select-container dark-select block">
                <span>Country</span>
                <%= f.collection_select :country, country_list, :name, :name, { prompt: 'Select Country' }, class: 'form-control' %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="State">
              <label>State</label>
              <div class="select-container dark-select block">
                <span>State</span>
                <%= f.collection_select :state, Spree::Country.default.states, :abbr, :name, { prompt: 'Select State' }, class: 'form-control' %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="City">
              <div class="form-group">
                <label>City</label>
                <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="PostalCode">
              <div class="form-group">
                <label>Zip Code</label>
                <%= f.text_field :postal_code, size: 20, class: 'form-control', maxlength: 80, placeholder: 'Zip Code' %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="Curriculum">
              <label>Curriculum</label>
              <div class="select-container dark-select block">
                <span>Curriculum</span>
                <%= f.collection_select :curriculum, Curriculum.visibles, :name, :name, { prompt: 'Select Curriculum' }, class: 'form-control' %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="Grade">
              <div class="form-group">
                <label>Grade</label>
                <%= f.text_field :grade, size: 20, maxlength: 80, class: 'form-control', placeholder: 'Grade' %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="School or District Size">
              <label>Size</label>
              <div class="select-container dark-select block">
                <span>School or District Size</span>
                <%= f.select :school_district_size, ['10+'], {}, class: 'form-control' %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="Title 1">
              <div class="form-group">
                <label>Title 1</label>
                <%= f.check_box :title_1, {}, 'true', 'false' %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="Returning Customer">
              <div class="form-group">
                <label>Returning Customer</label>
                <%= f.check_box :returning_customer, {}, 'true', 'false' %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="Desired Dates">
              <div class="form-group">
                <label>Desired Dates</label>
                <%= f.text_field :desired_dates, size: 20, maxlength: 80, class: 'form-control', placeholder: 'Desired Dates' %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="Desired Training topic">
              <div class="form-group">
                <label>Desired Training topic</label>
                <%= f.text_field :desired_training_topic, size: 20, maxlength: 80, class: 'form-control', placeholder: 'Desired Training topic' %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="Desired Training city">
              <div class="form-group">
                <label>Desired Training city</label>
                <%= f.text_field :desired_training_city, size: 20, maxlength: 80, class: 'form-control', placeholder: 'Desired Training city' %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="Items purchased">
              <div class="form-group">
                <label>Items purchased</label>
                <%= f.text_field :items_purchased, size: 20, maxlength: 80, class: 'form-control', placeholder: 'Items purchased' %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="Grade bands">
              <div class="form-group">
                <label>Grade bands</label>
                <%= f.select :grade_bands, %w{PK K-2 3-5 6-8 9-12}, { include_hidden: false }, class: 'form-control', placeholder: 'Grade Bands', multiple: true %>
              </div>
            </div>

            <div class="col-sm-6 dependent-field hidden" data-name="Size of Training Groups">
              <div class="form-group">
                <label>Size of Training Groups</label>
                <%= f.text_field :training_groups_size, size: 20, maxlength: 80, class: 'form-control', placeholder: 'Size of Training Groups' %>
              </div>
            </div>

            <%# <div class="col-sm-6 dependent-field hidden" data-name="Format"> %>
            <%#   <div class="form-group"> %>
            <%#     <label>Format</label> %>
            <%#     <%= f.text_field :format, size: 20, maxlength: 80, class: 'form-control', placeholder: 'Format' %1> %>
            <%#   </div> %>
            <%# </div> %>

            <div class="col-sm-6 dependent-field hidden" data-name="Interested in hosting events">
              <div class="form-group">
                <label>Are you interested in participating in or hosting collaborative training events with other educators in your region?</label>
                <%= f.check_box :interested_in_hosting_events, {}, 'Yes', 'No' %>
              </div>
            </div>
          </div>

          <div class="row dependent-field hidden" data-name="RelatedModuleGradeUnitLesson">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Related grade, module/unit, lesson</label>
                <%= f.text_field :related_grade_module_unit_lession, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="row dependent-field hidden" data-name="Description">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Additional Comments</label>
                <%= f.text_area :description, class: 'form-control', rows: 5 %>
              </div>
            </div>
          </div>

          <input type="hidden" id="external" name="external" value="1" />
          <div class="row">
            <div class="col-md-8 col-md-offset-2 form-group" style="text-align: center;">
              <%= render "shared/google_recaptcha" %>
            </div>
            <div class="col-md-4 col-md-offset-4">
              <%= f.submit 'Submit', class: 'btn btn-success btn-block' %>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-lg-3">
          <%= render 'shared/contact_info' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function(){
      var topicHash = <%= ContactForm::TOPICS_HASH.to_json.html_safe %>;
      $('#contact_form_grade_bands').select2({});

      function requireDescription() {
        var topic = $('input[name="contact_form[topic]"]').val();

        if (topic == 'General' || topic == 'Existing Order Support' || topic == 'Parent Support' || topic == 'Curriculum Support' || topic == 'Content Error' || topic == 'Technical Support' || topic == 'Sales/Purchasing' || topic == 'Affirm Digital Assessments' || topic == 'General and Other') {
          return true;
        }
        return false;
      }

      function requireFormat() {
        var topic = $('input[name="contact_form[topic]"]').val();

        <%# if (topic == 'Content Error') { %>
        <%#   return true; %>
        <%# } %>
        return false;
      }

      function requireState() {
        var country = $('select[name="contact_form[country]"]').val();
        if (country === 'United States') {
          return true;
        } else {
          return false;
        }
      }

      function requireRole() {
        var topic = $('input[name="contact_form[topic]"]').val();
        if (topic == 'Sales/Purchasing') {
          return true;
        } else {
          return false;
        }
      }

      function requireSchoolDistrictName() {
        var topic = $('input[name="contact_form[topic]"]').val();
        if (topic == 'Sales/Purchasing') {
          return true;
        } else {
          return false;
        }
      }

      function requireCurriculum() {
        var topic = $('input[name="contact_form[topic]"]').val();
        if (topic == 'Sales/Purchasing') {
          return true;
        } else {
          return false;
        }
      }

      $(".contact-form").validate({
        rules: {
          'contact_form[topic]': 'required',
          'contact_form[first_name]': 'required',
          'contact_form[last_name]': 'required',
          'contact_form[email]': {
            required: true,
            email: true
          },
          'contact_form[phone]': 'required',
          'contact_form[role]': {
            required: function() {
              return requireRole();
            }
          },
          'contact_form[school_district_name]': {
            required: function() {
              return requireSchoolDistrictName();
            }
          },
          'contact_form[curriculum]': {
            required: function() {
              return requireCurriculum();
            }
          },
          'contact_form[description]': {
            required: function() {
              return requireDescription();
            }
          },
          'contact_form[format]': {
            required: function() {
              return requireFormat();
            }
          },
          'contact_form[state]': {
            required: function() {
              return requireState();
            }
          },
          'contact_form[training_groups_size]': {
            digits: true
          }
        }
      });

      var dependentFields = [
        "Items purchased  (optional)",
        "Curriculum",
        "Description",
        "Curriculum",
        "Format",
        "Country",
        "City",
        "PostalCode",
        "Curriculum",
        "Grade",
        "School or District Size",
        "Title 1",
        "Returning Customer",
        "Desired Dates",
        "Desired Training topic",
        "Desired Training city",
        "Grade bands",
        "Size of Training Groups",
        "Interested in hosting events"
      ];

      var topicFieldMapping = {
        'Sales/Purchasing': [
          { name: 'Country' },
          { name: 'City' },
          { name: 'Curriculum' },
          { name: 'Title 1' },
          { name: 'Returning Customer' },
          { name: 'Description' },
          { name: 'PostalCode' },
        ],
        'Existing Order Support': [
          { name: 'Country' },
          { name: 'Items purchased' },
          { name: 'Curriculum' },
          { name: 'Description' }
        ],
        'Professional Development': [
          { name: 'Country' },
          { name: 'City' },
          { name: 'Desired Dates' },
          { name: 'Desired Training topic' },
          { name: 'Grade bands' },
          { name: 'Size of Training Groups' },
          { name: 'Curriculum' },
          { name: 'Interested in hosting events' },
          { name: 'Description' }
        ],
        'Curriculum Support': [
          { name: 'Curriculum' },
          { name: 'Description' },
          { name: 'Country' },
          { name: 'RelatedModuleGradeUnitLesson' }
        ],
        'Technical Support':[
          { name: 'Country' },
          { name: 'Description' }
        ],
        'Parent Support': [
          { name: 'Country' },
          { name: 'Curriculum' },
          { name: 'Description' }
        ],
        'Content Error': [
          { name: 'Country' },
          { name: 'Curriculum' },
          { name: 'Description' }
        ],
        'General and Other': [
          { name: 'Description', required: true },
          { name: 'Country' }
        ],
        'Affirm Digital Assessments': [
          { name: 'Description', required: true },
          { name: 'Country' }
        ],
      }

      var topicDropdown = $('#topicDropdown');
      var topicDropdownLinks = topicDropdown.find('.dropdown-menu a');

      topicDropdownLinks.on('click', function(e) {
        e.preventDefault();

        var topic = $(this).text();
        var mapping = topicFieldMapping[topic];

        updateLocationHash(topic);

        $('#contact_form_topic').val(topic);

        $('.dependent-field').addClass('hidden');
        $(this).addClass('selected');
        topicDropdown.find('.btn').html(topic + ' <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>');

        if (mapping) {
          toggleDependentFields(mapping);
          toggleCountryState();
          return;
        }
      });

      <% if @contact_form.topic.present? %>
        $('[data-topic="<%= @contact_form.topic %>"]').trigger('click');
      <% end %>

      function updateLocationHash(topic) {
        if (topic == 'Sales/Purchasing') {
          var hash = 'sales';
        } else {
          var hash = topicHash[topic];
        }
        window.location.hash = hash;
      }

      function toggleDependentFields(mapping) {
        _.each(mapping, function(m, i){
          $('[data-name="'+m.name+'"]').removeClass('hidden');
        });
      }

      function toggleCountryState() {
        if($('#contact_form_country').hasClass('hidden')) {
          $('[data-name="State"]').addClass('hidden');
        } else {
          $('#contact_form_country').trigger('change');
        }
      }

      $('input[type="submit"]').click(function(e){
        var topic = $("input[name='contact_form[topic]'").val();
        if (!topic) {
          e.preventDefault();
          alert('Please select topic first!');
          return false;
        }
      });

      $('input[name="contact_form[desired_dates]"]').datetimepicker({format: 'YYYY-MM-DD'});

      $('#contact_form_country').change(function(e){
        if($(this).val() == 'United States') {
          $('[data-name="State"]').removeClass('hidden');
        } else {
          $('[data-name="State"]').addClass('hidden');
        }
      });

      var hash = window.location.hash;
      if(hash == '#sales') {
        $('#topicDropdown').find('[data-topic="Sales/Purchasing"]').trigger('click');
      } else {
        $('#topicDropdown').find('[data-topic-hash="'+ hash.replace('#', '') +'"]').trigger('click');
      }

      var hidden_professional_math = [
        { name: 'Desired Dates' },
        { name: 'Desired Training topic' },
        { name: 'Size of Training Groups' },
        { name: 'Interested in hosting events' },
      ];

      var visible_professional_math = [
        { name: 'Desired Training city' },
      ];

      var fullyToggle = function(visibles, hidden) {
        _.each(visibles, function(m, i){ $('[data-name="'+m.name+'"]').removeClass('hidden'); });
        _.each(hidden, function(m, i){ $('[data-name="'+m.name+'"]').addClass('hidden'); });
      };

      var updateProfessionalDevelopment = function(e) {
        if(window.location.hash !== '#professional-development') {
          return false;
        }

        if($(e).val() === 'Math') {
          fullyToggle(visible_professional_math, hidden_professional_math);
        } else {
          fullyToggle(hidden_professional_math, visible_professional_math);
        }
      }

      $('#contact_form_curriculum').change(function() {
        updateProfessionalDevelopment(this);
      });

      $('#contact_form_phone').mask('(000) 000-0000');
    });
  <% end %>
<% end %>
