<% @body_id = 'signup' %>
<div class="col-md-6 col-md-offset-3 margin-top-xxl margin-bottom-xl">
  <div id="signup-form-heading">
    <h2>Let's start with the basics...</h2>
    <p>You can always change this later.</p>
  </div>
  <div id="new-customer" data-hook="login" class="margin-top-reset">
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
    <%= form_for resource, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
      <div data-hook="signup_inside_form">
        <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
        <div id="tosCheckbox" class="checkbox text-center margin-bottom-l">
          <label>
            <input type="checkbox" value="">
            I agree to the <a href="/terms-of-service">terms of service</a>
          </label>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= f.submit Spree.t(:create), :class => 'btn btn-lg btn-success btn-block margin-bottom-s disabled', :id => 'btnCreate' %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="text-center">
      <%= Spree.t(:or) %>
      <%= link_to Spree.t(:login_as_existing), spree.login_path %>
    </div>
    <div data-hook="login_extras"></div>
  </div>
</div>

<%= javascript_tag do %>
  $(function() {
    $('#tosCheckbox :checkbox').on('change', function (e) {
      if ($(this).is(':checked') ) {
        $('#btnCreate').removeClass('disabled');
      } else {
        $('#btnCreate').addClass('disabled');
      }
    });
  });
<% end %>
