<div class="container container-content">
  <div class="history-list-wrapper">
    <div class="history-list-head clearfix">
      <span class="title pull-left">History</span>
      <div class="dropdown pull-right">
        Sort by:
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          All
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Action</th>
          <th>Title</th>
          <%# <th>Item</th> %>
          <th>Date</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |activity| %>
          <tr>
            <td>
              <% if activity.action == "view" %>
                <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>
              <% if activity.action == "login" %>
                <span class="glyphicon glyphicon-log-in"></span>
              <% end %>
              <% if activity.action == "logout" %>
                <span class="glyphicon glyphicon-log-out"></span>
              <% end %>
              <% if activity.action == 'download' %>
                <span class="glyphicon glyphicon-download"></span>
              <% end %>
            </td>
            <td><%= activity.title %></td>
            <%# <td>Module 2, Grade 8, Lesson 3</td> %>
            <td><%= activity.created_at.strftime('%b %d, %Y') %></td>
            <td>
              <% link = activity_item_link(activity) %>
              <% if link.present? %>
                <a href="<%= link %>" class="btn btn-primary">View Item</a>
              <% end %>
            </td>
            <td>
              <%= link_to account_remove_history_path(activity.id), remote: true, data: { confirm: 'Are you sure?', method: :delete } do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @activities %>
  </div>
</div>
