<%= form_for([:cms, @job], class: 'form') do |f| %>
  <p>
    Status: <%= @job.draft_status %>
  </p>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Title</label>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Content</label>
    <%= f.text_area :content_draft, class: 'form-control rich-editor', rows: 3 %>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= f.check_box :display %>
        Display
      </label>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit 'Save Draft', class: 'btn btn-success' %>
  </div>

  <% if @job.persisted? %>
    <%= link_to 'Publish', publish_cms_job_path(@job), class: 'btn btn-primary', data: { method: :post, confirm: 'Are you sure to publish? (Make sure you save the draft first)' } %>
    <%= link_to 'Preview', preview_cms_job_path(@job), class: 'btn btn-default', target: '_blank' %>
  <% end %>
<% end %>
