<%= form_for([:cms, @footer_title], class: 'form') do |f| %>
  <% if @footer_title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@footer_title.errors.count, "error") %> prohibited this footer_title from being saved:</h2>

      <ul>
      <% @footer_title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-heading padding-top--s padding-bottom--s">
      <h3 class="panel-title panel-title--s">Footer Titles</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :link %>
            <%= f.text_field :link, class: 'form-control' %>
            <p class="help-text">Leave this field blank if the title is not link.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit class: 'btn btn-success btn-block-xs' %>
<% end %>
