<% f.object.init_custom_fields %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= f.fields_for :custom_field_values do |custom_field_value_form| %>
      <%= custom_field_value_form.hidden_field :custom_field_id %>
      <% custom_field = custom_field_value_form.object.custom_field %>
      <div class="custom-field-wrapper" data-subjects="<%= custom_field.subject %>" data-user-titles="<%= custom_field.user_title %>">
        <div class="form-group">
          <label><%= custom_field.name %></label>
          <% if custom_field.field_type == 'short_text' %>
            <%= custom_field_value_form.text_field :value, class: 'form-control' %>
          <% elsif custom_field.field_type == 'long_text' %>
            <%= custom_field_value_form.text_area :value, class: 'form-control' %>
          <% elsif custom_field.field_type == 'select' %>
            <div class="select-container dark-select block">
              <span>Select your <%= custom_field.name %></span>
              <%= custom_field_value_form.select :value, options_for_select(custom_field.custom_field_options.map{|op| [op.label, op.value] }, custom_field_value_form.object.value), { prompt: "Select your #{custom_field.name}" }, class: 'form-control'  %>
            </div>
          <% elsif custom_field.field_type == 'multiple_select' %>
            <%= custom_field_value_form.select :values, options_for_select(custom_field.custom_field_options.map{|op| [op.label, op.value] }, custom_field_value_form.object.values), {}, class: 'form-control multiple-select-custom-field', multiple: true, placeholder: 'Select one or more'  %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
