  <% if spree_current_user %>
    <li>
      <span class="hello-text">Hello,</span> <%= active_link_to spree_current_user.full_name, main_app.account_products_path %>
    </li>

    <% if spree_current_user.delegate_user_id? && !ghost_login? %>
      <li>
        <%= link_to 'Manage Licenses as Admin', main_app.account_ghost_login_path, class: 'btn btn-primary btn-sm', data: { method: :post } %>
      </li>
    <% end %>
  <% end %>

  <% if spree_current_user %>
    <li>
      <%= active_link_to "Logout", '/store/logout' %>
    </li>
  <% else %>
    <li>
      <%= active_link_to "Login", '/store/login' %>
    </li>
  <% end %>

  <li id="link-to-cart" data-hook>
    <noscript>
      <%= link_to Spree.t(:cart), '/cart' %>
    </noscript>
    &nbsp;
  </li>
  <script>
    if(typeof Spree !== 'undefined') {
      Spree.fetch_cart()
    } else {
      Gm.fetch_cart()
    }
  </script>
