  <% if spree_current_user %>
    <li>
      <%= active_link_to "My Dashboard", main_app.account_products_path, class: 'link-dashboard' %>
    </li>

    <% if spree_current_user.delegate_user_id? && !ghost_login? %>
      <li>
        <%= link_to 'Manage Licenses as Admin', main_app.account_ghost_login_path, class: 'btn btn-primary btn-sm', data: { method: :post } %>
      </li>
    <% end %>
    <% if ghost_login? || admin_ghost_login? %>
      <li>
        <%= link_to 'Return to My Account', main_app.account_ghost_back_path, class: 'btn btn-primary btn-sm', data: { method: :post } %>
      </li>
    <% end %>
  <% end %>

  <% if spree_current_user %>
    <li>
      <%= active_link_to "Logout", '/store/logout' %>
    </li>
  <% else %>
    <li>
      <%= active_link_to "Login", '/store/login' %>
    </li>
  <% end %>

  <li id="link-to-cart" data-hook>
    <noscript>
      <%= link_to Spree.t(:cart), '/cart' %>
    </noscript>
    &nbsp;
  </li>
  <script>
    window.onload = function() {
      if(typeof Spree !== 'undefined') {
        Spree.fetch_cart()
      } else {
        Gm.fetch_cart()
      }
    };
  </script>
