<div class="col-xs-12">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="page-header">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

    <%
      paginated_products = @searcher.retrieve_products if params.key?(:keywords)
      paginated_products ||= products
    %>

    <% content_for :head do %>
      <% if paginated_products.respond_to?(:num_pages) %>
        <%= rel_next_prev_link_tags paginated_products %>
      <% end %>
    <% end %>

    <div data-hook="products_search_results_heading">
      <% if products.empty? %>
        <div data-hook="products_search_results_heading_no_results_found">
          <%= Spree.t(:no_products_found) %>
        </div>
      <% elsif params.key?(:keywords) %>
        <div data-hook="products_search_results_heading_results_found">
          <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
        </div>
      <% end %>
    </div>

    <% if products.any? %>
      <div id="products" data-hook class="col-sm-6 col-md-7 col-lg-8 col-lg-offset-halfone">
        <div class="row">
          <% products.each do |product| %>
            <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
            <div id="product_<%= product.id %>" class="col-md-6 product-list-item" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
              <div class="product-wrapper">
                <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
                  <div class="product-body flip-container">
                    <div class="flipper">
                      <div class="flip-front">
                        <%= link_to truncate(product.name, length: 50), url, class: 'product-title', itemprop: "name", title: product.name %>
                        <button class="btn btn-info flip-btn">
                          <i class="fa fa-plus flip-icon"></i>
                        </button>
                      </div>
                      <div class="flip-back blue-bg">
                        <p><%= product.description %></p>
                        <button class="btn btn-info flip-btn">
                          <i class="fa fa-plus flip-icon"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="product-footer">
                    <span class="product-type">Lorem</span>
                    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-price pull-right">
                      <span class="price selling" itemprop="price"><%= link_to display_price(product), url %></span>
                    </span>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <% reset_cycle("classes") %>
      </div>
    <% end %>

    <% if paginated_products.respond_to?(:num_pages) %>
      <%= paginate paginated_products, theme: 'twitter-bootstrap-3' %>
    <% end %>
  </div>

  <div class="row row-img-full" style="background-image: url('http://gm-s3-qa.intridea.com/documents/attachments/000/000/017/original/productspage-content1.jpg?1442948339')">
    <div class="row-img-full-content">
      <div class="col-xs-12"></div>
    </div>
  </div>
</div>
