<% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
<div id="product_<%= product.id %>" class="col-md-12 product-list-item" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
  <div class="product-wrapper">
      <div class="row">
        <div class="col-md-9">
          <span class="product-type <%= product_type_class(product) %>"><%= product.curriculum.try(:name) || 'General' %></span>
          <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
            <h5 class="product-title margin-top">
              <% if product.group_product? %>
                <%= link_to truncate(product.name, length: 50), group_product_path(product), itemprop: "name", title: product.name %>
              <% else %>
                <%= link_to truncate(product.name, length: 50), url, itemprop: "name", title: product.name %>
              <% end %>
            </h5>
            <p class="product-description">
              <%= product.short_description %>
              <% if product.group_product? %>
                <%= link_to "Learn More", group_product_path(product), itemprop: "name", title: product.name %>
              <% else %>
                <%= link_to "Learn More", url, itemprop: "name", title: product.name %>
              <% end %>
            </p>
          <% end %>
        </div>

        <div class="col-md-3 product-actions">
          <span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-price">
            <strong itemprop="price">
              <%= product_display_price(product) %>
            </strong>
          </span>
          <% if product.group_product? %>
            <%= link_to 'Explore Options', group_product_path(product), class: 'btn btn-primary product-btn-primary' %>
          <% elsif product.partner_product? && product.redirect_url.present? %>
            <%= link_to 'Visit Site', product.redirect_url, target: '_blank', class: 'btn btn-primary product-btn-primary', :data => { :toggle => 'modal', :redirect => product.redirect_url, :target => '.partner-modal' } %>
          <% else %>
            <%= link_to "Add to cart", url, class: 'btn btn-primary product-btn-primary' %>
          <% end %>
        </div>
      </div>
  </div>
</div>
