<nav id="categoryFilters" class="panel-group" data-hook>
  <h3 class="text-left">Shop</h3>

  <%= form_tag '', method: :get do %>
    <% params[:taxon_ids].each do |taxon_id| %>
      <%= hidden_field_tag 'taxon_ids[]', taxon_id %>
    <% end  %>
    <%= text_field_tag :q, params[:q], class: "form-control form-control-search margin-bottom--l", placeholder: "Search" %>
  <% end %>

  <h4 class="text-left bh4">I am a:</h4>

  <% @taxonomies.where(name: 'I am a...').each do |taxonomy| %>
    <div class="dropdown dropdown-ol">
      <button class="btn btn-default btn-block dropdown-toggle dropdown-ol-btn margin-bottom--m" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Role
        <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
      </button>
      <%= gm_taxons_tree(taxonomy.root, @taxon, taxonomy.allow_multiple_taxons_selected) %>
    </div>
  <% end %>

  <h4 class="text-left bh4">Looking for:</h4>

  <% @taxonomies.where.not(name: 'I am a...').each do |taxonomy| %>
    <div class="dropdown dropdown-ol">
      <button class="btn btn-default btn-block dropdown-toggle dropdown-ol-btn margin-bottom--m" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= taxonomy.name %>
        <i class="dropdown-ol-mi mi md-24 toggle-arrow">keyboard_arrow_down</i>
      </button>
      <%= gm_taxons_tree(taxonomy.root, @taxon, taxonomy.allow_multiple_taxons_selected) %>
    </div>
  <% end %>

</nav>
<a id="removeAllFilters" href="/store/?remove_all=1" class="btn btn-danger btn-block collapse">Remove All</a>
