<fieldset id="password-credentials">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>First Name</label>
        <%= f.text_field :first_name, :class => 'form-control', :placeholder => Spree.t(:first_name), tabindex: 1 %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Last Name</label>
        <%= f.text_field :last_name, :class => 'form-control', :placeholder => Spree.t(:last_name), tabindex: 2 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Email Address</label>
        <% f.object.email ||= params[:email] %>
        <%= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email), tabindex: 3 %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Password</label>
        <%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password), tabindex: 4 %>
      </div>
    </div>
  </div>
  <% if is_located_in_usa? %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Zip Code</label>
        <%= f.text_field :zip_code, class: 'form-control', tabindex: 5 %>
        <%= f.hidden_field :ip_location, value: 'US' %>
      </div>
    </div>
  </div>
  <% else %>
      <%= f.hidden_field :ip_location, value: '' %>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label><%= f.check_box :allow_communication %> Receive Newsletter and updates </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Subject(s) you are interested in</label>
        <%= f.collection_select :interested_subjects, Curriculum.visibles, :id, :name, { include_hidden: false, multiple: true }, { class: 'form-control', tabindex: 5, multiple: 'multiple', placeholder: "Select one or more" } %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Role</label>
        <div class="select-container dark-select block">
          <span>Select your Role</span>
          <%= f.select :title, options_for_select(USER_TITLES, f.object.title), { prompt: 'Please select your role' }, { class: 'form-control', tabindex: 6 } %>
        </div>
      </div>
    </div>
  </div>
  <div class="row hide" id="phone-field">
    <div class="col-md-6">
      <div class="form-group">
        <label>Phone</label>
        <%= f.text_field :phone, class: 'form-control', placeholder: '123-123-1234' %>
      </div>
    </div>
  </div>

  <%= render partial: 'spree/shared/custom_field_values_form', locals: { f: f }  %>
  <hr />
</fieldset>

<div class="school-district-details collapse">
  <h2>Let's get some specifics about your school</h2>

  <% selected_place_type = params[:spree_user].try(:[], :school_district_attributes).try(:[], :place_type) %>
  <% f.object.school_district ||= SchoolDistrict.new(place_type: (selected_place_type || 'school')) %>

  <div id="schoolDistrictSelect">
    <p>Is this a school or a district?</p>
    <div class="form-group">
      <%= f.fields_for :school_district do |school_district_form| %>
        <div class="radio">
          <label>
            <%= school_district_form.radio_button :place_type, 'school' %>
            This is a School
          </label>
        </div>
        <div class="radio">
          <label>
            <%= school_district_form.radio_button :place_type, 'district' %>
            This is Multiple Schools/District
          </label>
        </div>
      <% end %>
    </div>
  </div>


  <% us_country = Spree::Country.find_by(iso: 'US') %>

  <% selected_country_id = params[:spree_user].try(:[], :school_district_attributes).try(:[], :country_id) || us_country.id %>
  <% selected_country = Spree::Country.find_by(id: selected_country_id) %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Country</label>
        <div class="school-district select-container dark-select block">
          <span><%= selected_country.name %></span>
          <%= f.fields_for :school_district do |school_district_form| %>
            <%= school_district_form.collection_select :country_id, country_list, :id, :name, { selected: selected_country_id  } , { class: 'form-control' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% us_selected = (selected_country_id.to_i == us_country.id) %>
  <div id="state-input-wrapper" class="row <%= 'hide' if !us_selected %>">
    <div class="col-md-6">
      <div class="form-group">
        <label>State</label>
        <div class="form-group school-district select-container dark-select block">
          <% selected_state_id = params[:spree_user].try(:[], :school_district_attributes).try(:[], :state_id) %>
          <% selected_state_name = Spree::State.find_by(id: selected_state_id).try(:name) %>
          <span><%= selected_state_name ? selected_state_name : 'Select a State' %></span>
          <%= f.fields_for :school_district do |school_district_form| %>
            <%= select_tag 'spree_user[school_district_attributes][state_id]', options_from_collection_for_select(us_country.states, :id, :name, selected_state_id), prompt: 'Select a State', class: 'form-control', disabled: !us_selected %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="city-row">
    <div class="col-md-6">
      <div class="form-group">
        <label>City</label>
        <%= f.fields_for :school_district do |school_district_form| %>
          <%= school_district_form.text_field :city, class: 'form-control' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row collapse <%= 'in' if f.object.school_district.place_type == 'district' %> fade" id="rowDistrictSelect">
    <div class="col-md-6">
      <div class="form-group">
        <label>Select a District</label>
        <%= f.hidden_field :district_id, class: 'form-control', value: default_school_district_id_value(f.object.school_district, 'district', f.object.district_id) %>
      </div>
    </div>
      <div class="col-md-6">
        <p class="district-not-found js-none">
          <%= mi.info.md_18 %> It looks like we don't have a match for that name. Please try again or help us by <a href="#" class="add-district-link">adding your district</a>.
        </p>
      </div>
  </div>

  <div class="row collapse <%= 'in' if f.object.school_district.place_type == 'school' %>  fade" id="rowSchoolSelect">
    <div class="col-md-6">
      <div class="form-group">
        <label>Select a School</label>
        <%= f.hidden_field :school_id, class: 'form-control', value: default_school_district_id_value(f.object.school_district, 'school', f.object.school_id) %>
      </div>
    </div>
    <div class="col-md-6">
      <p class="school-not-found js-none">
        <%= mi.info.md_18 %> It looks like we don't have a match for that name. Please try again or help us by <a href="#" class="add-school-link">adding your school</a>.
      </p>
    </div>
  </div>

  <p class='select-state-city-tooltip collapse'>Please select a state and city</p>

  <div class="input-group add-district-field collapse fade" id="rowAddDistrict">
    <%= f.fields_for :school_district do |school_district_form| %>
      <%= school_district_form.text_field :name, class: 'form-control school-district-control', placeholder: 'New District Name', readonly: false %>
    <% end %>
    <span class="input-group-btn">
      <button type="button" class="btn btn-danger" id="closeAddDistrict"><i class="mi">close</i></button>
    </span>
  </div>

  <div class="input-group add-school-field collapse fade" id="rowAddSchool">
    <% f.object.school_district ||= SchoolDistrict.new(place_type: 'school') %>
    <%= f.fields_for :school_district do |school_district_form| %>
      <%= school_district_form.text_field :name, class: 'form-control school-district-control', placeholder: 'New School Name', readonly: false %>
    <% end %>
    <span class="input-group-btn">
      <button type="button" class="btn btn-danger" id="closeAddSchool"><i class="mi">close</i></button>
    </span>
  </div>

</div>
<div data-hook="signup_below_password_fields"></div>

<script type="text/javascript">
  window.us_country_id = '<%= us_country.id %>';

  $(document).ready(function() {
    var interest = <%= params.try(:[], :interest) == 'math' ? '1' : params.try(:[], :interest) == 'english' ? '2' : '0' %>;
    <%= '$("#spree_user_title").val("Parent").change();'.html_safe if params.try(:[], :title) == 'parent' %>

    <% unless params[:interest].nil? %>
      $('#spree_user_interested_subjects').val([interest]).change();
    <% end %>
  });
</script>
