<fieldset id="password-credentials">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>First Name</label>
        <%= f.text_field :first_name, :class => 'form-control', :placeholder => Spree.t(:first_name), tabindex: 1 %>
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <%= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email), tabindex: 3 %>
      </div>
      <label>Subject</label>
      <div class="form-group select-container dark-select block">
        <span>Subject you are interested in</span>
        <%= f.select :interested_subject, options_for_select(Spree::User::SUBJECTS, f.object.interested_subject), { prompt: 'Please select interested subject' }, { class: 'form-control', tabindex: 5 } %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Last Name</label>
        <%= f.text_field :last_name, :class => 'form-control', :placeholder => Spree.t(:last_name), tabindex: 2 %>
      </div>
      <div class="form-group">
        <label>Password</label>
        <%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password), tabindex: 4 %>
      </div>
      <label>Role</label>
      <div class="form-group select-container dark-select block">
        <span>Select your Role</span>
        <%= f.select :title, options_for_select(USER_TITLES, f.object.title), { prompt: 'Please select your role' }, { class: 'form-control', tabindex: 6 } %>
      </div>
    </div>
  </div>
  <hr />
</fieldset>
<div class="school-district-details collapse">
  <h2>Let's get some specifics about your school</h2>
  <div id="schoolDistrictSelect" class="collapse">
    <p>Is this a school or a district?</p>
    <div class="form-group">
      <div class="radio">
        <% f.object.school_district ||= SchoolDistrict.new(place_type: 'school') %>
        <%= f.fields_for :school_district do |school_district_form| %>
          <label>
          <%= school_district_form.radio_button :place_type, 'school' %>
          This is a School
        </label>
        <label>
          <%= school_district_form.radio_button :place_type, 'district' %>
          This is Multiple Schools/District
        </label>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group school-district select-container dark-select block">
        <label>District State</label>
        <%= f.fields_for :school_district do |school_district_form| %>
          <%= school_district_form.collection_select :state_id, Spree::Country.find_by(iso: 'US').states, :id, :name, { prompt: true } , { class: 'form-control' } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group school-district select-container dark-select block">
        <label>Select District</label>
        <select class="form-control">
          <option>District 1</option>
          <option>District 2</option>
          <option>District 3</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-block">District Not Listed</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group school-district select-container dark-select block">
        <label>Select School</label>
        <%= f.collection_select :school_district_id, SchoolDistrict.school, :id, :name, { prompt: 'Please select your school' }, { class: 'form-control', tabindex: 7 } %>
      </div>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-block">Multiple Schools</button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-block">School Not Listed</button>
    </div>
  </div>
  <div class="form-group add-district-field">
    <label>Add District Name</label>
    <% f.object.school_district ||= SchoolDistrict.new(place_type: 'school') %>
    <%= f.fields_for :school_district do |school_district_form| %>
      <%= school_district_form.text_field :name, class: 'form-control school-district-control', placeholder: 'New District Name' %>
    <% end %>
  </div>
  <div class="form-group add-school-field">
    <label>Add School Name</label>
    <% f.object.school_district ||= SchoolDistrict.new(place_type: 'school') %>
    <%= f.fields_for :school_district do |school_district_form| %>
      <%= school_district_form.text_field :name, class: 'form-control school-district-control', placeholder: 'New School Name' %>
    <% end %>
  </div>
</div>
<div data-hook="signup_below_password_fields"></div>
<script type="text/javascript">
//<![CDATA[
  (function($){
    var schoolOptions = "<%= escape_javascript('<option>Please select your school</option>'.html_safe + options_from_collection_for_select(SchoolDistrict.school, :id, :name)) %>";
    var districtOptions = "<%= escape_javascript('<option>Please select your district</option>'.html_safe + options_from_collection_for_select(SchoolDistrict.district, :id, :name)) %>";

    $(".school-district-input-toggle").click(function(){
      $('.school-district-control').show();
      $(".school-district-input-toggle").hide();
      $("select[name='spree_user[school_district_id]']").val(null);
    });
    $("select[name='spree_user[school_district_id]']").change(function(){
      var value = $(this).val();
      if(value) {
        $('.school-district-control').hide();
        $(".school-district-input-toggle").show();
      }
    });
    $("input[name='spree_user[school_district_attributes][place_type]'").change(function(){
      var selection = $(this).val();
      if (selection == 'school') {
        $("select[name='spree_user[school_district_id]']").html(schoolOptions);
      } else if (selection == 'district') {
        $("select[name='spree_user[school_district_id]']").html(districtOptions);
      }
    });
  })(jQuery);
//]]>
</script>
