<fieldset id="password-credentials">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>First Name</label>
        <%= f.text_field :first_name, :class => 'form-control', :placeholder => Spree.t(:first_name) %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Last Name</label>
        <%= f.text_field :last_name, :class => 'form-control', :placeholder => Spree.t(:last_name) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Email Address</label>
        <%= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email) %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Password</label>
        <%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>
      </div> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Select your Role</label>
        <%= f.select :title, options_for_select(Spree::User::TITLES), { prompt: 'Please select your role' }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Select School District</label>
        <%= f.collection_select :school_district_id, SchoolDistrict.all, :id, :name, { prompt: 'Please select your district' }, { class: 'form-control' } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Add District Name</label>
        <% f.object.school_district ||= SchoolDistrict.new(place_type: 'school') %>
        <%= f.fields_for :school_district do |school_district_form| %>
          <%= school_district_form.text_field :name, class: 'form-control school-district-control', placeholder: 'New District Name' %>
        <% end %>
        <div class="school-district-input-toggle">
          District Name <span class="glyphicon glyphicon-plus pull-right"></span>
        </div>
      </div>
    </div>
    <div class="col-md-6 school-district-control">
      <label>District State</label>
      <%= f.fields_for :school_district do |school_district_form| %>
        <%= school_district_form.collection_select :state_id, Spree::Country.find_by(iso: 'US').states, :id, :name, { prompt: true } , { class: 'form-control' } %>
      <% end %>
    </div>
  </div>
  <div class="row school-district-control">
    <div class="col-md-6">
      <label>Is this a school or a district</label>
      <div class="radio">
        <%= f.fields_for :school_district do |school_district_form| %>
          <label>
            <%= school_district_form.radio_button :place_type, 'school' %>
            This is a school
          </label>
          <label>
            <%= school_district_form.radio_button :place_type, 'district' %>
            This is a district
          </label>
        <% end %>
      </div>
    </div>
  </div>
  <hr />
</fieldset>
<div data-hook="signup_below_password_fields"></div>
<script type="text/javascript">
//<![CDATA[
  (function($){
    $(".school-district-input-toggle").click(function(){
      $('.school-district-control').show();
      $(".school-district-input-toggle").hide();
      $("select[name='spree_user[school_district_id]']").val(null);
    });
    $("select[name='spree_user[school_district_id]']").change(function(){
      var value = $(this).val();
      if(value) {
        $('.school-district-control').hide();
        $(".school-district-input-toggle").show();
      }
    });
  })(jQuery);
//]]>
</script>
