<fieldset id="password-credentials">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>First Name</label>
        <%= f.text_field :first_name, :class => 'form-control', :placeholder => Spree.t(:first_name), tabindex: 1 %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Last Name</label>
        <%= f.text_field :last_name, :class => 'form-control', :placeholder => Spree.t(:last_name), tabindex: 2 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Email Address</label>
        <%= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email), tabindex: 3 %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Password</label>
        <%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password), tabindex: 4 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label><%= f.check_box :allow_communication %> Receive Newsletter and updates </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Subjects you are interested in</label>
        <%= f.collection_select :interested_subjects, Curriculum.visibles, :id, :name, { include_hidden: false, multiple: true }, { class: 'form-control', tabindex: 5, multiple: 'multiple' } %>
      </div>
    </div>
    <div class="col-md-6">
      <label>Role</label>
      <div class="form-group select-container dark-select block">
        <span>Select your Role</span>
        <%= f.select :title, options_for_select(USER_TITLES, f.object.title), { prompt: 'Please select your role' }, { class: 'form-control', tabindex: 6 } %>
      </div>
    </div>
  </div>
  <hr />
</fieldset>
<div class="school-district-details collapse">
  <h2>Let's get some specifics about your school</h2>

  <div id="schoolDistrictSelect">
    <p>Is this a school or a district?</p>
    <div class="form-group">
      <div class="radio">
        <% f.object.school_district ||= SchoolDistrict.new(place_type: 'school') %>
        <%= f.fields_for :school_district do |school_district_form| %>
          <label>
            <%= school_district_form.radio_button :place_type, 'school' %>
            This is a School
          </label>
          <label>
            <%= school_district_form.radio_button :place_type, 'district' %>
            This is Multiple Schools/District
          </label>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label>State</label>
      <div class="form-group school-district select-container dark-select block">
        <span>Select a State</span>
        <%= f.fields_for :school_district do |school_district_form| %>
          <%= school_district_form.collection_select :state_id, Spree::Country.find_by(iso: 'US').states, :id, :name, { prompt: true } , { class: 'form-control' } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row collapse fade" id="rowDistrictSelect">
    <div class="col-md-6">
      <div class="form-group">
        <label>Select a District</label>
        <%= f.collection_select :district_id, SchoolDistrict.for_selection.district, :id, :name, { prompt: 'Select a District' }, { class: 'form-control', tabindex: 7 } %>
      </div>
    </div>
  </div>

  <div class="row collapse in fade" id="rowSchoolSelect">
    <div class="col-md-6">
      <div class="form-group">
        <label>Select a School</label>
        <%= f.collection_select :school_id, SchoolDistrict.for_selection.school, :id, :name, { prompt: 'Select a School' }, { class: 'form-control', tabindex: 7 } %>
      </div>
    </div>
  </div>

  <div class="input-group add-district-field collapse fade" id="rowAddDistrict">
    <% f.object.school_district ||= SchoolDistrict.new(place_type: 'district') %>
    <%= f.fields_for :school_district do |school_district_form| %>
      <%= school_district_form.text_field :name, class: 'form-control school-district-control', placeholder: 'New District Name' %>
    <% end %>
    <span class="input-group-btn">
      <button type="button" class="btn btn-danger" id="closeAddDistrict"><i class="mi">close</i></button>
    </span>
  </div>

  <div class="input-group add-school-field collapse fade" id="rowAddSchool">
    <% f.object.school_district ||= SchoolDistrict.new(place_type: 'school') %>
    <%= f.fields_for :school_district do |school_district_form| %>
      <%= school_district_form.text_field :name, class: 'form-control school-district-control', placeholder: 'New School Name' %>
    <% end %>
    <span class="input-group-btn">
      <button type="button" class="btn btn-danger" id="closeAddSchool"><i class="mi">close</i></button>
    </span>
  </div>

</div>
<div data-hook="signup_below_password_fields"></div>

<script type="text/javascript">
  var schoolData = <%= raw school_district_selection_data(SchoolDistrict.for_selection.school).to_json %>;
  var districtData = <%= raw school_district_selection_data(SchoolDistrict.for_selection.district).to_json %>;
</script>
