<nav class="navbar navbar-default navbar-fixed-top subnav">
  <div class="container">
    <div class="navbar-header">
      <span class="subnav-name pull-left hidden"><%= @nav_name || action_name.titleize %></span>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sub-nav">
        <span class="sr-only">Toggle sub navigation</span>
        <span class="glyphicon glyphicon-menu-down"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="sub-nav">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if action_name == 'index' %>">
          <a href="/account">My Products<span class="sr-only">(current)</span></a>
        </li>
        <% if spree_current_user.has_admin_role? %>
          <li>
            <a href="/store/admin ">Store Admin<span class="sr-only">(current)</span></a>
          </li>
        <% end %>
        <% if spree_current_user.has_school_admin_role? %>
          <li class="<%= 'active' if action_name == 'admin' %>">
            <a href="/account/admin">Admin Dashboard<span class="sr-only">(current)</span></a>
          </li>
        <% end %>
        <li class="<%= 'active' if action_name == 'favorites' %>">
          <a href="/account/favorites">Favorites <span class="sr-only">(current)</span></a>
        </li>
        <li class="<%= 'active' if action_name == 'recommended' %>">
          <a href="/account/recommended">Recommended <span class="sr-only">(current)</span></a>
        </li>
        <li class="<%= 'active' if action_name == 'history' %>">
          <a href="/account/history">History <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <%= active_link_to "CMS", '/cms', wrap_tag: :li if current_spree_user && current_spree_user.admin? %>
        </li>
        <li class="<%= 'active' if action_name == 'settings' %>">
          <a href="/account/settings">Settings <span class="sr-only">(current)</span></a>
        </li>
        <li class="<%= 'active' if action_name == 'help' %>">
          <a href="/account/help ">Help<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
