<% if current_spree_user %>
  <div class="subnav js-dashboard-nav">
    <div class="clearfix navbar-collapse-toggle">
      <a href="<%= main_app.account_products_path %>" class="dropdown-toggle js-dashboard-nav-toggle">
        My Dashboard
        <span class="caret"></span>
      </a>
    </div>
    <div class="collapse navbar-collapse dashboard-nav js-dashboard-nav-sections" id="sub-nav">
      <ul>
        <%= active_link_to "My Dashboard", main_app.account_products_path, wrap_tag: :li, class: 'my-resource-link' %>
        <%= active_link_to 'My Resources', main_app.account_resources_path, wrap_tag: :li, class: 'my-resource-link' if $flipper[:my_resources].enabled? %>
        <%= active_link_to "Video Gallery", '/video_gallery', wrap_tag: :li, class: 'video-gallery-link' %>
        <% if spree_current_user.has_admin_role? %>
          <%= active_link_to "Store Admin", '/store/admin', wrap_tag: :li %>
        <% elsif current_spree_user.has_csr_role?%>
          <%= active_link_to "Store Admin", '/store/admin/users', wrap_tag: :li %>
        <% end %>
        <%= active_link_to "Bookmarks", '/account/bookmarks', wrap_tag: :li, class: 'hide' %>
        <%= active_link_to "History", '/account/history', wrap_tag: :li, class: 'hide' %>
        <%= active_link_to "CMS", cms_root_for_user(current_spree_user), wrap_tag: :li if current_spree_user.can_see_cms? %>
        <%= active_link_to "Settings", '/account/settings', wrap_tag: :li %>
        <% if spree_current_user.has_school_admin_role? %>
          <%= active_link_to "License Management", main_app.account_licenses_path, wrap_tag: :li, class: 'js-license-management-link' %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
