<div class="col-sm-10 col-sm-offset-1">
  <ul class="nav nav-tabs margin-bottom--m">
    <li role="presentation">
      <a class="<%= 'active' if params[:slug] == 'in-the-news' %>" href="/in-the-news">News</a>
    </li>
    <li role="presentation">
      <a class="<%= 'active' if params[:slug] == 'data' %>" href="/data">Data Stories</a>
    </li>
    <li role="presentation">
      <a class="<%= 'active' if params[:slug] == 'eureka' %>" href="/math/blog/eureka">Eureka Math Blog</a>
    </li>
    <li role="presentation">
      <a class="<%= 'active' if params[:slug] == 'champions' %>" href="/math/blog/champions">Eureka Math Case Studies</a>
    </li>
    <li role="presentation">
      <a class="<%= 'active' if params[:slug] == 'witwisdom' %>" href="/english/blog/witwisdom">Wit & Wisdom Blog</a>
    </li>
    <li role="presentation">
      <a class="<%= 'active' if params[:slug] == 'case-studies' %>" href="/english/blog/case-studies">Wit & Wisdom Case Studies</a>
    </li>
  </ul>
</div>
