<div class="col-md-3">
  <div class="panel-group margin-bottom--reset">
    <div class="panel panel-default panel-collapsible margin-bottom--s">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-target="#cmsCommerce">Commerce</a>
        </h3>
      </div>
      <div id="cmsCommerce" class="panel-collapse collapse">
        <ul class="nav nav-sidebar list-group">
          <%= active_link_to "Store", '/store/admin', class: 'list-group-item' %>
          <%= active_link_to "Curriculum Shop", '/cms/curriculum_shops', class: 'list-group-item' %>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel-group margin-bottom--reset">
    <div class="panel panel-default panel-collapsible margin-bottom--s">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-target="#cmsEngagement">Custom Engagement</a>
        </h3>
      </div>
      <div id="cmsEngagement" class="panel-collapse collapse">
        <ul class="nav nav-sidebar list-group">
          <%= active_link_to "Dashboard Notifications", '/cms/notification_triggers', class: 'list-group-item' %>
          <%= active_link_to "Recommendations", '/cms/recommendations', class: 'list-group-item' %>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel-group margin-bottom--reset">
    <div class="panel panel-default panel-collapsible margin-bottom--s">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-target="#cmsFAQ">FAQs</a>
        </h3>
      </div>
      <div id="cmsFAQ" class="panel-collapse collapse">
        <ul class="nav nav-sidebar list-group">
          <%= active_link_to "FAQ", '/cms/questions', class: 'list-group-item' %>
          <%= active_link_to "FAQ Categories", '/cms/faq_categories', class: 'list-group-item' %>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel-group margin-bottom--reset">
    <div class="panel panel-default panel-collapsible margin-bottom--s">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-target="#cmsFooter">Footer Content</a>
        </h3>
      </div>
      <div id="cmsFooter" class="panel-collapse collapse">
        <ul class="nav nav-sidebar list-group">
          <%= active_link_to "Footer", '/cms/footer_titles', class: 'list-group-item' %>
          <%= active_link_to "Staff", '/cms/staffs', class: 'list-group-item' %>
          <%= active_link_to "Careers", '/cms/jobs', class: 'list-group-item' %>
          <%= active_link_to "Medium Publications (Blog)", '/cms/medium_publications', class: 'list-group-item' %>
          <%= active_link_to "Contact Topics", '/cms/contact_topics', class: 'list-group-item' %>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel-group margin-bottom--reset">
    <div class="panel panel-default panel-collapsible margin-bottom--s">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-target="#cmsUploads">Links and Uploads</a>
        </h3>
      </div>
      <div id="cmsUploads" class="panel-collapse collapse">
        <ul class="nav nav-sidebar list-group">
          <%= active_link_to "Link Uploads", '/cms/link_files', class: 'list-group-item' %>
          <%= active_link_to "Vanity Url", '/cms/vanity_urls', class: 'list-group-item' %>
          <%= active_link_to "Uploads", '/cms/documents', class: 'list-group-item' %>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel-group margin-bottom--reset">
    <div class="panel panel-default panel-collapsible margin-bottom--s">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-target="#cmsPages">Pages</a>
        </h3>
      </div>
      <div id="cmsPages" class="panel-collapse collapse">
        <ul class="nav nav-sidebar list-group">
          <%= active_link_to "Pages", '/cms/pages', class: 'list-group-item' %>
          <%= active_link_to "Custom Css", '/cms/custom_csses', class: 'list-group-item' %>
          <%= active_link_to "Curriculums", '/cms/curriculums', class: 'list-group-item' %>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel-group margin-bottom--reset">
    <div class="panel panel-default panel-collapsible margin-bottom--s">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-target="#cmsPD2">PD 2</a>
        </h3>
      </div>
      <div id="cmsPD2" class="panel-collapse collapse">
        <ul class="nav nav-sidebar list-group">
          <%= active_link_to "Event Pages", '/cms/event_pages', class: 'list-group-item' %>
          <%= active_link_to "Training Session Types", '/cms/training_type_categories', class: 'list-group-item' %>
        </ul>
      </div>
    </div>
  </div>

  <% #if Rails.env == 'staging' %>
    <%= link_to 'Sync Cms Data To Prod', '/cms/sync', class: 'btn btn-danger btn-block', data: { method: :post, confirm: 'Are you sure to sync data to prod?' } %>
  <% #end %>
</div>
