<div class="col-md-3">
  <ul class="nav nav-sidebar" style="margin-top: 50px;">
    <%= active_link_to "Overview", '/cms', wrap_tag: :li %>
    <%= active_link_to "Pages", '/cms/pages', wrap_tag: :li %>
    <%= active_link_to "Documents", '/cms/documents', wrap_tag: :li %>
    <%= active_link_to "Contacts", '/cms/contacts', wrap_tag: :li %>
    <%= active_link_to "Store", '/store/admin', wrap_tag: :li %>
  </ul>
</div>
