<div class="col-md-3">
  <ul class="nav nav-sidebar">
    <%= active_link_to "Curriculums", '/cms/curriculums', wrap_tag: :li %>
    <%= active_link_to "Pages", '/cms/pages', wrap_tag: :li %>
    <%= active_link_to "Documents", '/cms/documents', wrap_tag: :li %>
    <%= active_link_to "FAQ Categories", '/cms/faq_categories', wrap_tag: :li %>
    <%= active_link_to "FAQ", '/cms/questions', wrap_tag: :li %>
    <%= active_link_to "Recommendations", '/cms/recommendations', wrap_tag: :li %>
    <%= active_link_to "Contact Topics", '/cms/contact_topics', wrap_tag: :li %>
    <%= active_link_to "User Profile Settings", '/cms/user_profile_settings', wrap_tag: :li %>
    <%= active_link_to "Store", '/store/admin', wrap_tag: :li %>
    <%= active_link_to "Medium Publications (Blog)", '/cms/medium_publications', wrap_tag: :li %>
    <%= active_link_to "Event Pages", '/cms/event_pages', wrap_tag: :li %>
    <%= active_link_to "Training Session Types", '/cms/event_trainings', wrap_tag: :li %>
    <%= active_link_to "Notifications", '/cms/notification_triggers', wrap_tag: :li %>
    <%= active_link_to "Download Pages", '/cms/download_pages', wrap_tag: :li %>
    <%= active_link_to "Careers", '/cms/jobs', wrap_tag: :li %>
    <%= active_link_to "Staffs", '/cms/staffs', wrap_tag: :li %>
    <%= active_link_to "Footer", '/cms/footer_titles', wrap_tag: :li %>
    <%= active_link_to "Curriculum Mails", '/cms/curriculum_mails', wrap_tag: :li %>
  </ul>
</div>
