<div class="col-md-3">
  <ul class="nav nav-sidebar" style="margin-top: 50px;">
    <%= active_link_to "Overview", '/cms', wrap_tag: :li %>
    <%= active_link_to "Pages", '/cms/pages', wrap_tag: :li %>
    <%= active_link_to "Documents", '/cms/documents', wrap_tag: :li %>
    <%= active_link_to "QA", '/cms/questions', wrap_tag: :li %>
    <%= active_link_to "Recommendations", '/cms/recommendations', wrap_tag: :li %>
    <%= active_link_to "Contact Topics", '/cms/contact_topics', wrap_tag: :li %>
    <%= active_link_to "User Profile Settings", '/cms/user_profile_settings', wrap_tag: :li %>
    <%= active_link_to "Store", '/store/admin', wrap_tag: :li %>
    <%= active_link_to "Medium Publications (Blog)", '/cms/medium_publications', wrap_tag: :li %>
    <%= active_link_to "Notifications", '/cms/notification_triggers', wrap_tag: :li %>
  </ul>
</div>
