<ul class="dropdown-menu">
  <%group_page = Page.find_by(group_name: page.group_name, group_root: true) %>
  <% sub_nav_items = Page.show_in_sub_navigation(page.group_name) %>
  <li><%= active_link_to page.title, "/#{page.slug}", active: (request.path == "/#{page.slug}") %></li>
  <% sub_nav_items.each do |sub_page| %>
    <% if sub_page.slug == 'math/pd' %>
      <li>
        <%= link_to sub_page.title, 'https://greatminds.org/math/pd' %>
      </li>
    <% elsif page.group_name == 'english' && page.title.downcase == 'professional learning'  %>
      <li>
        <%= link_to page.title, 'https://ww.greatminds.org/professional-learning' %>
      </li>
    <% else %>
      <%= active_link_to sub_page.title, "/#{sub_page.slug}", wrap_tag: :li %>
    <% end %>
  <% end %>
  <% if group_page && group_page.shop %>
    <li><%= link_to group_page.shop.title, group_page.shop.url  %></li>
  <% end %>

  <% if group_page %>
    <li><a href= '<%= generate_webinar_url group_page %>'>Webinars</a></li>
  <% end %>
  <% if group_page && blog = group_page.blogs.displayable.first %>
    <%= active_link_to 'Blog', curriculum_blog_mobile(group_page), wrap_tag: :li, active: /#{group_page.slug}\/blog\/#{blog.slug}/ %>
    <% # we need to check if this is totally ok, maybe, we need to add a new section for create extra subnav links %>
    <% if (bl = group_page.blogs.displayable.last) != blog && group_page.slug == "math" %>
      <% if bl.slug != 'champions' %>
        <%= active_link_to bl.title, main_app.curriculum_blog_path(page_slug: group_page.slug, slug: bl.slug), wrap_tag: :li, active: /#{group_page.slug}\/blog\/#{bl.slug}/ %>
      <% end %>
    <% end %>
  <% end %>
  <% if group_page && event_page = group_page.available_event_pages.first %>
    <%= active_link_to 'Events', main_app.curriculum_events_path(page_slug: group_page.slug, slug: event_page.slug), wrap_tag: :li, active: /#{group_page.slug}\/events\/#{event_page.slug}/ %>
  <% end %>
</ul>
