<footer class="container footer">
  <div class="row footer__content">
    <% FooterTitle.order('position asc').each do |footer_title| %>
      <div class="col-sm-2 footer-section">
        <h6 class="section-lead footer-title">
          <% if footer_title.link.present? %>
            <% title_target = footer_title.title == 'Careers' ? '_blank' : '_self' %>
            <%= link_to footer_title.title, footer_title.link, :class => 'footer-title-link', target: title_target %>
          <% else %>
            <%= footer_title.title %>
          <% end %>
        </h6>
        <ul>
          <% footer_title.footer_links.each do |link| %>
            <li>
              <% if ['Job Openings', 'FAQ'].include?(link.name) %>
                <%= link_to link.name, link.link, :target => '_blank', :class => 'footer-link' %>
              <% elsif link.name == "DATA" %>
                <%= link_to link.name, "#{ENV['HUBSPOT_URL']}/aha/tag/data-stories", :class => 'footer-link' %>
              <% else %>
                <%= link_to link.name, link.link , :class => 'footer-link' %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col-sm-2 footer-section">
      <h6 class="section-lead footer-title"><span class="footer-title-no-link">Connect</span></h6>
      <ul>
        <li>
          <a href="/contact" class="footer-link">
            Contact
          </a>
        </li>
        <li>
          <a href="https://digitalsupport.greatminds.org/hc/en-us" class="footer-link" target="_blank">
            Product Support
          </a>
        </li>
        <li>
          <%= link_to "#{ENV['HUBSPOT_URL']}/great-minds-newsletters", :class => 'footer-link' do %>
            Newsletter
          <% end %>
        </li>
      </ul>
    </div>
    <% if (footer_social_links = build_footer_social_links(@group_page)).present? %>
      <div class="col-sm-2 footer-section">
        <h6 class="section-lead footer-title"><span class="footer-title-no-link">Social Media</span></h6>
        <ul>
          <% footer_social_links.each do |social| %>
            <li>
              <a class="footer-link" href="<%= social[:link] %>" target="_blank">
                <%= social[:title] %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <hr class="footer-rule" />
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-sm-12">
      <p class="footer-attribution col-sm-6">
        <a href="/terms-of-service" class="footer-terms">Terms of Service</a> <span class="footer-attribution-break">|</span> <a href="/privacy-policy" class="footer-terms">Privacy policy</a> <span class="footer-attribution-break">|</span> <a href="https://www.requesteasy.com/5dfa66654e2a1d00045c7cdd" class="footer-terms">CA Residents: Do not sell my info</a> 
      </p>
      <p class="footer-attribution col-sm-6 copyright-content">
        <span class="footer-copyright">Copyright &copy; 2020 Great Minds</span><span class="footer-attribution-break">|</span><span class="footer-copyright">Copyright &copy; 2020 Great Minds PBC</span> 
      </p>
    </div>
  </div>
  <script type="text/javascript">_satellite.pageBottom();</script>
  <!-- this is the end of the footer -->
</footer>
