<!-- Begin Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      Great Minds
    </a>
  </div>
  <div class="collapse navbar-collapse clearfix" id="main-nav">
    <ul class="nav navbar-nav">
      <% Page.curriculum_nav.each do |page| %>
        <%= active_link_to page.group_name.capitalize, "/#{page.slug}", wrap_tag: :li %>
      <% end %>
      <li class="<%= store_active_class %>">
        <%= link_to "Shop", '/store', class: store_active_class %>
      </li>
    </ul>
    <div class="nav-right-options clearfix">
      <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
    </div>
    <%= render 'secondary_nav' %>
  </div>
</nav> <!-- /.navbar -->
