<!-- Begin Navbar -->
<nav class="container navbar navbar-default navbar-primary">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      Great Minds
    </a>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
      <span class="sr-only">Toggle navigation</span>
      <%= mi.menu.css_class('icon-menu') %>
      <%= mi.close.css_class('icon-close') %>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="nav navbar-nav js-main-nav">
      <% cache "header_#{request.path}".to_sym, expires_in: 2.hours do %>
        <% Page.curriculum_nav.each do |page| %>
          <% if page.sub_pages.present? %>
            <li data-primary-nav-item="<%= "#{page.group_name}" %>">
              <a href="<%= "/#{page.slug}" %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= page.group_name %> <span class="caret"></span></a>
              <%= render partial: 'curriculum_dropdown', locals: { page: page } %>
            </li>
          <% else %>
            <li data-primary-nav-item="<%= "#{page.group_name}" %>">
              <a href="<%= "/#{page.slug}" %>"><%= page.group_name %></a>
            </li>
          <% end %>
        <% end %>
      <% end %>
      <li data-primary-nav-item="about" class="<%= 'active' if params[:slug] == 'about' %> not-dropdown">
        <a href="/about"> about</a>
      </li>
      <li data-primary-nav-item="shop" class="not-dropdown store-link js-store-link <%= store_active_class %>">
        <%= link_to "Resources", '/resources', class: store_active_class %>
      </li>
      <li data-primary-nav-item="Request a Quote" class="not-dropdown <%= 'active' if @contact_form.present? %>">
      <a href="/contact#sales">Request a Quote</a>
      </li>
      <li class="search-button not-dropdown">
        <%= form_tag '/search', class: 'nav-search form-inline', method: :get do %>
          <%= text_field_tag :query, nil, class: 'form-control', placeholder: 'Search'  %>
        <% end %>
      </li>
    </ul>
    <%= render 'secondary_nav' %>
    <ul class="nav navbar-nav navbar-right">
      <%= render partial: 'spree/shared/main_nav_bar'%>
    </ul>
  </div>
</nav> <!-- /.navbar -->
