<!-- Begin Navbar -->
<nav class="container navbar navbar-default navbar-primary">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      Great Minds
    </a>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
      <span class="sr-only">Toggle navigation</span>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="nav navbar-nav">
      <% Page.curriculum_nav.each do |page| %>
        <%= active_link_to page.group_name.capitalize, "/#{page.slug}", wrap_tag: :li %>
      <% end %>
      <li class="<%= store_active_class %>">
        <%= link_to "Shop", '/store', class: store_active_class %>
      </li>
      <% if spree_current_user %>
        <li>
          <%= active_link_to "Logout", '/store/logout' %>
        </li>
      <% else %>
        <li>
          <%= active_link_to "Login", '/store/login' %>
        </li>
      <% end %>
    </ul>
    <%= render 'secondary_nav' %>
    <div class="nav navbar-nav navbar-right">
      <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
    </div>
  </div>
</nav> <!-- /.navbar -->
