<% if !@sub_nav_items.blank? %>
  <div class="subnav">
    <div class="clearfix navbar-collapse-toggle">
      <span class="subnav-name pull-left"><%= @page.title if @page %></span>
      <button type="button" class="subnav-toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#sub-nav">
        <span class="sr-only">Toggle sub navigation</span>
        <%= mi.more_vert %>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="sub-nav">
      <ul>
        <% cache [@group_page, request.path], expires_in: 2.hours do %>
          <%= active_link_to @group_page.title, "/#{@group_page.slug}", active: (request.path == "/#{@group_page.slug}"), wrap_tag: :li if @group_page %>
          <% @sub_nav_items.each do |page| %>
            <% if page.slug == 'math/pd' %>
              <li>
                <%= link_to page.title, 'http://gm.greatminds.org/math/pd' %>
              </li>
            <% else %>
              <%= active_link_to page.title, "/#{page.slug}", wrap_tag: :li %>
            <% end %>
          <% end %>
          <% if @group_page && @group_page.shop %>
            <li><%= link_to @group_page.shop.title, @group_page.shop.url  %></li>
          <% end %>
        
          <% if @group_page && @group_page.slug == "math" %>
            <li><a href="https://eurekamath.greatminds.org/webinar-library">Webinars</a></li>
          <% end %>
          <% if @group_page && @group_page.slug == "english" %>
            <li><a href="https://ww.greatminds.org/english/pd">Professional Development</a></li>
          <% end %>

          <% if @group_page && blog = @group_page.blogs.displayable.first %>
            <%= active_link_to 'Blog', curriculum_blog_path(page_slug: @group_page.slug, slug: blog.slug), wrap_tag: :li, active: /#{@group_page.slug}\/blog\/#{blog.slug}/ %>

            <% # we need to check if this is totally ok, maybe, we need to add a new section for create extra subnav links %>
            <% if (bl = @group_page.blogs.displayable.last) != blog && @group_page.slug == "math" %>
              <%= active_link_to bl.title, curriculum_blog_path(page_slug: @group_page.slug, slug: bl.slug), wrap_tag: :li, active: /#{@group_page.slug}\/blog\/#{bl.slug}/ %>
            <% end %>
          <% end %>

          <% if @group_page && @group_page.slug == "english" %>
            <%= active_link_to "Case Studies", "/english/blog/case-studies", active: (request.path == "/english/blog/case-studies"), wrap_tag: :li %>
          <% end %>

          <% if @group_page && event_page = @group_page.available_event_pages.first %>
            <%= active_link_to 'Events', curriculum_events_path(page_slug: @group_page.slug, slug: event_page.slug), wrap_tag: :li, active: /#{@group_page.slug}\/events\/#{event_page.slug}/ %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
