<% if !@sub_nav_items.blank? %>
  <nav class="navbar navbar-default navbar-fixed-top subnav">
    <div class="container">
      <div class="navbar-header clearfix">
        <span class="subnav-name pull-left hidden"><%= @page.title if @page %></span>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sub-nav">
          <span class="sr-only">Toggle sub navigation</span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="sub-nav">
        <ul class="nav navbar-nav">
          <%= active_link_to @group_page.title, "/#{@group_page.slug}", active: (request.path == "/#{@group_page.slug}"), wrap_tag: :li if @group_page %>
          <% @sub_nav_items.each do |page| %>
            <%= active_link_to page.title, "/#{page.slug}", wrap_tag: :li %>
          <% end %>
          <%= active_link_to "Video Gallery", '/video_gallery', wrap_tag: :li if current_spree_user %>
          <% if @group_page && publication = @group_page.medium_publications.sorted.first %>
            <%= active_link_to 'Blog', curriculum_blog_path(page_slug: @group_page.slug, slug: publication.slug), wrap_tag: :li, active: /#{@group_page.slug}\/blog/ %>
          <% end %>
          <% if @group_page && event_page = @group_page.event_page %>
            <%= active_link_to 'Events', page_events_path(page_slug: @group_page.slug), wrap_tag: :li, active: /#{@group_page.slug}\/events/ %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
<% end %>
