<%= form_for([:cms, @training_type_category], class: 'form') do |f| %>
  <% if @training_type_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training_type_category.errors.count, "error") %> prohibited this training_type_category from being saved:</h2>

      <ul>
      <% @training_type_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-primary">
    <div class="panel-heading padding-top--s padding-bottom--s">
      <h3 class="panel-title panel-title--s">Training Session Type Category</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label 'Default Category' %>
            <%= f.check_box :is_default, class: 'form-control' %>
            <p class="help-block">Default category will be available from /events/trainings</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :slug %>
            <%= f.text_field :slug, class: 'form-control' %>
            <p class="help-block">Non Default Category will be visited with /events/category-slug/trainings</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control rich-editor' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit class: 'btn btn-success btn-block-xs' %>
<% end %>
