<div class="tile-row clearfix" style="margin: 10px 0; border: 1px solid #eee; padding: 5px;">
  <div class="head">
    <%= data.rowType %>
    <a class="btn btn-default pull-right remove-row-btn">X</a>
  </div>
  <div class="form">
    <div class="form-group">
      <label>Position</label>
      <input type="text" class="form-control input-small" data-name="position" value="<%= data['position'] || 0 %>"/>
    </div>
    <% for(var i=0; i<fields.length; i++) {%>
      <div class="form-group">
        <label><%= fields[i].label %></label>
        <% if(fields[i].input_type == 'text') { %>
          <input type="text" class="form-control title-input" data-name="<%= fields[i].name %>" value="<%= data[fields[i].name] %>"/>
        <% } %>
        <% if(fields[i].input_type == 'text_area') { %>
          <textarea data-name="<%= fields[i].name %>" rows="3" class="form-control cleditor"><%= data[fields[i].name]%></textarea>
        <% } %>
        <% if(fields[i].input_type == 'select') { %>
          <select name="" data-name="<%= fields[i].name %>" class="form-control">
            <% for(var j=0; j < fields[i].input_options.length; j ++) { %>
              <option value="<%= fields[i].input_options[j] %>"  <% if(data[ fields[i].name ] == fields[i].input_options[j]) { %> selected <% } %>  ><%= fields[i].input_options[j] %></option>
            <% } %>
          </select>
        <% } %>
      </div>
    <% } %>
  </div>
</div>
