<%= render 'cms_nav' %>

<div class="col-md-9">
  <section>
    <div class="row">
      <h2>QA</h2>
      <%= link_to 'New QA', new_cms_question_path, class: 'btn btn-primary' %>
      <table class='table table-responsive table-striped table-hover'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Display</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td><%= question.title %></td>
              <td><%= question.display %></td>
              <td>
                <%= link_to 'Edit', edit_cms_question_path(question), class: 'btn btn-default' %>
              </td>
              <td>
                <%= link_to 'Delete', cms_question_path(question), class: 'btn btn-default', data: { confirm: 'Are you sure?', method: :delete } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>
