<% @body_id = 'login' %>
<div class="col-md-8 login-container <%= request.path == spree.login_path ? "col-md-offset-2" : "" %>">
  <div id="sign-in-wrapper">
    <h1>Sign in</h1>
    <div id="existing-customer" class="margin-top--reset" data-hook="login">
      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>
      <%= render :partial => 'spree/shared/login' %>
      <div data-hook="login_extras"></div>
    </div>
  </div>
  <div class="text-center signup-link-wrapper">
    <p>On May 10, 2021, Great Minds posted an updated <%= link_to 'Privacy Policy', '/privacy-policy' %> applicable to the Great Minds Website, as well as Great Minds digital platforms like in Sync. By accessing the Great Minds Website or any Great Minds digital platform you agree to these updates.</p>
  </div>
  <div class="text-center signup-link-wrapper">
    <p>Don't have an account? <%= link_to 'Sign Up', spree.signup_path %></p>
  </div>
  <div class=" text-center sign-in-forgot-password-wrapper">
    <p><%= link_to Spree.t(:forgot_password), spree.recover_password_path %></p>
  </div>
</div>
