<%= render 'cms_nav' %>

<div class="col-md-9">
  <h2>Download Page Lists</h2>
  <%= link_to 'Create new download page', new_cms_download_page_path, class: 'btn btn-primary margin-bottom--xl' %>
  <div class="table-responsive">
    <table class='table table-striped table-hover'>
      <thead>
        <tr>
          <th>Title</th>
          <th>Url</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @download_pages.each do |download_page| %>
          <tr>
            <td><%= download_page.title %></td>
            <td><%= "/download_pages/#{download_page.slug}" %></td>
            <td><%= link_to 'Manage Products', cms_download_page_download_products_path(download_page) %></td>
            <td><%= link_to 'Edit', edit_cms_download_page_path(download_page) %></td>
            <td>
              <a class="btn btn-default copy-download-page-url-button btn-sm" data-clipboard-text="<%= download_page_url(slug: download_page.slug) %>">Copy Url</a>
            </td>
            <td><%= link_to 'Destroy', [:cms, download_page], method: :delete, data: { confirm: 'Are you sure?' }, class: 'text--danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <%= paginate @download_pages %>
</div>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      var client = new ZeroClipboard( $('.copy-download-page-url-button') );
      client.on( 'ready', function(event) {
        client.on( 'copy', function(event) {
          event.clipboardData.setData('text/plain', $(event.target).attr('data-url'));
        });

        client.on( 'aftercopy', function(event) {
          alert('Copied to your clipboard');
        });
      });
    });
  <% end %>
<% end %>
