<%= form_for([:cms, @page], class: 'form') do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :seo_content %>
    <%= f.text_area :seo_content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :slug %>
    <%= f.text_field :slug, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :group_name %>
    <%= f.text_field :group_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sub_group_name %>
    <%= f.text_field :sub_group_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :position %>
    <%= f.number_field :position, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :layout %>
    <%= f.text_field :layout, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :visible %>
    <%= f.check_box :visible, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
