<%= form_for([:cms, @page], html: { class: 'form page-form' }) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>

  <div class="panel panel-primary">
    <div class="panel-body panel-body--padding">
      <div class="row">
        <div class="col-lg-4">
          <ul class="nav nav-tabs margin-bottom--s--lg-min">
            <li class="active">
              <a href="#tiles" data-toggle="tab">Tiles</a>
            </li>
            <li>
              <a href="#metadata" data-toggle="tab">Metadata</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tiles" style="padding: 10px;">
      <%= render partial: 'tiles', locals: { f: f } %>
    </div>
    <div role="tabpanel" class="tab-pane" id="metadata" style="padding: 10px;">
      <%= render partial: 'metadata', locals: { f: f } %>
    </div>
  </div>

  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <% if @page.persisted? %>
          <%= link_to 'Preview', preview_cms_page_path(@page), class: 'btn btn-default', style: 'margin-bottom: 10px;', target: '_blank' %>
        <% end %>

        <%= f.submit 'Save Draft', class: 'btn btn-success btn-block save-page-btn' %>

        <% if @page.persisted? %>
          <%= link_to 'Publish', publish_cms_page_path(@page), class: 'btn btn-primary', data: { method: :post, confirm: 'Are you sure to publish this page? (Make sure you save draft first)', disable_with: 'Publising' } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      MarketingEditorApp.tilesDefinitions = <%= raw Page::TILES.to_json %>;
      var pageView = new MarketingEditorApp.Views.PageView({el: '.page-form', tiles: <%= raw @page.tiles.to_json %>});
    });
  </script>
<% end %>
