<%= form_for([:cms, @page]) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="input-group">
    <%= f.label :seo_content %><br>
    <%= f.text_area :seo_content %>
  </div>
  <div class="input-group">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>
  <div class="input-group">
    <%= f.label :group_name %><br>
    <%= f.text_field :group_name %>
  </div>
  <div class="input-group">
    <%= f.label :sub_group_name %><br>
    <%= f.text_field :sub_group_name %>
  </div>
  <div class="input-group">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="input-group">
    <%= f.label :layout %><br>
    <%= f.text_field :layout %>
  </div>
  <div class="input-group">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="input-group">
    <%= f.label :visible %><br>
    <%= f.check_box :visible %>
  </div>
  <div class="input-group">
    <%= f.submit %>
  </div>
<% end %>
