<%= form_for([:cms, @page], class: 'form') do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :curriculum %>
    <%= f.select :curriculum_id, Curriculum.all.collect{|c| [c.name, c.id]}, { prompt: 'Choose curriculum' }, class: 'form-control' %>
    <p class="help-block">To make sure this page display under subject/curriculum nav, you need to choose curriculum.</p>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :meta_keywords %>
    <%= f.text_field :keywords, class: 'form-control' %>
    <p class="help-block">Separate by commas.</p>
  </div>
  <div class="form-group">
    <%= f.label :meta_description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Unique Url' %>
    <%= f.text_field :slug, class: 'form-control' %>
    <p class="help-block">For example if you enter 'about' here, this page could be visit under /about .</p>
  </div>
  <div class="form-group">
    <%= f.label :group_name %>
    <%= f.text_field :group_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sub_group_name %>
    <%= f.text_field :sub_group_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :position %>
    <%= f.number_field :position, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :layout %>
    <%= f.text_field :layout, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control cleditor', rows: 10 %>
  </div>
  <div class="form-group">
    <%= f.label :group_root %>
    <%= f.check_box :group_root, class: 'form-control' %>
    <p class="help-block">Checked this will make this page as group root, like Math Overview page, which has many sub pages.</p>
  </div>
  <div class="form-group">
    <%= f.label :show_in_nav %>
    <%= f.check_box :show_in_nav, class: 'form-control' %>
    <p class="help-block">Checked this will make this page display under top nav.</p>
  </div>
  <div class="form-group">
    <%= f.label :show_in_footer %>
    <%= f.check_box :show_in_footer, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :visible %>
    <%= f.check_box :visible, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
