<%= form_for([:cms, @page], html: { class: 'form page-form' }) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>

    <div class="panel panel-primary">
      <div class="panel-body panel-body--padding">
        <div class="row">
          <div class="col-lg-4">
            <ul class="nav nav-tabs margin-bottom--s--lg-min">
              <li class="active">
                <a href="#tiles" data-toggle="tab">Tiles</a>
              </li>
              <li>
                <a href="#metadata" data-toggle="tab">Metadata</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-8 text-right">
            <% if @page.persisted? %>
              <%= link_to 'Preview Page', preview_cms_page_path(@page), class: 'btn btn-success btn-block-xs margin-bottom--s--sm-min', target: '_blank' %>
            <% end %>
          </div>

        </div>

      </div>
    </div>

    <span class="label label-english margin-bottom">Status: <%= cms_display_status(@page) %></span>

    <div class="tab-content">
      <div class="tab-pane active" id="tiles">
        <%= render partial: 'tiles', locals: { f: f } %>
      </div>
      <div class="tab-pane" id="metadata">
        <%= render partial: 'metadata', locals: { f: f } %>
      </div>
    </div>

  </div>

  <span class="label label-english margin-bottom">Status: <%= cms_display_status(@page) %></span>

  <div class="row">
    <% if @page.persisted? %>
      <div class="col-sm-3">
        <%= link_to 'Preview', preview_cms_page_path(@page), class: 'btn btn-default btn-block margin-bottom--s--sm-min', target: '_blank' %>
      </div>
    <% end %>

    <div class="col-sm-3">
      <%= f.submit 'Save Draft', class: 'btn btn-primary btn-block save-page-btn margin-bottom--s--sm-min' %>
    </div>

    <% if @page.persisted? %>
      <div class="col-sm-3">
        <%= link_to 'Publish Page', publish_cms_page_path(@page), class: 'btn btn-success btn-block margin-bottom--s--sm-min', data: { method: :post, confirm: 'Are you sure to publish this page? (Make sure you save draft first)', disable_with: 'Publising' } %>
      </div>
    <% end %>
  </div>
<% end %>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      MarketingEditorApp.tilesDefinitions = <%= raw Page::TILES.to_json %>;
      var pageView = new MarketingEditorApp.Views.PageView({el: '.page-form', tiles: <%= raw @page.tiles.to_json %>});

      $('.permalink-link').click(function(){
        $(this).blur();
      });
    });
  </script>
<% end %>
