<div class="panel panel-primary">
  <% if @page.persisted? %>
    <div class="panel-heading padding-top--s padding-bottom--s">
      <h3 class="panel-title panel-title--s">
        <% page_url = page_url(slug: @page.slug) %>
        Permalink: <%= link_to page_url, page_url, target: '_blank', class: 'text--lowercase permalink-link' %>
    </h3>
    </div>
  <% end %>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :curriculum %>
          <div class="select-container dark-select block margin-bottom--reset">
            <span>Curriculum</span>
            <%= f.select :curriculum_id, Curriculum.all.collect{|c| [c.name, c.id]}, { include_blank: 'Global', prompt: 'Choose curriculum' }, class: 'form-control' %>
          </div>
          <small class="help-block">To make sure this page display under subject/curriculum nav, you need to choose curriculum.</small>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.label :meta_keywords %>
          <%= f.text_field :keywords, class: 'form-control' %>
          <small class="help-block">Separate keywords using commas.</small>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :meta_description %>
          <%= f.text_field :description, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label 'Unique Url' %>
          <%= f.text_field :slug, class: 'form-control' %>
          <small class="help-block">URL should be entered without leading slash. See the permalink at top of the page for an example of how the full URL can be accessed on the site.</small>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :group_name %>
          <%= f.text_field :group_name, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :sub_group_name %>
          <%= f.text_field :sub_group_name, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :position %>
          <%= f.number_field :position, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :layout %>
          <%= f.text_field :layout, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body_draft, class: "form-control #{@page.body_draft && @page.body_draft.include?('form') ? '' : 'rich-editor'}", rows: 20 %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="checkbox">
          <%= f.label :group_root do %>
            <%= f.check_box :group_root %> Group Root
          <% end %>
          <small class="help-block">Checked this will make this page as group root, like Math Overview page, which has many sub pages.</small>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="checkbox">
          <%= f.label :show_in_nav do %>
            <%= f.check_box :show_in_nav %> Show in Nav
          <% end %>
          <small class="help-block">Checked this will make this page display under top nav.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 margin-bottom--l">
        <div class="checkbox">
          <%= f.label :show_in_footer do %>
            <%= f.check_box :show_in_footer %> Show in Footer
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="checkbox">
          <%= f.label :visible do %>
            <%= f.check_box :visible %> Visible
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
