<div class="table-responsive">
  <table class='table table-striped table-hover'>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %><%= (page.curriculum && params[:q].present?) ? " (#{page.curriculum.name})" : '' %></td>
          <td><span class="label label-english"><%= cms_display_status(page) %></span></td>
          <td><%= link_to 'Edit Detail', edit_cms_page_path(page) %></td>
          <td>
            <% if page.archived? %>
              <%= link_to 'Un-Archive', unarchive_cms_page_path(page), method: :post, data: { confirm: 'Are you sure to unarchive this page?' }, class: 'text--danger' %>
            <% else %>
              <%= link_to 'Archive', archive_cms_page_path(page), method: :post, data: { confirm: 'Are you sure to archive this page?' }, class: 'text--danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @pages %>
