<div class="table-responsive">
  <table class='table table-striped table-hover'>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %></td>
          <td><span class="label label-english"><%= page.draft_status %></span></td>
          <td><%= link_to 'Edit Detail', edit_cms_page_path(page) %></td>
          <td><%= link_to 'Archive', archive_cms_page_path(page), method: :post, data: { confirm: 'Are you sure to archive this page?' }, class: 'text--danger' if !page.archived? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @pages %>
