<%= render 'cms_nav' %>
<div class="col-md-9">
  <h2>Editing Page</h2>
  <% page_url = page_url(slug: @page.slug) %>
  <small class="help-block">Current URL: <%= link_to page_url, page_url, target: '_blank' %></small>

  <%= render 'form' %>

  <%= link_to 'Show', [:cms, @page], class: 'btn btn-default' %>
  <%= link_to 'Back', cms_pages_path, class: 'btn btn-default' %>
</div>
