<%= render 'cms_nav' %>
<div class="col-md-9">
  <h2>Editing Page</h2>

  <div id="editor">
    <div class="row">
      <div class="col-md-6">
        <label>Select Tile Type</label>
        <div class="select-container dark-select block">
          <span>Select Tile Type</span>
          <%= select_tag :row_type, options_for_select(Page::TILES.map{|t| t[:name] }), class: 'row-type-select form-control' %>
        </div>
      </div>
      <div class="col-md-6">
        <label>&nbsp;</label>
        <button class="btn btn-primary btn-block add-tile-row-btn">Add New Tile Row</button>
      </div>
    </div>

    <div class="alert alert-success tile-notice" style="display:none;"></div>

    <div class="alert alert-info"><i class="mi">info_outline</i> Please note: You must assign a unique position to each tile, and save your changes before collapsing tiles will function.</div>

    <div class="rows">
    </div>

    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-success btn-block save-btn">Save</button>
      </div>
      <div class="col-sm-6">
        <%= link_to 'Back', cms_pages_path, class: 'btn btn-default btn-block' %>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      MarketingEditorApp.tilesDefinitions = <%= raw Page::TILES.to_json %>;
      var editor = new MarketingEditorApp.Views.Editor({
        el: '#editor',
        updateUrl: '<%= update_tiles_cms_page_path(@page) %>',
        tilesData: <%= raw @page.tiles.to_json %>
      });
      editor.render();
    });
  </script>
<% end %>
