<%= render 'cms_nav' %>

<div class="col-md-9">
  <%= link_to 'Back', cms_event_page_regonline_events_path(@event_page), class: 'btn btn-primary margin-bottom-xl' %>
  <h2>Edit Event</h2>
  <%= form_for [:cms, @event_page, @event] do |f| %>
    <div class="form-group">
      <label>Title</label>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label>Download Url</label>
      <%= f.text_field :download_url, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label>Grade Bands</label>
      <%= f.text_field :grade_bands, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label>Session Types</label>
      <%= f.collection_select :session_types, EventTraining.all, :id, :title_with_category, { include_hidden: false }, class: 'form-control', multiple: true, placeholder: 'Set session type' %>
    </div>
    <div class="form-group">
      <label>Visible</label>
      <%= f.check_box :display, class: 'form-control' %>
    </div>
    <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>
</div>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      $('#regonline_event_session_types').select2();
    });
  </script>
<% end %>
