<%= render 'cms_nav' %>

<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="panel-body panel-body--padding">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-inline">
            <%= search_form_for @q, url: '', class: 'inline' do |f| %>
              <div class="form-group margin-bottom--reset">
                <%= f.select :curriculums_cont, options_for_select(RegonlineEvent::FILTER_CURRICULUMS, (f.object.curriculums_cont)), { include_blank: 'All Curriculums' }, class: 'form-control' %>
                <%= f.text_field :title_cont, class: 'form-control margin-bottom--s--sm-min', placeholder: 'Search Events' %>
                <%= submit_tag 'Search', class: 'btn btn-primary btn-block-xs margin-bottom--s--sm-min margin-right--reset' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading padding-top--s padding-bottom--s">
      <h3 class="panel-title panel-title--s">Events</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Curriculums</th>
            <th>Visible</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.title.html_safe %></td>
              <td><%= date_range(event.start_date, event.end_date, format: :short) if event.start_date.present? && event.end_date.present? %></td>
              <td><%= event.curriculums %></td>
              <td><%= event.display? ? 'Yes' : 'No' %></td>
              <td><%= link_to 'Edit', edit_cms_event_page_regonline_event_path(@event_page, event) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @events %>
  </div>
</div>
