<!DOCTYPE html>
<html>
  <head>
    <title>GreatMinds <%= "- #{@page_title}" if @page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="account <%= yield :body_class %> <%= 'with-subnav' if @sub_nav_items.present? %>">

    <div id="wrap" class="<%= 'empty-state' if @video_products.blank? %>">
      <%= render 'header' %>
      <%= render 'account_nav' %>
      <%= render 'flashes' %>
      <%= yield %>
      <%= yield :javascripts %>
    </div>
    <%= render 'footer' %>
    <div class="overlay"></div>
  </body>
</html>
