<!DOCTYPE html>
<html>
  <head>
    <title>GreatMinds</title>
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name %>">

    <div id="wrap">
      <%= render 'header' %>
      <%= render 'secondary_nav' %>
      <%= render 'flashes' %>
      <%= yield %>
      <%= render 'footer' %>
      <%= yield :javascripts %>
    </div>

  </body>
</html>
