<!DOCTYPE html>
<html>
  <head>
    <title><%= seo_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <%= favicon_link_tag 'favicon-128.png' %>
    <%= display_meta_tags %>
    <%= canonical_tag if controller_name == 'blog' %>
    <script>
      function loadCSS( href, before, media, callback ){
        "use strict";
        
        var ss = window.document.createElement( "link" );
        var ref = before || window.document.getElementsByTagName( "script" )[0];
        var sheets = window.document.styleSheets;
        ss.rel = "stylesheet";
        ss.href = href;
        
        ss.media = "only x";
        
        if( callback ) {
          ss.onload = callback;
        }

        
        ref.parentNode.insertBefore( ss, ref );
        
        ss.onloadcssdefined = function( cb ){
          var defined;
          for( var i = 0; i < sheets.length; i++ ){
            if( sheets[i].href && sheets[i].href.indexOf( href ) > -1 ){
              defined = true;
            }
          }
          if( defined ){
            cb();
          } else {
            setTimeout(function() {
              ss.onloadcssdefined( cb );
            });
          }
        };
        ss.onloadcssdefined(function() {
          ss.media = media || "all";
        });
        return ss;
      }
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= render 'google_fonts_inline' %>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="dK_DebvSLewL8S2FH_DIBQYgmNFK7tQOROn_eJHBjA0" />
    <%= render 'facebook_pixel_code' if Rails.env.production? %>
    <%= render 'shared/hubspot' %>
    <%= render 'application/adobe_pixel_code' %>
  </head>
  <% cache [controller_name, @page] do %>
    <body class="<%= controller_name %> <%= 'with-subnav' if @sub_nav_items.present? %> <%= yield :body_class %> <%= (@page && !@page.blank_tiles?) ? 'has-tiles' : 'no-tiles' %>" data-page="<%= @page.group_name if @page.present? %>">
  <% end %>
    <%= render 'google_tag_manager' if Rails.env.production? %>
    <%= render 'browser_detect' %>

    <div id="wrap" class="<%= 'empty-state' if @video_products.blank? %>">
      <%= render 'header' %>
      <div class="container container-content">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1" style="min-height: 0">
            <%= render 'flashes' %>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>


    <%= render 'footer' %>
    <div class="overlay"></div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'frontend' %>
    <%= yield :javascripts %>
    <%= render 'shared/lower_screen_popup' %>
    <%= render 'facebook_video' %>
  </body>
</html>
