<!DOCTYPE html>
<html>
<head>
  <title>GreatMinds</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrap">
    <%= render 'header' %>
    <%= render 'flashes' %>
    <div class="container">
      <div id="viewport" class="row">
        <%= yield %>
      </div>
    </div>
    <%= render 'footer' %>
    <%= yield :javascripts %>
  </div>

</body>
</html>
